<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FASK.MST_WINDOWS.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FASK.MST_WINDOWS.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FASK.MST_WINDOWS.Main.Properties.Settings.FASKVyrobaCentralConnectionString" connectionString="Data Source=.\SQL_2008_DEV;Initial Catalog=Agro_fask;Persist Security Info=True;User ID=sa;Password=sasa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <FASK.MST_WINDOWS.Main.Properties.Settings>
            <setting name="VyrobaWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </FASK.MST_WINDOWS.Main.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FASK.MST_WINDOWS.Main.Properties.Settings>
            <setting name="PathToUpdater" serializeAs="String">
                <value>D:\xxx\xxx_2018\MSTW_Update.exe</value>
            </setting>
            <setting name="MST_WINDOWS_CiselnikService_CiselnikService" serializeAs="String">
                <value>http://localhost/MST_Win_Kom_Server_6_alfa/Ciselnik.asmx</value>
            </setting>
            <setting name="MST_WINDOWS_FileTransferServices_FileTransfer" serializeAs="String">
                <value>http://localhost/MST_Win_Kom_Server_6_alfa/FileTransfer.asmx</value>
            </setting>
            <setting name="MST_WINDOWS_ProdejService_ProdejService" serializeAs="String">
                <value>http://localhost/MST_Win_Kom_Server_6_alfa/Prodej.asmx</value>
            </setting>
            <setting name="TimeOut_Ciselniky" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="MST_WINDOWS_LoginService_LoginService" serializeAs="String">
                <value>http://localhost/MST_Win_Kom_Server_6_alfa/LoginService.asmx</value>
            </setting>
        </FASK.MST_WINDOWS.Main.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
