/****** Object:  Table [dbo].[ANET_K2]    Script Date: 08/17/2012 14:51:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ANET_K2](
	[id_zaznamu] [int] IDENTITY(1,1) NOT NULL,
	[cas] [datetime] NULL,
	[typ] [smallint] NOT NULL,
	[data] [varchar](2000) NOT NULL,
	[zprac] [smallint] NULL,
	[cas_zprac] [datetime] NULL,
	[error] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF