/****** Object:  Table [dbo].[FASK_UserEvents]    Script Date: 06/28/2012 10:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FASK_UserEvents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loginid] [nchar](20) NOT NULL,
	[machineid] [nchar](20) NOT NULL,
	[dateeve] [datetime] NOT NULL,
	[statusid] [nchar](10) NOT NULL,
	[faskGUID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserEvents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_FASK_UserEvents_faskGUID] UNIQUE NONCLUSTERED 
(
	[faskGUID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Jednoznačné pořadové číslo zápisu záznamu události obsluhy' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_UserEvents', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID uživatele(osádky), který událost vyvolal' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_UserEvents', @level2type=N'COLUMN',@level2name=N'loginid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID stroje(čárový kód) na kterém událost vznikla' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_UserEvents', @level2type=N'COLUMN',@level2name=N'machineid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum a čas vzniku události' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_UserEvents', @level2type=N'COLUMN',@level2name=N'dateeve'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID statusu z tabulky StatusTypes' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_UserEvents', @level2type=N'COLUMN',@level2name=N'statusid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Globální jednoznačný identifikátor záznamu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_UserEvents', @level2type=N'COLUMN',@level2name=N'faskGUID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Jednoznačné pořadí vzniku záznamu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_UserEvents', @level2type=N'CONSTRAINT',@level2name=N'PK_UserEvents'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Globální unikátní index řádku' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_UserEvents', @level2type=N'CONSTRAINT',@level2name=N'IX_FASK_UserEvents_faskGUID'
GO
/****** Object:  Table [dbo].[FASK_StatusTypes]    Script Date: 06/28/2012 10:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FASK_StatusTypes](
	[statusid] [nchar](10) NOT NULL,
	[statusdesc] [nvarchar](100) NULL,
 CONSTRAINT [PK_StatusTypes] PRIMARY KEY CLUSTERED 
(
	[statusid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FASK_MachineType]    Script Date: 06/28/2012 10:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FASK_MachineType](
	[machinetype] [nvarchar](10) NOT NULL,
	[machinetypename] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FASK_MachineType] PRIMARY KEY CLUSTERED 
(
	[machinetype] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FASK_Logins]    Script Date: 06/28/2012 10:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FASK_Logins](
	[id] [nchar](20) NOT NULL,
	[firstname] [nvarchar](20) NOT NULL,
	[surname] [nchar](50) NOT NULL,
	[psswd] [nchar](10) NOT NULL,
	[rfid] [nchar](20) NULL,
	[barcode] [nchar] (20) NULL,
 CONSTRAINT [PK_Logins] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FASK_Events]    Script Date: 06/28/2012 10:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FASK_Events](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loginid] [nchar](20) NOT NULL,
	[machineid] [nchar](20) NOT NULL,
	[dateeve] [datetime] NOT NULL,
	[qty] [numeric](19, 5) NOT NULL,
	[qtyReal] [numeric](19, 5) NOT NULL,
	[description] [ntext] NULL,
	[barcodeReaded] [nchar](50) NOT NULL,
	[barcodeSended] [nchar](50) NOT NULL,
	[zakazka] [nchar](20) NULL,
	[popis] [nchar](10) NULL,
	[faskGUID] [uniqueidentifier] NOT NULL,
	[reportType] [nchar](1) NOT NULL,
	[isProcessed] [datetime] NULL,
	[IDO] [nchar](10) NULL,
	[scan1] [nvarchar](255) NULL,
	[scan2] [nvarchar](255) NULL,
	[scan3] [nvarchar](255) NULL,
	[sensor] [nvarchar](50) NULL,
	[material] [nvarchar](255) NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Events_faskGUID] UNIQUE NONCLUSTERED 
(
	[faskGUID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Jednoznačné číslo zápisu na sql server' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Events', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID uživatele(Osádka), který záznam vytvoříl (čárový kód)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Events', @level2type=N'COLUMN',@level2name=N'loginid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kód stroje(pracoviště) na kterém záznam o výrobě vznikl' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Events', @level2type=N'COLUMN',@level2name=N'machineid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum a čas vzniku záznamu na pracovišti' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Events', @level2type=N'COLUMN',@level2name=N'dateeve'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Počet kusů výrobku převzatý z průvodního čárového kódu výrobku' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Events', @level2type=N'COLUMN',@level2name=N'qty'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Skutečný počet kusů výrobku potvrzený obsluhou(osádkou)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Events', @level2type=N'COLUMN',@level2name=N'qtyReal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Doplňující informace k odvodu výroby' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Events', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Skutečný čárový kód odeslaný do stroje' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Events', @level2type=N'COLUMN',@level2name=N'barcodeReaded'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Číslo zakázky' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Events', @level2type=N'COLUMN',@level2name=N'zakazka'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Popis výrobku' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Events', @level2type=N'COLUMN',@level2name=N'popis'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Jednoznačný identifikátor záznamu, slouží k synchronizaci přenosu záznamu do centrální databáze' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Events', @level2type=N'COLUMN',@level2name=N'faskGUID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Typ hlášení (Z, D, M, P) D=Dokončovací' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Events', @level2type=N'COLUMN',@level2name=N'reportType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Příznak zpracování, slouží k označení položky jako zpracované pro FUGASOFT' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Events', @level2type=N'COLUMN',@level2name=N'isProcessed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Globální jednoznačný identifikátor záznamu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Events', @level2type=N'CONSTRAINT',@level2name=N'IX_Events_faskGUID'
GO
/****** Object:  Table [dbo].[FASK_Operations]    Script Date: 06/28/2012 10:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FASK_Operations](
	[machinetype] [nvarchar](10) NOT NULL,
	[IDO] [nvarchar](10) NOT NULL,
	[NAZEV] [nvarchar](50) NOT NULL,
	[CK] [nvarchar](30) NOT NULL,
	[SCAN1] [tinyint] NULL,
	[SCAN2] [tinyint] NULL,
	[SCAN3] [tinyint] NULL,
	[SCANZAKAZKA] [tinyint] NULL,
	[SENSOR] [tinyint] NULL,
	[VOLNA] [bit] NULL,
	[START] [bit] NULL,
	[KONEC] [bit] NULL,
	[SPHLAVICKA] [nvarchar](50) NULL,
	[SPINFO] [nvarchar](50) NULL,
	[SPZAKAZKA] [nvarchar](50) NULL,
	[KONTROLAMAT] [bit] NULL,
	[SPMATERIAL] [nvarchar](50) NULL,
	[LOGIN] [bit] NULL,
 CONSTRAINT [PK_FASK_Operations] PRIMARY KEY CLUSTERED 
(
	[machinetype] ASC,
	[IDO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'typ stroje, pro ktereou je operace urcena' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Operations', @level2type=N'COLUMN',@level2name=N'machinetype'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID operace' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Operations', @level2type=N'COLUMN',@level2name=N'IDO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'nazev operace' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Operations', @level2type=N'COLUMN',@level2name=N'NAZEV'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'carovy kod operace' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Operations', @level2type=N'COLUMN',@level2name=N'CK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Provest vyvolani dialogu pro zadani nebo scan doplnujicich hodnot (0=ne, x(1-maxvalue)=ano a max x znaku' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Operations', @level2type=N'COLUMN',@level2name=N'SCAN1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'sledovat stav sensoru(citace) a pri ukonceni operace zapsat aktualni stav sensoru(citace)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FASK_Operations', @level2type=N'COLUMN',@level2name=N'SENSOR'
GO
/****** Object:  Table [dbo].[FASK_Machines]    Script Date: 06/28/2012 10:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FASK_Machines](
	[id] [nchar](20) NOT NULL,
	[machinetype] [nvarchar](10) NOT NULL,
	[name] [nchar](10) NOT NULL,
	[description] [nchar](50) NOT NULL,
	[koeficient] [decimal](19, 5) NOT NULL,
 CONSTRAINT [PK_Machines] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[machinetype] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FASK_Operations_Next]    Script Date: 06/28/2012 10:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FASK_Operations_Next](
	[machinetype] [nvarchar](10) NOT NULL,
	[IDO] [nvarchar](10) NOT NULL,
	[IDO_NEXT] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_FASK_Operations_Next] PRIMARY KEY CLUSTERED 
(
	[machinetype] ASC,
	[IDO] ASC,
	[IDO_NEXT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_Events_reportType]    Script Date: 06/28/2012 10:58:31 ******/
ALTER TABLE [FASK_Events] ADD  CONSTRAINT [DF_Events_reportType]  DEFAULT (N'D') FOR [reportType]
GO
/****** Object:  Default [DF_FASK_Operations_CK]    Script Date: 06/28/2012 10:58:31 ******/
ALTER TABLE [FASK_Operations] ADD  CONSTRAINT [DF_FASK_Operations_CK]  DEFAULT ('') FOR [CK]
GO
/****** Object:  Default [DF_FASK_Operations_SCAN]    Script Date: 06/28/2012 10:58:31 ******/
ALTER TABLE [FASK_Operations] ADD  CONSTRAINT [DF_FASK_Operations_SCAN]  DEFAULT ((0)) FOR [SCAN1]
GO
/****** Object:  Default [DF_FASK_Operations_SCAN2]    Script Date: 06/28/2012 10:58:31 ******/
ALTER TABLE [FASK_Operations] ADD  CONSTRAINT [DF_FASK_Operations_SCAN2]  DEFAULT ((0)) FOR [SCAN2]
GO
/****** Object:  Default [DF_FASK_Operations_SCAN3]    Script Date: 06/28/2012 10:58:31 ******/
ALTER TABLE [FASK_Operations] ADD  CONSTRAINT [DF_FASK_Operations_SCAN3]  DEFAULT ((0)) FOR [SCAN3]
GO
/****** Object:  Default [DF_FASK_Operations_SENSOR]    Script Date: 06/28/2012 10:58:31 ******/
ALTER TABLE [FASK_Operations] ADD  CONSTRAINT [DF_FASK_Operations_SENSOR]  DEFAULT ((0)) FOR [SENSOR]
GO
/****** Object:  Default [DF_FASK_Operations_VOLNA]    Script Date: 06/28/2012 10:58:31 ******/
ALTER TABLE [FASK_Operations] ADD  CONSTRAINT [DF_FASK_Operations_VOLNA]  DEFAULT ((0)) FOR [VOLNA]
GO
/****** Object:  Default [DF_FASK_Operations_START]    Script Date: 06/28/2012 10:58:31 ******/
ALTER TABLE [FASK_Operations] ADD  CONSTRAINT [DF_FASK_Operations_START]  DEFAULT ((0)) FOR [START]
GO
/****** Object:  Default [DF_FASK_Operations_END]    Script Date: 06/28/2012 10:58:31 ******/
ALTER TABLE [FASK_Operations] ADD  CONSTRAINT [DF_FASK_Operations_END]  DEFAULT ((0)) FOR [KONEC]
GO
/****** Object:  ForeignKey [FK_FASK_Machines_FASK_MachineType]    Script Date: 06/28/2012 10:58:31 ******/
ALTER TABLE [FASK_Machines]  WITH CHECK ADD  CONSTRAINT [FK_FASK_Machines_FASK_MachineType] FOREIGN KEY([machinetype])
REFERENCES [FASK_MachineType] ([machinetype])
GO
ALTER TABLE [FASK_Machines] CHECK CONSTRAINT [FK_FASK_Machines_FASK_MachineType]
GO
/****** Object:  ForeignKey [FK_FASK_Operations_FASK_MachineType]    Script Date: 06/28/2012 10:58:31 ******/
ALTER TABLE [FASK_Operations]  WITH CHECK ADD  CONSTRAINT [FK_FASK_Operations_FASK_MachineType] FOREIGN KEY([machinetype])
REFERENCES [FASK_MachineType] ([machinetype])
GO
ALTER TABLE [FASK_Operations] CHECK CONSTRAINT [FK_FASK_Operations_FASK_MachineType]
GO
/****** Object:  ForeignKey [FK_FASK_Operations_Next_FASK_Operations]    Script Date: 06/28/2012 10:58:31 ******/
ALTER TABLE [FASK_Operations_Next]  WITH CHECK ADD  CONSTRAINT [FK_FASK_Operations_Next_FASK_Operations] FOREIGN KEY([machinetype], [IDO])
REFERENCES [FASK_Operations] ([machinetype], [IDO])
GO
ALTER TABLE [FASK_Operations_Next] CHECK CONSTRAINT [FK_FASK_Operations_Next_FASK_Operations]
GO
/****** Object:  ForeignKey [FK_FASK_Operations_Next_FASK_Operations1]    Script Date: 06/28/2012 10:58:31 ******/
ALTER TABLE [FASK_Operations_Next]  WITH CHECK ADD  CONSTRAINT [FK_FASK_Operations_Next_FASK_Operations1] FOREIGN KEY([machinetype], [IDO_NEXT])
REFERENCES [FASK_Operations] ([machinetype], [IDO])
GO
ALTER TABLE [FASK_Operations_Next] CHECK CONSTRAINT [FK_FASK_Operations_Next_FASK_Operations1]
GO
