<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PrintReportLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PrintReportLibrary.Properties.Settings>
            <setting name="NameReport_DoPradelny" serializeAs="String">
                <value>S02toS01.rdlc</value>
            </setting>
            <setting name="Zmetek" serializeAs="String">
                <value>Zmetky.rdlc</value>
            </setting>
            <setting name="NameReport_ZPradelny" serializeAs="String">
                <value>S01toS02.rdlc</value>
            </setting>
        </PrintReportLibrary.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
