<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>if_podminka</Title>
			<Shortcut>if_podminka</Shortcut>
			<Description>Code snippet for if statement s selectem v podminke</Description>
			<Author>FASK Tadeas Divacky</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="csharp"><![CDATA[if ($selected$)
	{
	$end$
	}]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>