<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FASK.MST_WINDOWS.Module.ZZS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ZZS.Properties.Settings.ProdejConnectionString" connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_06_alfa\SERVER\MST_Win_Kom_Server\SqlCEDBs\Prodej.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    </connectionStrings>
    <applicationSettings>
        <FASK.MST_WINDOWS.Module.ZZS.Properties.Settings>
            <setting name="TimeOut_DataProcess" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Predani_dodavateli_sluzeb_prani" serializeAs="String">
                <value>S01toS02</value>
            </setting>
            <setting name="Prevzeti_od_dodavatele" serializeAs="String">
                <value>S02toS01</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value>HP LaserJet Pro M12w</value>
            </setting>
        </FASK.MST_WINDOWS.Module.ZZS.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
