Delete from [FASK_StatusTypes];

INSERT INTO [FASK_StatusTypes] ([statusid],[statusdesc]) VALUES (101,'Přilogování uživatele'); 
INSERT INTO [FASK_StatusTypes] ([statusid],[statusdesc]) VALUES (102,'Odlogování uživatele'); 
INSERT INTO [FASK_StatusTypes] ([statusid],[statusdesc]) VALUES (103,'Aplikace spuštěna'); 
 
--INSERT INTO [FASK_StatusTypes] ([statusid],[statusdesc]) VALUES (,);

select * from [FASK_StatusTypes] order by statusid;