/****** Object:  Table [dbo].[FASK_EventsErr]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FASK_EventsErr](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loginid] [nvarchar](20) NOT NULL,
	[machineid] [nvarchar](20) NOT NULL,
	[dateeve] [datetime] NOT NULL,
	[qty] [numeric](19, 5) NULL default(0),
	[qtyReal] [numeric](19, 5) NULL default(0),
	[description] [nvarchar](max) NULL,
	[barcodeReaded] [nvarchar](50) NULL,
	[barcodeSended] [nvarchar](50) NULL,
	[zakazka] [nvarchar](20) NULL,
	[popis] [nvarchar](10) NULL,
	[faskGUID] [uniqueidentifier] NOT NULL,
	[reportType] [nvarchar](1) NULL,
	[isProcessed] [datetime] NULL,
	[IDO] [nvarchar](10) NULL,
	[scan1] [nvarchar](255) NULL,
	[scan2] [nvarchar](255) NULL,
	[scan3] [nvarchar](255) NULL,
	[sensor] [nvarchar](50) NULL,
	[material] [nvarchar](255) NULL,
	[productionGuid] [uniqueidentifier] NULL,
	[VPH] [nvarchar](30) NULL,
	[VPPol] [int] NULL,
	[EAN_IS] [nvarchar](31) NULL,
	[IS_ID] [nvarchar](40) NULL,
	[NMBRPAL] [nvarchar](50) NULL,
	[status] [int] NULL,
	[QTYPACK] [numeric](19, 5)  NULL default(0),
	[PackType] [nvarchar](50) NULL,
	[WEIGHT] [numeric](19, 5) NULL,
	[BarcodeT] [tinyint] NULL default(1),
	[REZ_1] [nvarchar](100) NULL,
	[REZ_2] [nvarchar](100) NULL,
	[REZ_3] [nvarchar](100) NULL,
	[REZ_4] [nvarchar](100) NULL,
	[REZ_5] [nvarchar](100) NULL,
 CONSTRAINT [PK_FASK_EventsErr] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_EventsErr_faskGUID] UNIQUE NONCLUSTERED 
(
	[faskGUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/**************************************************************************************/