USE [Agro_fask]
GO
/****** Object:  StoredProcedure [dbo].[FASK_Events_ArchivaceZaznamu]    Script Date: 04.08.2023 9:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ing. Matouš Rathouzský
-- Create date: 25.7.2023
-- Description:	presun zaznamu z FASK_Events do tabulky FASK_Events_HISTORY
-- =============================================
CREATE PROCEDURE [dbo].[FASK_Events_ArchivaceZaznamu]
    @DatumOd DATETIME,
    @DatumDo DATETIME,
    @PocetPresunutych INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Začneme transakci, abychom zajistili celistvost datových změn.
        BEGIN TRANSACTION;

        -- Přesuneme data z "FASK_Events" do "FASK_Events_HISTORY" pro záznamy v zadaném rozmezí datumů.
        INSERT INTO FASK_Events_HISTORY 
		(
		[loginid],
	[machineid],
	[dateeve],
	[qty],
	[qtyReal],
	[description],
	[barcodeReaded],
	[barcodeSended],
	[zakazka],
	[popis],
	[faskGUID],
	[reportType],
	[isProcessed],
	[IDO],
	[scan1],
	[scan2],
	[scan3],
	[sensor],
	[material],
	[productionGuid],
	[VPH],
	[VPPol],
	[EAN_IS],
	[IS_ID],
	[NMBRPAL],
	[status],
	[QTYPACK],
	[PackType],
	[WEIGHT],
	[BarcodeT],
	[REZ_1],
	[REZ_2],
	[REZ_3],
	[REZ_4],
	[REZ_5]
	)
        SELECT 
		[loginid],
	[machineid],
	[dateeve],
	[qty],
	[qtyReal],
	[description],
	[barcodeReaded],
	[barcodeSended],
	[zakazka],
	[popis],
	[faskGUID],
	[reportType],
	[isProcessed],
	[IDO],
	[scan1],
	[scan2],
	[scan3],
	[sensor],
	[material],
	[productionGuid],
	[VPH],
	[VPPol],
	[EAN_IS],
	[IS_ID],
	[NMBRPAL],
	[status],
	[QTYPACK],
	[PackType],
	[WEIGHT],
	[BarcodeT],
	[REZ_1],
	[REZ_2],
	[REZ_3],
	[REZ_4],
	[REZ_5]
	
        FROM FASK_Events
        WHERE dateeve BETWEEN @DatumOd AND @DatumDo;

        -- Zjistíme počet přesunutých záznamů.
        SET @PocetPresunutych = @@ROWCOUNT;

        -- Odstraníme data z "FASK_Events" pro záznamy v zadaném rozmezí datumů.
        DELETE FROM FASK_Events
        WHERE dateeve BETWEEN @DatumOd AND @DatumDo;

        -- Pokud přesun proběhne úspěšně, provedeme COMMIT, aby byla transakce dokončena.
        COMMIT TRANSACTION;

        -- Vypíšeme úspěšné provedení procedury.
        PRINT 'Data byla úspěšně přesunuta do tabulky FASK_Events_HISTORY a odstraněna z tabulky FASK_Events.';
    END TRY
    BEGIN CATCH
        -- Pokud dojde k chybě, provedeme ROLLBACK, aby byly vráceny všechny změny v transakci.
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Vypíšeme chybu.
        PRINT 'Došlo k chybě při přesunu dat: ' + ERROR_MESSAGE();
    END CATCH;
END;
