USE [Agro_fask]
GO
/****** Object:  StoredProcedure [dbo].[FASK_Events_ObnoveniZaznamu]    Script Date: 04.08.2023 9:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Matouš Rathouzský
-- Create date: 25.72023
-- Description:	zpětné obnovení archivovaných záznamů
-- =============================================
CREATE PROCEDURE [dbo].[FASK_Events_ObnoveniZaznamu]
    @DatumOd DATETIME,
    @DatumDo DATETIME,
    @PocetObnovenych INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Začneme transakci, abychom zajistili celistvost datových změn.
        BEGIN TRANSACTION;

        -- Přesuneme data z "FASK_Events_HISTORY" zpět do "FASK_Events" pro záznamy v zadaném rozmezí datumů.
        INSERT INTO FASK_Events 
		(
			[loginid],
			[machineid],
			[dateeve],
			[qty],
			[qtyReal],
			[description],
			[barcodeReaded],
			[barcodeSended],
			[zakazka],
			[popis],
			[faskGUID],
			[reportType],
			[isProcessed],
			[IDO],
			[scan1],
			[scan2],
			[scan3],
			[sensor],
			[material],
			[productionGuid],
			[VPH],
			[VPPol],
			[EAN_IS],
			[IS_ID],
			[NMBRPAL],
			[status],
			[QTYPACK],
			[PackType],
			[WEIGHT],
			[BarcodeT],
			[REZ_1],
			[REZ_2],
			[REZ_3],
			[REZ_4],
			[REZ_5]
		)
        SELECT 
			[loginid],
			[machineid],
			[dateeve],
			[qty],
			[qtyReal],
			[description],
			[barcodeReaded],
			[barcodeSended],
			[zakazka],
			[popis],
			[faskGUID],
			[reportType],
			[isProcessed],
			[IDO],
			[scan1],
			[scan2],
			[scan3],
			[sensor],
			[material],
			[productionGuid],
			[VPH],
			[VPPol],
			[EAN_IS],
			[IS_ID],
			[NMBRPAL],
			[status],
			[QTYPACK],
			[PackType],
			[WEIGHT],
			[BarcodeT],
			[REZ_1],
			[REZ_2],
			[REZ_3],
			[REZ_4],
			[REZ_5]
	
        FROM FASK_Events_HISTORY
        WHERE dateeve BETWEEN @DatumOd AND @DatumDo;

        -- Zjistíme počet obnovených záznamů.
        SET @PocetObnovenych = @@ROWCOUNT;

        -- Odstraníme data z "FASK_Events_HISTORY" pro záznamy v zadaném rozmezí datumů.
        DELETE FROM FASK_Events_HISTORY
        WHERE dateeve BETWEEN @DatumOd AND @DatumDo;

        -- Pokud obnova proběhne úspěšně, provedeme COMMIT, aby byla transakce dokončena.
        COMMIT TRANSACTION;

        -- Vypíšeme úspěšné provedení procedury.
        PRINT 'Data byla úspěšně obnovena do tabulky FASK_Events a odstraněna z tabulky FASK_Events_HISTORY.';
    END TRY
    BEGIN CATCH
        -- Pokud dojde k chybě, provedeme ROLLBACK, aby byly vráceny všechny změny v transakci.
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        -- Vypíšeme chybu.
        PRINT 'Došlo k chybě při obnově dat: ' + ERROR_MESSAGE();
    END CATCH;

    -- Vypneme možnost IDENTITY_INSERT.
    SET IDENTITY_INSERT FASK_Events OFF;
END;

