USE [Agro_fask]
GO
/****** Object:  StoredProcedure [dbo].[Production_ArchivaceZaznamu]    Script Date: 04.08.2023 13:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ing. Matouš Rathouzský
-- Create date: 4.8.2023
-- Description:	presun zaznamu z Production do Production_HISTORY
-- =============================================
CREATE PROCEDURE [dbo].[Production_ArchivaceZaznamu]
    @DatumOd DATETIME,
    @DatumDo DATETIME,
    @PocetPresunutych INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Začneme transakci, abychom zajistili celistvost datových změn.
        BEGIN TRANSACTION;

        -- Přesuneme data z "Production" do "Production_HISTORY" pro záznamy v zadaném rozmezí datumů.
        INSERT INTO [dbo].[Production_HISTORY]
           ([CountEntries]
           ,[SOPNUMBE]
           ,[ITEMNMBR]
           ,[ITEMTYPE]
           ,[ITEMMJ]
           ,[ITEMDESC]
           ,[ORD]
           ,[TIMEMODE]
           ,[TIMEPREPSTART]
           ,[TIMEPREPSTOP]
           ,[TIMEPREP]
           ,[TIMEUNIT]
           ,[TIMESTART]
           ,[TIMESTOP]
           ,[TIMECORSTART]
           ,[TIMECORSTOP]
           ,[TIMECOR]
           ,[TIMECRID]
           ,[TIMECRIDTYPE]
           ,[loginid]
           ,[machineid]
           ,[operationid]
           ,[dateeve]
           ,[qty]
           ,[qtyReal]
           ,[QTYPACK]
           ,[QTYPACKMJ]
           ,[description]
           ,[BarcodeP]
           ,[UserID]
           ,[TermID]
           ,[ISOK]
           ,[GUID]
           ,[SOUBEHGUID]
           ,[CORRGUID]
           ,[qtyOld]
           ,[idVS]
           ,[dateedit]
           ,[SKL_ID]
           ,[LOCNCODE]
           ,[SERLTNUM]
           ,[EXPIRATION]
           ,[NMBRPAL]
           ,[TYPEPAL]
           ,[PackType]
           ,[status]
           ,[WEIGHT]
           ,[STORNOGUID]
           ,[REZ_1]
           ,[REZ_2]
           ,[REZ_3]
           ,[REZ_4]
           ,[REZ_5]
           ,[WEIGHT_OLD])
        SELECT [CountEntries]
      ,[SOPNUMBE]
      ,[ITEMNMBR]
      ,[ITEMTYPE]
      ,[ITEMMJ]
      ,[ITEMDESC]
      ,[ORD]
      ,[TIMEMODE]
      ,[TIMEPREPSTART]
      ,[TIMEPREPSTOP]
      ,[TIMEPREP]
      ,[TIMEUNIT]
      ,[TIMESTART]
      ,[TIMESTOP]
      ,[TIMECORSTART]
      ,[TIMECORSTOP]
      ,[TIMECOR]
      ,[TIMECRID]
      ,[TIMECRIDTYPE]
      ,[loginid]
      ,[machineid]
      ,[operationid]
      ,[dateeve]
      ,[qty]
      ,[qtyReal]
      ,[QTYPACK]
      ,[QTYPACKMJ]
      ,[description]
      ,[BarcodeP]
      ,[UserID]
      ,[TermID]
      ,[ISOK]
      ,[GUID]
      ,[SOUBEHGUID]
      ,[CORRGUID]
      ,[qtyOld]
      ,[idVS]
      ,[dateedit]
      ,[SKL_ID]
      ,[LOCNCODE]
      ,[SERLTNUM]
      ,[EXPIRATION]
      ,[NMBRPAL]
      ,[TYPEPAL]
      ,[PackType]
      ,[status]
      ,[WEIGHT]
      ,[STORNOGUID]
      ,[REZ_1]
      ,[REZ_2]
      ,[REZ_3]
      ,[REZ_4]
      ,[REZ_5]
      ,[WEIGHT_OLD]
  FROM [dbo].[Production]
        WHERE dateeve BETWEEN @DatumOd AND @DatumDo;

        -- Zjistíme počet přesunutých záznamů.
        SET @PocetPresunutych = @@ROWCOUNT;

        -- Odstraníme data z "Production" pro záznamy v zadaném rozmezí datumů.
        DELETE FROM [dbo].[Production]
        WHERE dateeve BETWEEN @DatumOd AND @DatumDo;

        -- Pokud přesun proběhne úspěšně, provedeme COMMIT, aby byla transakce dokončena.
        COMMIT TRANSACTION;

        -- Vypíšeme úspěšné provedení procedury.
        PRINT 'Data byla úspěšně přesunuta do tabulky Production_HISTORY a odstraněna z tabulky Production.';
    END TRY
    BEGIN CATCH
        -- Pokud dojde k chybě, provedeme ROLLBACK, aby byly vráceny všechny změny v transakci.
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Vypíšeme chybu.
        PRINT 'Došlo k chybě při přesunu dat: ' + ERROR_MESSAGE();
    END CATCH;
END;
