USE [Agro_fask]
GO
/****** Object:  Trigger [dbo].[InsertCZMST_I1]    Script Date: 11.08.2023 10:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ing. Rathouzsky Matous
-- Create date: 7.8. 2023
-- Description:	preliti dat z I1 do VPP
-- =============================================
CREATE TRIGGER [dbo].[InsertCZMST_I1] 
   ON  [dbo].[CZMST_I1_20230809] 
   FOR INSERT
AS 
BEGIN
	SET NOCOUNT ON;

	--deklarace promennych
	declare @CountEntries [int] 
	declare @ITEMNMBR [char](31) 
	declare @CZ_CarKod [char](31) 
	declare @ITEMDESC [char](51) 
	declare @LOCNCODE [char](11) 
	declare @skl_id [char](20) 
	declare @QUANTITY [numeric](19, 5)
	declare @DMJ [varchar](3) 
	declare @DATEDONE [datetime] 
	declare @IntegerValue [smallint] 
	declare @TIMESPRT [smallint] 
	declare @CZ_SerNum_Track [tinyint] 
	declare @CZ_SerNum_Find [tinyint] 
	declare @DEX_ROW_ID [int] 
	declare @TerminalID [tinyint] 
	declare @O_TID [tinyint] 
	declare @REZ_1 [varchar](15)
	declare @REZ_2 [varchar](15)

    -- Insert statements for trigger here

	begin tran
        
	select 
	@CountEntries = i.CountEntries,
	@ITEMNMBR = i.ITEMNMBR, 
	@CZ_CarKod = i.CZ_CarKod, 
	@ITEMDESC = i.ITEMDESC,
	@LOCNCODE = i.LOCNCODE, 
	@skl_id = i.skl_id,
	@QUANTITY = i.QUANTITY,
	@DMJ = i.DMJ,
	@DATEDONE = i.DATEDONE,
	@IntegerValue = i.IntegerValue, 
	@TIMESPRT = i.TIMESPRT,
	@CZ_SerNum_Track = i.CZ_SerNum_Track, 
	@CZ_SerNum_Find = i.CZ_SerNum_Find,
	@DEX_ROW_ID = i.DEX_ROW_ID,
	@TerminalID = i.TerminalID, 
	@O_TID = i.O_TID,
	@REZ_1 = i.REZ_1,
	@REZ_2 = i.REZ_2
	from INSERTED i;      
	

	EXECUTE dbo.CZPRO_VPP_insert @CountEntries,@ITEMNMBR,@CZ_CarKod,@ITEMDESC,@LOCNCODE,@skl_id,@QUANTITY,@DMJ,@DATEDONE,@IntegerValue,@TIMESPRT,@CZ_SerNum_Track,@CZ_SerNum_Find,@TerminalID,@O_TID,@REZ_1,@REZ_2
	EXECUTE dbo.CZPRO_VPH_insert @CountEntries,@ITEMNMBR,@CZ_CarKod,@ITEMDESC,@LOCNCODE,@skl_id,@QUANTITY,@DMJ,@DATEDONE,@IntegerValue,@TIMESPRT,@CZ_SerNum_Track,@CZ_SerNum_Find,@TerminalID,@O_TID,@REZ_1,@REZ_2
	commit tran

END
