USE [Agro_fask]
GO
/****** Object:  Trigger [dbo].[InsertProduction]    Script Date: 11.08.2023 10:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ing. Rathouzsky Matous
-- Create date: 7.8. 2023
-- Description:	preliti dat z Production do CZMST_I4
-- =============================================
CREATE TRIGGER [dbo].[InsertProduction] 
   ON  [dbo].[Production] 
   FOR INSERT
AS 
BEGIN
	SET NOCOUNT ON;

	--deklarace promennych

	-------------start--------
declare @CountEntries  [int]-- NULL,
declare @SOPNUMBE [nvarchar](30)-- NULL,
declare @ITEMNMBR [nvarchar](40)-- NULL,
declare @ITEMTYPE [nvarchar](11)-- NULL,
declare @ITEMMJ [nvarchar](5)-- NULL,
declare @ITEMDESC [nvarchar](100)-- NULL,
declare @ORD [int] --NULL,
declare @TIMEMODE [int] --NULL,
declare @TIMEPREPSTART [datetime]-- NULL,
declare @TIMEPREPSTOP [datetime]-- NULL,
declare @TIMEPREP [real] --NULL,
declare @TIMEUNIT [real] --NULL
declare @TIMESTART [datetime] --NULL,
declare @TIMESTOP [datetime] --NULL,
declare @TIMECORSTART [datetime] --NULL,
declare @TIMECORSTOP [datetime] --NULL,
declare @TIMECOR [real] --NULL,
declare @TIMECRID [int]-- NULL,
declare @TIMECRIDTYPE [tinyint] --NULL,
declare @id [int] -- NOT NULL,
declare @loginid [nvarchar](20)-- NOT NULL,
declare @machineid [nvarchar](20)-- NULL,
declare @operationid [nvarchar](16)-- NULL,
declare @dateeve [datetime]-- NOT NULL,
declare @qty [numeric](19, 5)-- NOT NULL,
declare @qtyReal [numeric](19, 5)-- NOT NULL,
declare @QTYPACK [numeric](19, 5)-- NULL,
declare @QTYPACKMJ [nvarchar](5)-- NULL,
declare @description [nvarchar](max)-- NULL,
declare @BarcodeP [nvarchar](31)-- NULL,
declare @UserID [nvarchar](20)-- NOT NULL,
declare @TermID [tinyint] --NOT NULL,
declare @ISOK [datetime]-- NULL,
declare @GUID [uniqueidentifier]-- NOT NULL,
declare @SOUBEHGUID [uniqueidentifier]-- NULL,
declare @CORRGUID [uniqueidentifier]-- NULL,
declare @qtyOld [numeric](19, 5)-- NULL,
declare @idVS [nvarchar](10)-- NULL,
declare @dateedit [datetime]-- NULL,
declare @SKL_ID [nvarchar](20)-- NULL,
declare @LOCNCODE [nvarchar](11)-- NULL,
declare @SERLTNUM [nvarchar](50)-- NULL,
declare @EXPIRATION [nvarchar](50)-- NULL,
declare @NMBRPAL [nvarchar](50)-- NULL,
declare @TYPEPAL [nvarchar](10)-- NULL,
declare @PackType [nvarchar](50)-- NULL,
declare @status [int]-- NULL,
declare @WEIGHT [numeric](19, 5)-- NULL,
declare @STORNOGUID [uniqueidentifier] --NULL,
declare @REZ_1 [nvarchar](100)-- NULL,
declare @REZ_2 [nvarchar](100)-- NULL,
declare @REZ_3 [nvarchar](100)-- NULL,
declare @REZ_4 [nvarchar](100)-- NULL,
declare @REZ_5 [nvarchar](100)-- NULL,
declare @WEIGHT_OLD [numeric](19, 5)-- NULL,
	-----------stop-----------

    -- Insert statements for trigger here

	begin tran
        
	select 

	----start------
	@CountEntries = i.CountEntries,-- NULL,
@SOPNUMBE = i.SOPNUMBE,-- NULL,
@ITEMNMBR = i.ITEMNMBR,-- NULL,
@ITEMTYPE = i.ITEMTYPE,-- NULL,
@ITEMMJ = i.ITEMMJ,-- NULL,
@ITEMDESC = i.ITEMDESC,-- NULL,
@ORD = i.ORD, --NULL,
@TIMEMODE = i.TIMEMODE, --NULL,
@TIMEPREPSTART = i.TIMEPREPSTART,-- NULL,
@TIMEPREPSTOP = i.TIMEPREPSTOP,-- NULL,
@TIMEPREP = i.TIMEPREP, --NULL,
--@TIMEUNIT = i.TIMEUNIT, --NULL,
@TIMESTART = i.TIMESTART, --NULL,
@TIMESTOP = i.TIMESTOP, --NULL,
@TIMECORSTART = i.TIMECORSTART, --NULL,
@TIMECORSTOP = i.TIMECORSTOP, --NULL,
@TIMECOR = i.TIMECOR, --NULL,
@TIMECRID = i.TIMECRID,-- NULL,
@TIMECRIDTYPE = i.TIMECRIDTYPE, --NULL,
@id = i.id, -- NOT NULL,
@loginid = i.loginid,-- NOT NULL,
@machineid = i.machineid,-- NULL,
@operationid = i.operationid,-- NULL,
@dateeve = i.dateeve,-- NOT NULL,
@qty = i.qty,-- NOT NULL,
@qtyReal = i.qtyReal,-- NOT NULL,
@QTYPACK = i.QTYPACK,-- NULL,
@QTYPACKMJ = i.QTYPACKMJ,-- NULL,
@description = i.description,-- NULL,
@BarcodeP = i.BarcodeP,-- NULL,
@UserID = i.UserID,-- NOT NULL,
@TermID = i.TermID, --NOT NULL,
@ISOK = i.ISOK,-- NULL,
@GUID = i.GUID,-- NOT NULL,
@SOUBEHGUID = i.SOUBEHGUID,-- NULL,
@CORRGUID = i.CORRGUID,-- NULL,
@qtyOld = i.qtyOld,-- NULL,
@idVS = i.idVS,-- NULL,
@dateedit = i.dateedit,-- NULL,
@SKL_ID = i.SKL_ID,-- NULL,
@LOCNCODE = i.LOCNCODE,-- NULL,
@SERLTNUM = i.SERLTNUM,-- NULL,
@EXPIRATION = i.EXPIRATION,-- NULL,
@NMBRPAL = i.NMBRPAL,-- NULL,
@TYPEPAL = i.TYPEPAL,-- NULL,
@PackType = i.PackType,-- NULL,
@status = i.status,-- NULL,
@WEIGHT = i.WEIGHT,-- NULL,
@STORNOGUID = i.STORNOGUID, --NULL,
@REZ_1 = i.REZ_1,-- NULL,
@REZ_2 = i.REZ_2,-- NULL,
@REZ_3 = i.REZ_3,-- NULL,
@REZ_4= i.REZ_4,-- NULL,
@REZ_5 = i.REZ_5,-- NULL,
@WEIGHT_OLD = i.WEIGHT_OLD-- NULL,
	----stop------
	
	from INSERTED i;      
	

	EXECUTE dbo.CZMST_I4_insert @CountEntries,@SOPNUMBE,@ITEMNMBR,@ITEMTYPE,-- NULL,
@ITEMMJ,-- NULL,
@ITEMDESC,-- NULL,
@ORD, --NULL,
@TIMEMODE, --NULL,
@TIMEPREPSTART,-- NULL,
@TIMEPREPSTOP,-- NULL,
@TIMEPREP, --NULL,
'',--@TIMEUNI, --NULL,
@TIMESTART, --NULL,
@TIMESTOP, --NULL,
@TIMECORSTART, --NULL,
@TIMECORSTOP, --NULL,
@TIMECOR, --NULL,
@TIMECRID,-- NULL,
@TIMECRIDTYPE, --NULL,
@id, -- NOT NULL,
@loginid,-- NOT NULL,
@machineid,-- NULL,
@operationid,-- NULL,
@dateeve,-- NOT NULL,
@qty,-- NOT NULL,
@qtyReal,-- NOT NULL,
@QTYPACK,-- NULL,
@QTYPACKMJ,-- NULL,
@description,-- NULL,
@BarcodeP,-- NULL,
@UserID,-- NOT NULL,
@TermID, --NOT NULL,
@ISOK,-- NULL,
@GUID,-- NOT NULL,
@SOUBEHGUID,-- NULL,
@CORRGUID,-- NULL,
@qtyOld,-- NULL,
@idVS,-- NULL,
@dateedit,-- NULL,
@SKL_ID,-- NULL,
@LOCNCODE,-- NULL,
@SERLTNUM,-- NULL,
@EXPIRATION,-- NULL,
@NMBRPAL,-- NULL,
@TYPEPAL,-- NULL,
@PackType,-- NULL,
@status,-- NULL,
@WEIGHT,-- NULL,
@STORNOGUID, --NULL,
@REZ_1,-- NULL,
@REZ_2,-- NULL,
@REZ_3,-- NULL,
@REZ_4,-- NULL,
@REZ_5,-- NULL,
@WEIGHT_OLD-- NULL,



	--EXECUTE dbo.CZPRO_VPP_insert @CountEntries,@ITEMNMBR,@CZ_CarKod,@ITEMDESC,@LOCNCODE,@skl_id,@QUANTITY,@DMJ,@DATEDONE,@IntegerValue,@TIMESPRT,@CZ_SerNum_Track,@CZ_SerNum_Find,@TerminalID,@O_TID,@REZ_1,@REZ_2
	--EXECUTE dbo.CZPRO_VPH_insert @CountEntries,@ITEMNMBR,@CZ_CarKod,@ITEMDESC,@LOCNCODE,@skl_id,@QUANTITY,@DMJ,@DATEDONE,@IntegerValue,@TIMESPRT,@CZ_SerNum_Track,@CZ_SerNum_Find,@TerminalID,@O_TID,@REZ_1,@REZ_2
	commit tran

END
