USE [Agro_fask]
GO
/****** Object:  StoredProcedure [dbo].[CZMST_I4_insert]    Script Date: 11.08.2023 10:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ing. Rathouzsky Matous
-- Create date: 7.8. 2023
-- Description:	insert do tabulky CZPRO_VPP
-- =============================================
CREATE PROCEDURE [dbo].[CZMST_I4_insert]


@CountEntries  [int],-- NULL,
@SOPNUMBE [nvarchar](30),-- NULL,
@ITEMNMBR [nvarchar](40),-- NULL,
@ITEMTYPE [nvarchar](11),-- NULL,
@ITEMMJ [nvarchar](5),-- NULL,
@ITEMDESC [nvarchar](100),-- NULL,
@ORD [int], --NULL,
@TIMEMODE [int], --NULL,
@TIMEPREPSTART [datetime],-- NULL,
@TIMEPREPSTOP [datetime],-- NULL,
@TIMEPREP [real], --NULL,
@TIMEUNIT [real], --NULL,
@TIMESTART [datetime], --NULL,
@TIMESTOP [datetime], --NULL,
@TIMECORSTART [datetime], --NULL,
@TIMECORSTOP [datetime], --NULL,
@TIMECOR [real], --NULL,
@TIMECRID [int],-- NULL,
@TIMECRIDTYPE [tinyint], --NULL,
@id [int], -- NOT NULL,
@loginid [nvarchar](20),-- NOT NULL,
@machineid [nvarchar](20),-- NULL,
@operationid [nvarchar](16),-- NULL,
@dateeve [datetime],-- NOT NULL,
@qty [numeric](19, 5),-- NOT NULL,
@qtyReal [numeric](19, 5),-- NOT NULL,
@QTYPACK [numeric](19, 5),-- NULL,
@QTYPACKMJ [nvarchar](5),-- NULL,
@description [nvarchar](max),-- NULL,
@BarcodeP [nvarchar](31),-- NULL,
@UserID [nvarchar](20),-- NOT NULL,
@TermID [tinyint], --NOT NULL,
@ISOK [datetime],-- NULL,
@GUID [uniqueidentifier],-- NOT NULL,
@SOUBEHGUID [uniqueidentifier],-- NULL,
@CORRGUID [uniqueidentifier],-- NULL,
@qtyOld [numeric](19, 5),-- NULL,
@idVS [nvarchar](10),-- NULL,
@dateedit [datetime],-- NULL,
@SKL_ID [nvarchar](20),-- NULL,
@LOCNCODE [nvarchar](11),-- NULL,
@SERLTNUM [nvarchar](50),-- NULL,
@EXPIRATION [nvarchar](50),-- NULL,
@NMBRPAL [nvarchar](50),-- NULL,
@TYPEPAL [nvarchar](10),-- NULL,
@PackType [nvarchar](50),-- NULL,
@status [int],-- NULL,
@WEIGHT [numeric](19, 5),-- NULL,
@STORNOGUID [uniqueidentifier], --NULL,
@REZ_1 [nvarchar](100),-- NULL,
@REZ_2 [nvarchar](100),-- NULL,
@REZ_3 [nvarchar](100),-- NULL,
@REZ_4 [nvarchar](100),-- NULL,
@REZ_5 [nvarchar](100),-- NULL,
@WEIGHT_OLD [numeric](19, 5)-- NULL,


AS
--Deklarace testu na chybu vlozeni
DECLARE @ins1_error int
--declare @vardate varchar(100)='03-04-2016'

	BEGIN

--Zacatek transakce
BEGIN TRAN

		BEGIN	
			--Vlozeni poctu nasnimanych
--INSERT INTO [dbo].[CZMST_I4]
--           ([CountEntries]
--           ,[ITEMNMBR]
--           ,[CZ_CarKod]
--           ,[LOCNCODE]
--           ,[skl_id]
--           ,[VNDITNUM]
--           ,[MJ]
--           ,[QUANTITY]
--           ,[QUANTITYMJ]
--           ,[QTYPACK]
--           ,[SERLNMBR]
--           ,[DATEDONE]
--           ,[TIMEDONE]
--           ,[USERID]
--           ,[GUID]
--           ,[O_Checked])
--     VALUES
--           (@CountEntries
--           ,@ITEMNMBR
--           ,CASE WHEN @BarcodeP IS NULL THEN ' ' ELSE @BarcodeP END
--           ,CASE WHEN @LOCNCODE IS NULL THEN ' ' ELSE @LOCNCODE END 
--           ,'' --<skl_id, char(20),>
--           ,'' --<VNDITNUM, char(31),>
--           ,@QTYPACKMJ --<MJ, varchar(3),>
--           ,@qty --<QUANTITY, numeric(19,5),>
--           ,@QTYPACK --<QUANTITYMJ, numeric(19,5),>
--           ,0 --<QTYPACK, numeric(19,5),>
--           ,'' --<SERLNMBR, char(21),>
--           ,FORMAT(@dateeve, 'yyyyMMdd')--DATE_FORMAT(@dateeve, '%y%M%d')--<DATEDONE, char(8),>
--           ,FORMAT(@dateeve, 'HHmmss') --<TIMEDONE, char(6),>
--           ,99 --<USERID, int,>
--           ,@GUID --<GUID, uniqueidentifier,>
--           ,0 )--<O_Checked, bit,>)


		   INSERT INTO [dbo].[CZMST_I4]
           ([CountEntries]
           ,[CE_Orig]
           ,[ITEMNMBR]
           ,[CZ_CarKod]
           ,[LOCNCODE]
           ,[SKL_ID]
           ,[VNDITNUM]
           ,[MJ]
           ,[QUANTITY]
           ,[QUANTITYMJ]
           ,[QTYPACK]
           ,[SERLNMBR]
           ,[DATEDONE]
           ,[TIMEDONE]
           ,[USERID]
           ,[GUID]
           ,[O_Checked]
           ,[INPUT_MODE]
           ,[ID_TERMINAL]
           ,[ITEMCODE]
           ,[REZ_1]
           ,[REZ_2]
           ,[WEIGHT]
           ,[Expirace])
     VALUES
           ( CASE WHEN @CountEntries IS NULL THEN ' ' ELSE @CountEntries END
		   ,0
           , CASE WHEN @ITEMNMBR IS NULL THEN ' ' ELSE @ITEMNMBR END
           ,CASE WHEN @BarcodeP IS NULL THEN ' ' ELSE @BarcodeP END
           ,CASE WHEN @LOCNCODE IS NULL THEN ' ' ELSE @LOCNCODE END 
           ,'' --<skl_id, char(20),>
           ,'' --<VNDITNUM, char(31),>
           ,@QTYPACKMJ --<MJ, varchar(3),>
           ,@qty --<QUANTITY, numeric(19,5),>
           ,@QTYPACK --<QUANTITYMJ, numeric(19,5),>
           ,0 --<QTYPACK, numeric(19,5),>
           ,'' --<SERLNMBR, char(21),>
           ,FORMAT(@dateeve, 'yyyyMMdd')--DATE_FORMAT(@dateeve, '%y%M%d')--<DATEDONE, char(8),>
           ,FORMAT(@dateeve, 'HHmmss') --<TIMEDONE, char(6),>
           ,99 --<USERID, int,>
           ,@GUID --<GUID, uniqueidentifier,>
           ,0 --<O_Checked, bit,>
           ,0--<INPUT_MODE, tinyint,>
           ,CASE WHEN @TermID IS NULL THEN 0 ELSE @TermID END  --<ID_TERMINAL, int,>
           ,CASE WHEN @BarcodeP IS NULL THEN ' ' ELSE @BarcodeP END -- <ITEMCODE, nvarchar(70),>
           ,CASE WHEN @REZ_1 IS NULL THEN ' ' ELSE @REZ_1 END  --<REZ_1, nvarchar(50),>
           ,CASE WHEN @REZ_2 IS NULL THEN ' ' ELSE @REZ_2 END  --<REZ_2, nvarchar(50),>
           ,null  --<WEIGHT, numeric(19,5),>
           ,null --<Expirace, datetime,>
		   )




		END

				--Zjisteni zda v prvnim insertu nastala chyba
		SELECT @ins1_error = @@ERROR

		--Test na chybu vlozeni
		IF (@ins1_error = 0)
		BEGIN
			--Chyba nenastala => potvrzeni transakce
			PRINT 'ZAZNAM BYL USPESNE VLOZEN'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			--Nastala chyba zruseni transakce
			PRINT 'NASTALA CHYBA PRI VKLADANI HODNOT DO DB'
			ROLLBACK TRAN
		END
END
