USE [Agro_fask]
GO
/****** Object:  StoredProcedure [dbo].[CZPRO_VPH_insert]    Script Date: 11.08.2023 10:57:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CZPRO_VPH_insert]
(
    @CountEntries [int],
    @ITEMNMBR [char](31),
    @CZ_CarKod [char](31),
    @ITEMDESC [char](51),
    @LOCNCODE [char](11),
    @skl_id [char](20),
    @QUANTITY [numeric](19, 5),
    @DMJ [varchar](3),
    @DATEDONE [datetime],
    @IntegerValue [smallint],
    @TIMESPRT [smallint],
    @CZ_SerNum_Track [tinyint],
    @CZ_SerNum_Find [tinyint],
    @TerminalID [tinyint],
    @O_TID [tinyint],
    @REZ_1 [varchar](15),
    @REZ_2 [varchar](15)
)
AS
BEGIN
    -- Deklarace testu na chybu vlozeni
    DECLARE @ins1_error int
    DECLARE @pom int

    BEGIN
        -- Zacatek transakce
        BEGIN TRAN

        BEGIN
            -- Kontrola existence záznamu
            SET @pom = (
                SELECT COUNT([CountEntries])
                FROM [dbo].[CZPRO_VPH]
                WHERE [CountEntries] = @CountEntries
            )

            IF (@pom = 0)
            BEGIN
                -- Přehlednější vkládání dat
                INSERT INTO [dbo].[CZPRO_VPH] (
                    [CountEntries], [SOPNUMBE], [SOPTYPE], [SOPDESC],
                    [VNDDOCNMH], [BarcodeH], [LOCNCODE], [DateProd],
                    [Rez1], [Rez2], [TermID], [LSTMod], [Active], [USERID]
                )
                VALUES (
                    @CountEntries, '', '', '', '',
                    @CountEntries, @LOCNCODE, 0,
                    ISNULL(NULLIF(@REZ_1, ''), ' '),ISNULL(NULLIF(@REZ_2, ''), ' ') , -- Zde se kontroluje a zapisuje mezera, pokud je REZ_1 NULL nebo prázdný
                    @TerminalID, @DATEDONE, 1, 99
                )
            END

            -- Zjisteni zda v prvnim insertu nastala chyba
            SELECT @ins1_error = @@ERROR
        END

        -- Test na chybu vlozeni
        IF (@ins1_error = 0)
        BEGIN
            -- Chyba nenastala => potvrzeni transakce
            PRINT 'ZAZNAM BYL USPESNE VLOZEN'
            COMMIT TRAN
        END
        ELSE
        BEGIN
            -- Nastala chyba zruseni transakce
            PRINT 'NASTALA CHYBA PRI VKLADANI HODNOT DO DB'
            ROLLBACK TRAN
        END
    END
END
