USE [Agro_fask]
GO
/****** Object:  StoredProcedure [dbo].[CZPRO_VPP_insert]    Script Date: 11.08.2023 10:57:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ing. Rathouzsky Matous
-- Create date: 7.8. 2023
-- Description:	insert do tabulky CZPRO_VPP
-- =============================================
CREATE PROCEDURE [dbo].[CZPRO_VPP_insert]


	 @CountEntries [int] ,
	 @ITEMNMBR [char](31) ,
	 @CZ_CarKod [char](31) ,
	 @ITEMDESC [char](51) ,
	 @LOCNCODE [char](11) ,
	 @skl_id [char](20) ,
	 @QUANTITY [numeric](19, 5),
	 @DMJ [varchar](3) ,
	 @DATEDONE [datetime] ,
	 @IntegerValue [smallint], 
	 @TIMESPRT [smallint] ,
	 @CZ_SerNum_Track [tinyint], 
	 @CZ_SerNum_Find [tinyint] ,
	 @TerminalID [tinyint], 
	 @O_TID [tinyint] ,
	 @REZ_1 [varchar](15),
	 @REZ_2 [varchar](15)


AS
--Deklarace testu na chybu vlozeni
DECLARE @ins1_error int

	BEGIN

--Zacatek transakce
BEGIN TRAN

		BEGIN	
			--Vlozeni poctu nasnimanych
INSERT INTO [dbo].[CZPRO_VPP]
           ([CountEntries],[SOPNUMBE],[ITEMNMBR],[ITEMTYPE],[ITEMDESC],[ITEMMJ],[VNDDOCNMP],[VNDITNUM],[ORD],[BarcodeP],[LOCNCODE],[QTYSHPPD]
           ,[QTYDOKON],[QTYPACK],[QTYPACKMJ],[TIMEMODE],[TIMEPREP],[TIMEUNIT],[DtProdT],[DtProdL],[SerNumT],[SerNumL],[VerT],[VerL],[TermID]
           ,[LSTMod],[Realization_Start],[Realization_Stop],[BarcodeT],[CZ_REZ1_Track],[CZ_REZ2_Track],[CZ_REZ3_Track],[CZ_REZ4_Track],[CZ_REZ5_Track]
           ,[WEIGHT_TARA],[WEIGHT_NETTO],[WEIGHT_TOL_PLUS],[WEIGHT_TOL_MINUS])
     VALUES
           (@CountEntries, --int
		   '', --nvarchar
		   @ITEMNMBR, --nvarchar
		   '', --nvarchar
		   @ITEMDESC, --nvarchar
		   @DMJ, --nvarchar
		   '', --nvarchar
		   @ITEMNMBR, --nvarchar
		   1, --int
		   @CZ_CarKod, --nvarchar
		   @LOCNCODE, --nvarchar
		   @QUANTITY,
		   0,
		   @QUANTITY,
		   LEFT(CAST(@QUANTITY AS nvarchar(19)), 5),--CONVERT(nvarchar(5), @QUANTITY), --nvarchar
		   0,
		   0,
		   0,
		   0,
		   0,
		   @CZ_SerNum_Track,
		   @CZ_SerNum_Track,
		   0,
		   0,
		   @TerminalID,
		   @DATEDONE,
		   @DATEDONE,
		   @DATEDONE,
		   0,0,0,0,0,
		   0,0,0,0,0)
		END

				--Zjisteni zda v prvnim insertu nastala chyba
		SELECT @ins1_error = @@ERROR

		--Test na chybu vlozeni
		IF (@ins1_error = 0)
		BEGIN
			--Chyba nenastala => potvrzeni transakce
			PRINT 'ZAZNAM BYL USPESNE VLOZEN'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			--Nastala chyba zruseni transakce
			PRINT 'NASTALA CHYBA PRI VKLADANI HODNOT DO DB'
			ROLLBACK TRAN
		END
END
