
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================

-- Author:          Ing. Rathouzsky Matous

-- Create date: 13.12. 2023

-- Description:     preliti dat z I1 do SE

--                         -- uprava MH - cele do cursoru - inserted nemusi mit pouze jeden zaznam

-- =============================================

CREATE TRIGGER [dbo].[Trigger_I1_do_SE]

   ON  [dbo].[CZMST_I1]

   FOR INSERT

AS

BEGIN

       SET NOCOUNT ON;

 

       --deklarace promennych

       declare @CountEntries [int]

       declare @CE_Orig [int]

       declare @ITEMNMBR [nvarchar](40)

       declare @CZ_CarKod [nvarchar](70)

       declare @ITEMDESC [nvarchar](100)

       declare @LOCNCODE [nvarchar](11)

       declare @skl_id [nvarchar](20)

       declare @QUANTITY [numeric](19, 5)

       declare @DMJ [nvarchar](200)

       declare @DATEDONE [datetime]

       declare @IntegerValue [smallint]

       declare @TIMESPRT [smallint]

       declare @CZ_SerNum_Track [tinyint]

       declare @CZ_SerNum_Find [tinyint]

       declare @DEX_ROW_ID [int]

       declare @TerminalID [tinyint]

       declare @O_TID [tinyint]

       declare @REZ_1 [nvarchar](50)

       declare @REZ_2 [nvarchar](50)

       declare @ITEMCODE [nvarchar](70)

       declare @CZ_REZ1_Track [tinyint]

       declare @CZ_REZ2_Track [tinyint]

       declare @CZ_Expirace_Track [tinyint]

 

    -- Insert statements for trigger here

       BEGIN TRAN;

     

       BEGIN        

           DECLARE curPol CURSOR LOCAL STATIC FOR

           SELECT DEX_ROW_ID

             FROM inserted;

 

           OPEN curPol;

 

           WHILE ( 1 = 1 ) BEGIN

           FETCH NEXT FROM curPol INTO @DEX_ROW_ID;

 

           IF ( @@FETCH_STATUS <> 0 )

                 BREAK;

 

                    SELECT

                    @CountEntries = i.CountEntries,

                    @CE_Orig = i.CE_Orig,

                    @ITEMNMBR = i.ITEMNMBR,

                    @CZ_CarKod = i.CZ_CarKod,

                    @ITEMDESC = i.ITEMDESC,

                    @LOCNCODE = i.LOCNCODE,

                    @skl_id = i.skl_id,

                    @QUANTITY = i.QUANTITY,

                    @DMJ = i.DMJ,

                    @DATEDONE = i.DATEDONE,

                    @IntegerValue = i.IntegerValue,

                    @TIMESPRT = i.TIMESPRT,

                    @CZ_SerNum_Track = i.CZ_SerNum_Track,

                    @CZ_SerNum_Find = i.CZ_SerNum_Find,

                    @TerminalID = i.TerminalID,

                    @O_TID = i.O_TID,

                    @REZ_1 = i.REZ_1,

                    @REZ_2 = i.REZ_2,

                    @ITEMCODE = i.ITEMCODE,

                    @CZ_REZ1_Track = i.CZ_REZ1_Track,

                    @CZ_REZ2_Track = i.CZ_REZ2_Track,

                    @CZ_Expirace_Track = i.CZ_Expirace_Track

                    FROM INSERTED i

                    WHERE i.DEX_ROW_ID = @DEX_ROW_ID;

 

                    EXECUTE dbo.CZMST_SE_insert

                    @CountEntries,

                    'Inventura',--@SOPNUMBE,

                    @ITEMNMBR,

                    'I',--@ITEMTYPE,

                    @ITEMDESC,

                    '',--@VNDDOCNM,

                    @CZ_CarKod,--@VNDITNUM,

                    @CountEntries,--@ORD,

                    @CZ_CarKod,

                    @skl_id,

                    @LOCNCODE,

                    @DMJ,--@MJ,

                    @QUANTITY,--@QTYSHPPD,

                    0,--@QTYPACK,

                    0,--@CZ_DatVyr_Track,

                    0,--@CZ_DatVyr_Delka,

                    @CZ_SerNum_Track,

                    0,--@CZ_SerNum_Delka,

                    0,--@CZ_SW_Track,

                    0,--@CZ_SW_Delka,

                    0,--@CZ_Doslo,

                    '',--@Note,

                    '',--@TYPEPAL,

                    0,--@QTYPAL,

                    0,--@PRIORITY,

                    0,--@PRINTED,

                    0,--@USERID,

                    @DEX_ROW_ID,

                    @CZ_REZ1_Track,

                    @CZ_REZ2_Track,

                    @ITEMCODE,

                    NULL,--@WEIGHT,

                    @DATEDONE,--@Realization_Start,

                    @DATEDONE,--@Realization_Stop,

                    @CZ_Expirace_Track;

            

           END;

 

           CLOSE curPol;

           DEALLOCATE curPol;

 

    END;

 

       COMMIT TRAN;

 

END;