
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ing. Rathouzsky Matous
-- Create date: 13.12. 2023
-- Description:	insert do tabulky CZMST_SE
-- =============================================
CREATE PROCEDURE [dbo].[CZMST_SE_insert]

@CountEntries [int],
@SOPNUMBE [nvarchar](30),
@ITEMNMBR [nvarchar](40),
@ITEMTYPE [nvarchar](11),
@ITEMDESC [nvarchar](100),
@VNDDOCNM [nvarchar](21),
@VNDITNUM [nvarchar](60),
@ORD [int],
@CZ_CarKod [nvarchar](70),
@SKL_ID [nvarchar](20),
@LOCNCODE [nvarchar](11),
@MJ [nvarchar](10),
@QTYSHPPD [numeric](19, 5),
@QTYPACK [numeric](19, 5),
@CZ_DatVyr_Track [tinyint],
@CZ_DatVyr_Delka [smallint],
@CZ_SerNum_Track [tinyint],
@CZ_SerNum_Delka [smallint],
@CZ_SW_Track [tinyint],
@CZ_SW_Delka [smallint],
@CZ_Doslo [tinyint],
@Note [nvarchar](100),
@TYPEPAL [nvarchar](10),
@QTYPAL [numeric](19, 5),
@PRIORITY [tinyint],
@PRINTED [tinyint],
@USERID [int],
@DEX_ROW_ID [int],
@CZ_REZ1_Track [tinyint],
@CZ_REZ2_Track [tinyint],
@ITEMCODE [nvarchar](70),
@WEIGHT [numeric](19, 5),
@Realization_Start [datetime],
@Realization_Stop [datetime],
@CZ_Expirace_Track [tinyint]


AS
--Deklarace testu na chybu vlozeni
DECLARE @ins1_error int

	BEGIN

--Zacatek transakce
BEGIN TRAN

		BEGIN	
			--Vlozeni poctu nasnimanych
INSERT INTO [dbo].[CZMST_SE]
           ([CountEntries],[SOPNUMBE],[ITEMNMBR],[ITEMTYPE],[ITEMDESC],[VNDDOCNM],[VNDITNUM],[ORD],[CZ_CarKod],[SKL_ID],[LOCNCODE],[MJ],[QTYSHPPD],[QTYPACK],[CZ_DatVyr_Track],[CZ_DatVyr_Delka]
           ,[CZ_SerNum_Track],[CZ_SerNum_Delka],[CZ_SW_Track],[CZ_SW_Delka],[CZ_Doslo],[Note],[TYPEPAL],[QTYPAL],[PRIORITY],[PRINTED],[USERID],[CZ_REZ1_Track],[CZ_REZ2_Track],[ITEMCODE]
           ,[WEIGHT],[Realization_Start],[Realization_Stop],[CZ_Expirace_Track])
     VALUES
           (
        @CountEntries,
        @SOPNUMBE,
        @ITEMNMBR,
        @ITEMTYPE,
        @ITEMDESC,
        @VNDDOCNM,
        @VNDITNUM,
        @ORD,
        @CZ_CarKod,
        @SKL_ID,
        @LOCNCODE,
        @MJ,
        @QTYSHPPD,
        @QTYPACK,
        @CZ_DatVyr_Track,
        @CZ_DatVyr_Delka,
        @CZ_SerNum_Track,
        @CZ_SerNum_Delka,
        @CZ_SW_Track,
        @CZ_SW_Delka,
        @CZ_Doslo,
        @Note,
        @TYPEPAL,
        @QTYPAL,
        @PRIORITY,
        @PRINTED,
        @USERID,
        --@DEX_ROW_ID,
        @CZ_REZ1_Track,
        @CZ_REZ2_Track,
        @ITEMCODE,
        @WEIGHT,
        @Realization_Start,
        @Realization_Stop,
        @CZ_Expirace_Track
		   )
		END

				--Zjisteni zda v prvnim insertu nastala chyba
		SELECT @ins1_error = @@ERROR

		--Test na chybu vlozeni
		IF (@ins1_error = 0)
		BEGIN
			--Chyba nenastala => potvrzeni transakce
			PRINT 'ZAZNAM BYL USPESNE VLOZEN'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			--Nastala chyba zruseni transakce
			PRINT 'NASTALA CHYBA PRI VKLADANI HODNOT DO DB'
			ROLLBACK TRAN
		END
END
