
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ing. Rathouzsky Matous
-- Create date: 13.12. 2023
-- Description:	insert do tabulky CZMST_I4
-- =============================================
CREATE PROCEDURE [dbo].[CZMST_I4_insert]

	@CountEntries [int],
	@CE_Orig [int],
	@ITEMNMBR [nvarchar](40),
	@CZ_CarKod [nvarchar](70),
	@LOCNCODE [nvarchar](11),
	@SKL_ID [nvarchar](20),
	@VNDITNUM [nvarchar](60),
	@MJ [nvarchar](10),
	@QUANTITY [numeric](19, 5),
	@QUANTITYMJ [numeric](19, 5),
	@QTYPACK [numeric](19, 5),
	@SERLNMBR [nvarchar](50),
	@DATEDONE [nvarchar](8),
	@TIMEDONE [nvarchar](6),
	@USERID [int],
	@DEX_ROW_ID [int],
	@GUID [uniqueidentifier],
	@O_Checked [bit],
	@INPUT_MODE [tinyint],
	@ID_TERMINAL [int],
	@ITEMCODE [nvarchar](70),
	@REZ_1 [nvarchar](50),
	@REZ_2 [nvarchar](50),
	@WEIGHT [numeric](19, 5),
	@Expirace [datetime]



AS
--Deklarace testu na chybu vlozeni
DECLARE @ins1_error int

	BEGIN

--Zacatek transakce
BEGIN TRAN

		BEGIN	
			--Vlozeni poctu nasnimanych
INSERT INTO [dbo].[CZMST_I4]
           ([CountEntries]
           ,[CE_Orig]
           ,[ITEMNMBR]
           ,[CZ_CarKod]
           ,[LOCNCODE]
           ,[SKL_ID]
           ,[VNDITNUM]
           ,[MJ]
           ,[QUANTITY]
           ,[QUANTITYMJ]
           ,[QTYPACK]
           ,[SERLNMBR]
           ,[DATEDONE]
           ,[TIMEDONE]
           ,[USERID]
           ,[GUID]
           ,[O_Checked]
           ,[INPUT_MODE]
           ,[ID_TERMINAL]
           ,[ITEMCODE]
           ,[REZ_1]
           ,[REZ_2]
           ,[WEIGHT]
           ,[Expirace])
     VALUES
           (
	@CountEntries,
	@CE_Orig,
	@ITEMNMBR,
	@CZ_CarKod,
	@LOCNCODE,
	@SKL_ID,
	@VNDITNUM,
	@MJ,
	@QUANTITY,
	@QUANTITYMJ,
	@QTYPACK,
	@SERLNMBR,
	@DATEDONE,
	@TIMEDONE,
	@USERID,
	--@DEX_ROW_ID IDENTITY(1,1),
	@GUID,
	@O_Checked,
	@INPUT_MODE,
	@ID_TERMINAL,
	@ITEMCODE,
	@REZ_1,
	@REZ_2,
	@WEIGHT,
	@Expirace

		   )
		END

				--Zjisteni zda v prvnim insertu nastala chyba
		SELECT @ins1_error = @@ERROR

		--Test na chybu vlozeni
		IF (@ins1_error = 0)
		BEGIN
			--Chyba nenastala => potvrzeni transakce
			PRINT 'ZAZNAM BYL USPESNE VLOZEN'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			--Nastala chyba zruseni transakce
			PRINT 'NASTALA CHYBA PRI VKLADANI HODNOT DO DB'
			ROLLBACK TRAN
		END
END
