
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================

-- Author:          Ing. Rathouzsky Matous

-- Create date: 5.3. 2024

-- Description:     preliti dat z PE do SE

--                         -- uprava MH - cele do cursoru - inserted nemusi mit pouze jeden zaznam

-- =============================================

CREATE TRIGGER [dbo].[Trigger_PE_do_SE]

   ON  [dbo].[CZMST_PE]

   FOR INSERT

AS

BEGIN

       SET NOCOUNT ON;

 

       --deklarace promennych

       --declare @CountEntries [int]

       --declare @CE_Orig [int]

       --declare @ITEMNMBR [nvarchar](40)

       --declare @CZ_CarKod [nvarchar](70)

       --declare @ITEMDESC [nvarchar](100)

       --declare @LOCNCODE [nvarchar](11)

       --declare @skl_id [nvarchar](20)

       --declare @QUANTITY [numeric](19, 5)

       --declare @DMJ [nvarchar](200)

       --declare @DATEDONE [datetime]

       --declare @IntegerValue [smallint]

       --declare @TIMESPRT [smallint]

       --declare @CZ_SerNum_Track [tinyint]

       --declare @CZ_SerNum_Find [tinyint]

       --declare @DEX_ROW_ID [int]

       --declare @TerminalID [tinyint]

       --declare @O_TID [tinyint]

       --declare @REZ_1 [nvarchar](50)

       --declare @REZ_2 [nvarchar](50)

       --declare @ITEMCODE [nvarchar](70)

       --declare @CZ_REZ1_Track [tinyint]

       --declare @CZ_REZ2_Track [tinyint]

       --declare @CZ_Expirace_Track [tinyint]

	declare @CountEntries [int] 
	declare @PONUMBER [nvarchar](30) 
	declare @ITEMNMBR [nvarchar](40) 
	declare @ITEMDESC [nvarchar](100) 
	declare @ORD [int] 
	declare @VNDDOCNM [nvarchar](21) 
	declare @VNDITNUM [nvarchar](60) 
	declare @CZ_CarKod [nvarchar](70) 
	declare @SKL_ID [nvarchar](20) 
	declare @LOCNCODE [nvarchar](11) 
	declare @MJ [nvarchar](10) 
	declare @QTYSHPPD [numeric](19, 5) 
	declare @QTYPACK [numeric](19, 5) 
	declare @CZ_DatVyr_Track [tinyint] 
	declare @CZ_DatVyr_Delka [smallint] 
	declare @CZ_SerNum_Track [tinyint] 
	declare @CZ_SerNum_Delka [smallint] 
	declare @CZ_SW_Track [tinyint] 
	declare @CZ_SW_Delka [smallint] 
	declare @CZ_Doslo [tinyint] 
	declare @DEX_ROW_ID [int] 
	declare @WEIGHT [numeric](19, 5) 
	declare @NMBRPAL [nvarchar](50) 
	declare @TYPEPAL [nvarchar](10) 
	declare @ITEMCODE [nvarchar](70) 
	declare @SERLTNUM [nvarchar](50) 
	declare @CZ_REZ1_Track [tinyint] 
	declare @CZ_REZ2_Track [tinyint] 
	declare @Realization_Start [datetime] 
	declare @Realization_Stop [datetime] 
	declare @CZ_Expirace_Track [tinyint] 

 

    -- Insert statements for trigger here

       BEGIN TRAN;

     

       BEGIN        

           DECLARE curPol CURSOR LOCAL STATIC FOR

           SELECT DEX_ROW_ID

             FROM inserted;

 

           OPEN curPol;

 

           WHILE ( 1 = 1 ) BEGIN

           FETCH NEXT FROM curPol INTO @DEX_ROW_ID;

 

           IF ( @@FETCH_STATUS <> 0 )

                 BREAK;

 

SELECT
    @CountEntries = i.CountEntries,
    @PONUMBER = i.PONUMBER,
    @ITEMNMBR = i.ITEMNMBR,
    @ITEMDESC = i.ITEMDESC,
    @ORD = i.ORD,
    @VNDDOCNM = i.VNDDOCNM,
    @VNDITNUM = i.VNDITNUM,
    @CZ_CarKod = i.CZ_CarKod,
    @SKL_ID = i.SKL_ID,
    @LOCNCODE = i.LOCNCODE,
    @MJ = i.MJ,
    @QTYSHPPD = i.QTYSHPPD,
    @QTYPACK = i.QTYPACK,
    @CZ_DatVyr_Track = i.CZ_DatVyr_Track,
    @CZ_DatVyr_Delka = i.CZ_DatVyr_Delka,
    @CZ_SerNum_Track = i.CZ_SerNum_Track,
    @CZ_SerNum_Delka = i.CZ_SerNum_Delka,
    @CZ_SW_Track = i.CZ_SW_Track,
    @CZ_SW_Delka = i.CZ_SW_Delka,
    @CZ_Doslo = i.CZ_Doslo,
    @DEX_ROW_ID = i.DEX_ROW_ID,
    @WEIGHT = i.WEIGHT,
    @NMBRPAL = i.NMBRPAL,
    @TYPEPAL = i.TYPEPAL,
    @ITEMCODE = i.ITEMCODE,
    @SERLTNUM = i.SERLTNUM,
    @CZ_REZ1_Track = i.CZ_REZ1_Track,
    @CZ_REZ2_Track = i.CZ_REZ2_Track,
    @Realization_Start = i.Realization_Start,
    @Realization_Stop = i.Realization_Stop,
    @CZ_Expirace_Track = i.CZ_Expirace_Track
FROM INSERTED i
                    WHERE i.DEX_ROW_ID = @DEX_ROW_ID;

 

                    EXECUTE dbo.CZMST_SE_insert

                    @CountEntries,

                    'Prijem',--@SOPNUMBE,

                    @ITEMNMBR,

                    'P',--@ITEMTYPE,

                    @ITEMDESC,

                    '',--@VNDDOCNM,

                    @CZ_CarKod,--@VNDITNUM,

                    @CountEntries,--@ORD,

                    @CZ_CarKod,

                    @skl_id,

                    @LOCNCODE,

                    @MJ,--@MJ,

                    @QTYSHPPD,--@QTYSHPPD,

                    0,--@QTYPACK,

                    0,--@CZ_DatVyr_Track,

                    0,--@CZ_DatVyr_Delka,

                    @CZ_SerNum_Track,

                    0,--@CZ_SerNum_Delka,

                    0,--@CZ_SW_Track,

                    0,--@CZ_SW_Delka,

                    0,--@CZ_Doslo,

                    '',--@Note,

                    '',--@TYPEPAL,

                    0,--@QTYPAL,

                    0,--@PRIORITY,

                    0,--@PRINTED,

                    0,--@USERID,

                    @DEX_ROW_ID,

                    @CZ_REZ1_Track,

                    @CZ_REZ2_Track,

                    @ITEMCODE,

                    NULL,--@WEIGHT,

                    @Realization_Start,--@Realization_Start,

                    @Realization_Stop,--@Realization_Stop,

                    @CZ_Expirace_Track;

            

           END;

 

           CLOSE curPol;

           DEALLOCATE curPol;

 

    END;

 

       COMMIT TRAN;

 

END;