
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ing. Rathouzsky Matous
-- Create date: 5.3. 2023
-- Description:	insert do tabulky CZMST_PI
-- =============================================
CREATE PROCEDURE [dbo].[CZMST_PI_insert]

	--@CountEntries [int],
	--@CE_Orig [int],
	--@ITEMNMBR [nvarchar](40),
	--@CZ_CarKod [nvarchar](70),
	--@LOCNCODE [nvarchar](11),	[
	--@SKL_ID [nvarchar](20),
	--@VNDITNUM [nvarchar](60),
	--@MJ [nvarchar](10),
	--@QUANTITY [numeric](19, 5),
	--@QUANTITYMJ [numeric](19, 5),
	--@QTYPACK [numeric](19, 5),
	--@SERLNMBR [nvarchar](50),
	--@DATEDONE [nvarchar](8),
	--@TIMEDONE [nvarchar](6),
	--@USERID [int],
	--@DEX_ROW_ID [int],
	--@GUID [uniqueidentifier],
	--@O_Checked [bit],
	--@INPUT_MODE [tinyint],
	--@ID_TERMINAL [int],
	--@ITEMCODE [nvarchar](70),
	--@REZ_1 [nvarchar](50),
	--@REZ_2 [nvarchar](50),
	--@WEIGHT [numeric](19, 5),
	--@Expirace [datetime]

 @CountEntries [int] ,
 @PONUMBER [nvarchar](30) ,
 @ORD [int] ,
 @ITEMNMBR [nvarchar](40) ,
 @VNDDOCNM [nvarchar](21) ,
 @VNDITNUM [nvarchar](60) ,
 @SKL_ID [nvarchar](20) ,
 @LOCNCODE [nvarchar](11) ,
 @MJ [nvarchar](10) ,
 @QTYSHPPD [numeric](19, 5) ,
 @QTYSHPPDMJ [numeric](19, 5) ,
 @QTYPACK [numeric](19, 5) ,
 @SERLTNUM [nvarchar](50) ,
 @KOD_SW [nvarchar](11) ,
 @DAT_VYROBY [nvarchar](11) ,
 @DATEDONE [nvarchar](8) ,
 @TIMEDONE [nvarchar](6) ,
 @CZ_CarKod [nvarchar](70) ,
 @REZ_1 [nvarchar](50) ,
 @REZ_2 [nvarchar](50) ,
 @USER_ID [int] ,
 @DEX_ROW_ID [int] ,
 @GUID [uniqueidentifier] ,
 @INPUT_MODE [tinyint] ,
 @ID_TERMINAL [int] ,
 @WEIGHT [numeric](19, 5) ,
 @NMBRPAL [nvarchar](50) ,
 @TYPEPAL [nvarchar](10) ,
 @ITEMCODE [nvarchar](70) ,
 @Expirace [datetime] ,
 @AttributeToSN [nvarchar](50)



AS
--Deklarace testu na chybu vlozeni
DECLARE @ins1_error int

	BEGIN

--Zacatek transakce
BEGIN TRAN

		BEGIN	
			--Vlozeni poctu nasnimanych
INSERT INTO [dbo].[CZMST_PI]
           ([CountEntries]
           ,[PONUMBER]
           ,[ORD]
           ,[ITEMNMBR]
           ,[VNDDOCNM]
           ,[VNDITNUM]
           ,[SKL_ID]
           ,[LOCNCODE]
           ,[MJ]
           ,[QTYSHPPD]
           ,[QTYSHPPDMJ]
           ,[QTYPACK]
           ,[SERLTNUM]
           ,[KOD_SW]
           ,[DAT_VYROBY]
           ,[DATEDONE]
           ,[TIMEDONE]
           ,[CZ_CarKod]
           ,[REZ_1]
           ,[REZ_2]
           ,[USER_ID]
           ,[GUID]
           ,[INPUT_MODE]
           ,[ID_TERMINAL]
           ,[WEIGHT]
           ,[NMBRPAL]
           ,[TYPEPAL]
           ,[ITEMCODE]
           ,[Expirace]
           ,[AttributeToSN])
     VALUES
           (
	--@CountEntries,
	--@CE_Orig,
	--@ITEMNMBR,
	--@CZ_CarKod,
	--@LOCNCODE,
	--@SKL_ID,
	--@VNDITNUM,
	--@MJ,
	--@QUANTITY,
	--@QUANTITYMJ,
	--@QTYPACK,
	--@SERLNMBR,
	--@DATEDONE,
	--@TIMEDONE,
	--@USERID,
	----@DEX_ROW_ID IDENTITY(1,1),
	--@GUID,
	--@O_Checked,
	--@INPUT_MODE,
	--@ID_TERMINAL,
	--@ITEMCODE,
	--@REZ_1,
	--@REZ_2,
	--@WEIGHT,
	--@Expirace

	@CountEntries,
@PONUMBER,
@ORD,
@ITEMNMBR,
@VNDDOCNM,
@VNDITNUM,
@SKL_ID,
@LOCNCODE,
@MJ,
@QTYSHPPD,
@QTYSHPPDMJ,
@QTYPACK,
@SERLTNUM,
@KOD_SW,
@DAT_VYROBY,
@DATEDONE,
@TIMEDONE,
@CZ_CarKod,
@REZ_1,
@REZ_2,
@USER_ID,
---@DEX_ROW_ID,
@GUID,
@INPUT_MODE,
@ID_TERMINAL,
@WEIGHT,
@NMBRPAL,
@TYPEPAL,
@ITEMCODE,
@Expirace,
@AttributeToSN


		   )
		END

				--Zjisteni zda v prvnim insertu nastala chyba
		SELECT @ins1_error = @@ERROR

		--Test na chybu vlozeni
		IF (@ins1_error = 0)
		BEGIN
			--Chyba nenastala => potvrzeni transakce
			PRINT 'ZAZNAM BYL USPESNE VLOZEN'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			--Nastala chyba zruseni transakce
			PRINT 'NASTALA CHYBA PRI VKLADANI HODNOT DO DB'
			ROLLBACK TRAN
		END
END
