SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ing. Matouš Rathouzský
-- Create date: 3.4. 2024
-- Description:	triger ktery vytvori zaznam v SE se strukturou VPP, na zaklade zaznamu VPH se zmenou prvku ACTIVE na 1
--                na zaklade zaznamu VPH se zmenou prvku ACTIVE na 0 vymaze vsechny zaznamy z SE tykajicich se Countentries z VPH
-- =============================================
CREATE TRIGGER [dbo].[trg_CZPRO_VPH_ActiveChange_new]
ON [dbo].[CZPRO_VPH]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF UPDATE(Active) -- Zkontrolujeme, zda byl aktualizován sloupec Active
    BEGIN
        -- Deklarace proměnných pro VPH
        DECLARE @VPH_CountEntries int;
        DECLARE @VPH_SOPNUMBE nvarchar(30);
        DECLARE @VPH_SOPTYPE nvarchar(11);
        DECLARE @VPH_SOPDESC nvarchar(100);
        DECLARE @VPH_VNDDOCNMH nvarchar(21);
        DECLARE @VPH_BarcodeH nvarchar(31);
        DECLARE @VPH_LOCNCODE nvarchar(11);
        DECLARE @VPH_DateProd smallint;
        DECLARE @VPH_Rez1 nvarchar(50);
        DECLARE @VPH_Rez2 nvarchar(50);
        DECLARE @VPH_TermID tinyint;
        DECLARE @VPH_LSTMod datetime;
        DECLARE @VPH_DEX_ROW_ID int;
        DECLARE @VPH_Active tinyint;
        DECLARE @VPH_USERID int;

        -- Deklarace proměnných pro VPP
        DECLARE @VPP_CountEntries int;
        DECLARE @VPP_SOPNUMBE nvarchar(30);
        DECLARE @VPP_ITEMNMBR nvarchar(40);
        DECLARE @VPP_ITEMTYPE nvarchar(11);
        DECLARE @VPP_ITEMDESC nvarchar(100);
        DECLARE @VPP_ITEMMJ nvarchar(5);
        DECLARE @VPP_VNDDOCNMP nvarchar(21);
        DECLARE @VPP_VNDITNUM nvarchar(60);
        DECLARE @VPP_ORD int;
        DECLARE @VPP_BarcodeP nvarchar(31);
        DECLARE @VPP_LOCNCODE nvarchar(11);
        DECLARE @VPP_QTYSHPPD numeric(19, 5);
        DECLARE @VPP_QTYDOKON numeric(19, 5);
        DECLARE @VPP_QTYPACK numeric(19, 5);
        DECLARE @VPP_QTYPACKMJ nvarchar(5);
        DECLARE @VPP_TIMEMODE int;
        DECLARE @VPP_TIMEPREP real;
        DECLARE @VPP_TIMEUNIT real;
        DECLARE @VPP_DtProdT tinyint;
        DECLARE @VPP_DtProdL smallint;
        DECLARE @VPP_SerNumT tinyint;
        DECLARE @VPP_SerNumL smallint;
        DECLARE @VPP_VerT tinyint;
        DECLARE @VPP_VerL smallint;
        DECLARE @VPP_TermID tinyint;
        DECLARE @VPP_LSTMod datetime;
        DECLARE @VPP_Realization_Start datetime;
        DECLARE @VPP_Realization_Stop datetime;
        DECLARE @VPP_BarcodeT tinyint;
        DECLARE @VPP_CZ_REZ1_Track tinyint;
        DECLARE @VPP_CZ_REZ2_Track tinyint;
        DECLARE @VPP_CZ_REZ3_Track tinyint;
        DECLARE @VPP_CZ_REZ4_Track tinyint;
        DECLARE @VPP_CZ_REZ5_Track tinyint;
        DECLARE @VPP_WEIGHT_TARA numeric(19, 5);
        DECLARE @VPP_WEIGHT_NETTO numeric(19, 5);
        DECLARE @VPP_WEIGHT_TOL_PLUS numeric(19, 5);
        DECLARE @VPP_WEIGHT_TOL_MINUS numeric(19, 5);
		
        DECLARE @VPP_DEX_ROW_ID int;
        -- Získání aktualizovaných dat
        SELECT 
            @VPH_CountEntries = inserted.CountEntries,
            @VPH_SOPNUMBE = inserted.SOPNUMBE,
            @VPH_SOPTYPE = inserted.SOPTYPE,
            @VPH_SOPDESC = inserted.SOPDESC,
            @VPH_VNDDOCNMH = inserted.VNDDOCNMH,
            @VPH_BarcodeH = inserted.BarcodeH,
            @VPH_LOCNCODE = inserted.LOCNCODE,
            @VPH_DateProd = inserted.DateProd,
            @VPH_Rez1 = inserted.Rez1,
            @VPH_Rez2 = inserted.Rez2,
            @VPH_TermID = inserted.TermID,
            @VPH_LSTMod = inserted.LSTMod,
            @VPH_DEX_ROW_ID = inserted.DEX_ROW_ID,
            @VPH_Active = inserted.Active,
            @VPH_USERID = inserted.USERID
        FROM inserted;

        -- Pokud byla hodnota sloupce Active změněna z 1 na 0
        --IF EXISTS (SELECT 1 FROM deleted WHERE Active = 1)
		IF EXISTS (SELECT 1 FROM deleted WHERE Active <> 0)
        BEGIN
            -- Pokud se hodnota změnila z 1 na 0, provede smazání záznamu z tabulky CZMST_SE
            IF EXISTS (SELECT 1 FROM inserted WHERE Active = 0)
			--IF NOT EXISTS (SELECT 1 FROM inserted WHERE Active = 1)
            BEGIN
                DELETE FROM [dbo].CZMST_SE 
                WHERE CountEntries = @VPH_CountEntries;
            END;
        END;

        -- Pokud byla hodnota sloupce Active změněna z 0 na 1
        --IF EXISTS (SELECT 1 FROM deleted WHERE Active = 0)
		IF EXISTS (SELECT 1 FROM deleted WHERE Active <> 1)
        BEGIN
            -- Pokud se hodnota změnila na 1, vytvoř nový záznam v tabulce CZMST_SE
            IF EXISTS (SELECT 1 FROM inserted WHERE Active = 1)
            BEGIN
                DECLARE dataCursor CURSOR FOR
                SELECT 
                    [CountEntries],
                    [SOPNUMBE],
                    [ITEMNMBR],
                    [ITEMTYPE],
                    [ITEMDESC],
                    [ITEMMJ],
                    [VNDDOCNMP],
                    [VNDITNUM],
                    [ORD],
                    [BarcodeP],
                    [LOCNCODE],
                    [QTYSHPPD],
                    [QTYDOKON],
                    [QTYPACK],
                    [QTYPACKMJ],
                    [TIMEMODE],
                    [TIMEPREP],
                    [TIMEUNIT],
                    [DtProdT],
                    [DtProdL],
                    [SerNumT],
                    [SerNumL],
                    [VerT],
                    [VerL],
                    [TermID],
                    [LSTMod],
                    [DEX_ROW_ID],
                    [Realization_Start],
                    [Realization_Stop],
                    [BarcodeT],
                    [CZ_REZ1_Track],
                    [CZ_REZ2_Track],
                    [CZ_REZ3_Track],
                    [CZ_REZ4_Track],
                    [CZ_REZ5_Track],
                    [WEIGHT_TARA],
                    [WEIGHT_NETTO],
                    [WEIGHT_TOL_PLUS],
                    [WEIGHT_TOL_MINUS]
                FROM dbo.CZPRO_VPP
                WHERE CountEntries = @VPH_CountEntries
                  AND SOPNUMBE = @VPH_SOPNUMBE
                  --AND LOCNCODE = @VPH_LOCNCODE
                  --AND TermID = @VPH_TermID
                  --AND LSTMod = @VPH_LSTMod;

                OPEN dataCursor;
                FETCH NEXT FROM dataCursor INTO @VPP_CountEntries, @VPP_SOPNUMBE, @VPP_ITEMNMBR, @VPP_ITEMTYPE, @VPP_ITEMDESC, @VPP_ITEMMJ, @VPP_VNDDOCNMP, @VPP_VNDITNUM, @VPP_ORD, @VPP_BarcodeP, @VPP_LOCNCODE, @VPP_QTYSHPPD, @VPP_QTYDOKON, @VPP_QTYPACK, @VPP_QTYPACKMJ, @VPP_TIMEMODE, @VPP_TIMEPREP, @VPP_TIMEUNIT, @VPP_DtProdT, @VPP_DtProdL, @VPP_SerNumT, @VPP_SerNumL, @VPP_VerT, @VPP_VerL, @VPP_TermID, @VPP_LSTMod, @VPP_DEX_ROW_ID, @VPP_Realization_Start, @VPP_Realization_Stop, @VPP_BarcodeT, @VPP_CZ_REZ1_Track, @VPP_CZ_REZ2_Track, @VPP_CZ_REZ3_Track, @VPP_CZ_REZ4_Track, @VPP_CZ_REZ5_Track, @VPP_WEIGHT_TARA, @VPP_WEIGHT_NETTO, @VPP_WEIGHT_TOL_PLUS, @VPP_WEIGHT_TOL_MINUS;

                -- Cyklus WHILE pro zápis záznamů do tabulky CZMST_SE
                WHILE @@FETCH_STATUS = 0
                BEGIN
                    -- Zde doplňte kód pro vložení záznamu do tabulky CZMST_SE na základě hodnot z tabulky VPP
					----------------------------------------SE zapis start--------------------------------------------------------------------

EXECUTE dbo.CZMST_SE_insert

                    @VPP_CountEntries,

                    @VPP_SOPNUMBE,--'Vyroba',--@SOPNUMBE,

                    @VPP_ITEMNMBR,

                    'V',--@ITEMTYPE,

                    @VPP_ITEMDESC,

                    @VPP_VNDDOCNMP,

                    @VPP_VNDITNUM,--66,--@CZ_CarKod,--@VNDITNUM,

                    @VPP_ORD,--66,--@CountEntries,--@ORD,

                    @VPP_BarcodeP,--66,--@CZ_CarKod,

                   '',-- null,--66,--@skl_id,

                    @VPP_LOCNCODE,

                    @VPP_ITEMMJ,--66,--@DMJ,--@MJ,

                    @VPP_QTYSHPPD,--66,--@QUANTITY,--@QTYSHPPD,

                    @VPP_QTYPACK,

                    0,--@CZ_DatVyr_Track,

                    0,--@CZ_DatVyr_Delka,

                    @VPP_SerNumT,-- 66,--@CZ_SerNum_Track,

                    @VPP_SerNumL,-- 0,--@CZ_SerNum_Delka,

                    @VPP_VerT ,--0,--@CZ_SW_Track,

                    @VPP_VerL ,--0,--@CZ_SW_Delka,

                   @VPP_TermID ,-- 0,--@CZ_Doslo,

                    @VPH_SOPDESC ,--'',--@Note,

                    '',--@TYPEPAL,

                   @VPP_QTYPACK ,-- 0,--@QTYPAL,

                    0,--@PRIORITY,

                    0,--@PRINTED,

                    0,--@USERID,

                    66,--@DEX_ROW_ID,

                    @VPP_CZ_REZ1_Track,--66,--@CZ_REZ1_Track,

                    @VPP_CZ_REZ2_Track,--66,--@CZ_REZ2_Track,

                   @VPP_BarcodeP,-- 66,--@ITEMCODE,

                  @VPP_WEIGHT_NETTO ,--  NULL,--@WEIGHT,

                 null,--  @VPP_Realization_Start,

                   null,-- @VPP_Realization_Stop,

                   0;-- 66;--@CZ_Expirace_Track;

----------------------------------------SE zapis konec--------------------------------------------------------------------


                    FETCH NEXT FROM dataCursor INTO @VPP_CountEntries, @VPP_SOPNUMBE, @VPP_ITEMNMBR, @VPP_ITEMTYPE, @VPP_ITEMDESC, @VPP_ITEMMJ, @VPP_VNDDOCNMP, @VPP_VNDITNUM, @VPP_ORD, @VPP_BarcodeP, @VPP_LOCNCODE, @VPP_QTYSHPPD, @VPP_QTYDOKON, @VPP_QTYPACK, @VPP_QTYPACKMJ, @VPP_TIMEMODE, @VPP_TIMEPREP, @VPP_TIMEUNIT, @VPP_DtProdT, @VPP_DtProdL, @VPP_SerNumT, @VPP_SerNumL, @VPP_VerT, @VPP_VerL, @VPP_TermID, @VPP_LSTMod, @VPP_DEX_ROW_ID, @VPP_Realization_Start, @VPP_Realization_Stop, @VPP_BarcodeT, @VPP_CZ_REZ1_Track, @VPP_CZ_REZ2_Track, @VPP_CZ_REZ3_Track, @VPP_CZ_REZ4_Track, @VPP_CZ_REZ5_Track, @VPP_WEIGHT_TARA, @VPP_WEIGHT_NETTO, @VPP_WEIGHT_TOL_PLUS, @VPP_WEIGHT_TOL_MINUS;
                END;

                CLOSE dataCursor;
                DEALLOCATE dataCursor;
            END;
        END;
    END;
END;



----------------------------------------SE zapis start--------------------------------------------------------------------

--EXECUTE dbo.CZMST_SE_insert

--                    @VPH_CountEntries,

--                    'Vyroba',--@SOPNUMBE,

--                    66,--@ITEMNMBR,

--                    'V',--@ITEMTYPE,

--                    66,--@ITEMDESC,

--                    '',--@VNDDOCNM,

--                    66,--@CZ_CarKod,--@VNDITNUM,

--                    66,--@CountEntries,--@ORD,

--                    66,--@CZ_CarKod,

--                    66,--@skl_id,

--                    66,--@LOCNCODE,

--                    66,--@DMJ,--@MJ,

--                    66,--@QUANTITY,--@QTYSHPPD,

--                    0,--@QTYPACK,

--                    0,--@CZ_DatVyr_Track,

--                    0,--@CZ_DatVyr_Delka,

--                    66,--@CZ_SerNum_Track,

--                    0,--@CZ_SerNum_Delka,

--                    0,--@CZ_SW_Track,

--                    0,--@CZ_SW_Delka,

--                    0,--@CZ_Doslo,

--                    '',--@Note,

--                    '',--@TYPEPAL,

--                    0,--@QTYPAL,

--                    0,--@PRIORITY,

--                    0,--@PRINTED,

--                    0,--@USERID,

--                    66,--@DEX_ROW_ID,

--                    66,--@CZ_REZ1_Track,

--                    66,--@CZ_REZ2_Track,

--                    66,--@ITEMCODE,

--                    NULL,--@WEIGHT,

--                    66,--@DATEDONE,--@Realization_Start,

--                    66,--@DATEDONE,--@Realization_Stop,

--                    66;--@CZ_Expirace_Track;

----------------------------------------SE zapis konec--------------------------------------------------------------------