SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ing. Rathouzsky Matous
-- Create date: 4.4. 2024
-- Description:	insert do tabulky Production
-- =============================================
CREATE PROCEDURE [dbo].[Production_insert]

	--@CountEntries [int],
	--@CE_Orig [int],
	--@ITEMNMBR [nvarchar](40),
	--@CZ_CarKod [nvarchar](70),
	--@LOCNCODE [nvarchar](11),
	--@SKL_ID [nvarchar](20),
	--@VNDITNUM [nvarchar](60),
	--@MJ [nvarchar](10),
	--@QUANTITY [numeric](19, 5),
	--@QUANTITYMJ [numeric](19, 5),
	--@QTYPACK [numeric](19, 5),
	--@SERLNMBR [nvarchar](50),
	--@DATEDONE [nvarchar](8),
	--@TIMEDONE [nvarchar](6),
	--@USERID [int],
	--@DEX_ROW_ID [int],
	--@GUID [uniqueidentifier],
	--@O_Checked [bit],
	--@INPUT_MODE [tinyint],
	--@ID_TERMINAL [int],
	--@ITEMCODE [nvarchar](70),
	--@REZ_1 [nvarchar](50),
	--@REZ_2 [nvarchar](50),
	--@WEIGHT [numeric](19, 5),
	--@Expirace [datetime]

	@CountEntries int,
    @SOPNUMBE nvarchar(30),
    @ITEMNMBR nvarchar(40),
    @ITEMTYPE nvarchar(11),
    @ITEMMJ nvarchar(5),
    @ITEMDESC nvarchar(100),
    @ORD int,
    @TIMEMODE int,
    @TIMEPREPSTART datetime,
    @TIMEPREPSTOP datetime,
    @TIMEPREP real,
    @TIMEUNIT real,
    @TIMESTART datetime,
    @TIMESTOP datetime,
    @TIMECORSTART datetime,
    @TIMECORSTOP datetime,
    @TIMECOR real,
    @TIMECRID int,
    @TIMECRIDTYPE tinyint,
    @id int,
    @loginid nvarchar(20),
    @machineid nvarchar(20),
    @operationid nvarchar(16),
    @dateeve datetime,
    @qty numeric(19, 5),
    @qtyReal numeric(19, 5),
    @QTYPACK numeric(19, 5),
    @QTYPACKMJ nvarchar(5),
    @description nvarchar(max),
    @BarcodeP nvarchar(31),
    @UserID nvarchar(20),
    @TermID tinyint,
    @ISOK datetime,
    @GUID uniqueidentifier,
    @SOUBEHGUID uniqueidentifier,
    @CORRGUID uniqueidentifier,
    @qtyOld numeric(19, 5),
    @idVS nvarchar(10),
    @dateedit datetime,
    @SKL_ID nvarchar(20),
    @LOCNCODE nvarchar(11),
    @SERLTNUM nvarchar(50),
    @EXPIRATION nvarchar(50),
    @NMBRPAL nvarchar(50),
    @TYPEPAL nvarchar(10),
    @PackType nvarchar(50),
    @status int,
    @WEIGHT numeric(19, 5),
    @STORNOGUID uniqueidentifier,
    @REZ_1 nvarchar(100),
    @REZ_2 nvarchar(100),
    @REZ_3 nvarchar(100),
    @REZ_4 nvarchar(100),
    @REZ_5 nvarchar(100),
    @WEIGHT_OLD numeric(19, 5)

AS
--Deklarace testu na chybu vlozeni
DECLARE @ins1_error int

	BEGIN

--Zacatek transakce
BEGIN TRAN

		BEGIN	
			--Vlozeni poctu nasnimanych
INSERT INTO [dbo].[Production]
           ([CountEntries]
      ,[SOPNUMBE]
      ,[ITEMNMBR]
      ,[ITEMTYPE]
      ,[ITEMMJ]
      ,[ITEMDESC]
      ,[ORD]
      ,[TIMEMODE]
      ,[TIMEPREPSTART]
      ,[TIMEPREPSTOP]
      ,[TIMEPREP]
      ,[TIMEUNIT]
      ,[TIMESTART]
      ,[TIMESTOP]
      ,[TIMECORSTART]
      ,[TIMECORSTOP]
      ,[TIMECOR]
      ,[TIMECRID]
      ,[TIMECRIDTYPE]
     -- ,[id]
      ,[loginid]
      ,[machineid]
      ,[operationid]
      ,[dateeve]
      ,[qty]
      ,[qtyReal]
      ,[QTYPACK]
      ,[QTYPACKMJ]
      ,[description]
      ,[BarcodeP]
      ,[UserID]
      ,[TermID]
      ,[ISOK]
      ,[GUID]
      ,[SOUBEHGUID]
      ,[CORRGUID]
      ,[qtyOld]
      ,[idVS]
      ,[dateedit]
      ,[SKL_ID]
      ,[LOCNCODE]
      ,[SERLTNUM]
      ,[EXPIRATION]
      ,[NMBRPAL]
      ,[TYPEPAL]
      ,[PackType]
      ,[status]
      ,[WEIGHT]
      ,[STORNOGUID]
      ,[REZ_1]
      ,[REZ_2]
      ,[REZ_3]
      ,[REZ_4]
      ,[REZ_5]
      ,[WEIGHT_OLD])
     VALUES
           (
@CountEntries,
@SOPNUMBE,
@ITEMNMBR,
@ITEMTYPE,
@ITEMMJ,
@ITEMDESC,
@ORD,
@TIMEMODE,
@TIMEPREPSTART,
@TIMEPREPSTOP,
@TIMEPREP,
@TIMEUNIT,
@TIMESTART,
@TIMESTOP,
@TIMECORSTART,
@TIMECORSTOP,
@TIMECOR,
@TIMECRID,
@TIMECRIDTYPE,
--@id,
@loginid,
@machineid,
@operationid,
@dateeve,
@qty,
@qtyReal,
@QTYPACK,
@QTYPACKMJ,
@description,
@BarcodeP,
@UserID,
@TermID,
@ISOK,
@GUID,
@SOUBEHGUID,
@CORRGUID,
@qtyOld,
@idVS,
@dateedit,
@SKL_ID,
@LOCNCODE,
@SERLTNUM,
@EXPIRATION,
@NMBRPAL,
@TYPEPAL,
@PackType,
@status,
@WEIGHT,
@STORNOGUID,
@REZ_1,
@REZ_2,
@REZ_3,
@REZ_4,
@REZ_5,
@WEIGHT_OLD


		   )
		END

				--Zjisteni zda v prvnim insertu nastala chyba
		SELECT @ins1_error = @@ERROR

		--Test na chybu vlozeni
		IF (@ins1_error = 0)
		BEGIN
			--Chyba nenastala => potvrzeni transakce
			PRINT 'ZAZNAM BYL USPESNE VLOZEN'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			--Nastala chyba zruseni transakce
			PRINT 'NASTALA CHYBA PRI VKLADANI HODNOT DO DB'
			ROLLBACK TRAN
		END
END
