SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ing. Rathouzsky Matous
-- Create date: 4.4. 2024
-- Description:	preliti dat z SI do PI a do I4 a do Production
-- =============================================
CREATE TRIGGER [dbo].[Trigger_SI_do_I4_PI_Production] 
   ON  [dbo].[CZMST_SI] 
   FOR INSERT

AS

BEGIN

       SET NOCOUNT ON;

	--deklarace promennych
DECLARE @CountEntries [int]
DECLARE @SOPNUMBE [nvarchar](30)
DECLARE @ITEMNMBR [nvarchar](40)
DECLARE @ORD [int]
DECLARE @VNDDOCNM [nvarchar](21)
DECLARE @VNDITNUM [nvarchar](60)
DECLARE @CZ_CarKod [nvarchar](70)
DECLARE @SKL_ID [nvarchar](20)
DECLARE @LOCNCODE [nvarchar](11)
DECLARE @MJ [nvarchar](10)
DECLARE @QTYSHPPD [numeric](19, 5)
DECLARE @QTYPACK [numeric](19, 5)
DECLARE @QTYSHPPDMJ [numeric](19, 5)
DECLARE @SERLTNUM [nvarchar](50)
DECLARE @KOD_SW [nvarchar](11)
DECLARE @DAT_VYROBY [nvarchar](11)
DECLARE @REZ_1 [nvarchar](50)
DECLARE @REZ_2 [nvarchar](50)
DECLARE @ODBER_ID [nvarchar](12)
DECLARE @DATEDONE [nvarchar](8)
DECLARE @TIMEDONE [nvarchar](6)
DECLARE @USER_ID [int]
DECLARE @TYPEPAL [nvarchar](10)
DECLARE @NMBRPAL [nvarchar](50)
DECLARE @PRINTED [tinyint]
DECLARE @DEX_ROW_ID [int]
DECLARE @GUID [uniqueidentifier]
DECLARE @INPUT_MODE [tinyint]
DECLARE @ID_TERMINAL [int]
DECLARE @ITEMCODE [nvarchar](70)
DECLARE @WEIGHT [numeric](19, 5)
DECLARE @Expirace [datetime]


  -- Insert statements for trigger here

       BEGIN TRAN;

     

       BEGIN        

           DECLARE curPol CURSOR LOCAL STATIC FOR

           SELECT DEX_ROW_ID

             FROM inserted;

 

           OPEN curPol;

 

           WHILE ( 1 = 1 ) BEGIN

           FETCH NEXT FROM curPol INTO @DEX_ROW_ID;

 

           IF ( @@FETCH_STATUS <> 0 )

                 BREAK;

 

                    SELECT
@CountEntries = i.CountEntries,
@SOPNUMBE = i.SOPNUMBE,
@ITEMNMBR = i.ITEMNMBR,
@ORD = i.ORD,
@VNDDOCNM = i.VNDDOCNM,
@VNDITNUM = i.VNDITNUM,
@CZ_CarKod = i.CZ_CarKod,
@SKL_ID = i.SKL_ID,
@LOCNCODE = i.LOCNCODE,
@MJ = i.MJ,
@QTYSHPPD = i.QTYSHPPD,
@QTYPACK = i.QTYPACK,
@QTYSHPPDMJ = i.QTYSHPPDMJ,
@SERLTNUM = i.SERLTNUM,
@KOD_SW = i.KOD_SW,
@DAT_VYROBY = i.DAT_VYROBY,
@REZ_1 = i.REZ_1,
@REZ_2 = i.REZ_2,
@ODBER_ID = i.ODBER_ID,
@DATEDONE = i.DATEDONE,
@TIMEDONE = i.TIMEDONE,
@USER_ID = i.USER_ID,
@TYPEPAL = i.TYPEPAL,
@NMBRPAL = i.NMBRPAL,
@PRINTED = i.PRINTED,
@DEX_ROW_ID = i.DEX_ROW_ID,
@GUID = i.GUID,
@INPUT_MODE = i.INPUT_MODE,
@ID_TERMINAL = i.ID_TERMINAL,
@ITEMCODE = i.ITEMCODE,
@WEIGHT = i.WEIGHT,
@Expirace = i.Expirace

	from INSERTED i
	  WHERE i.DEX_ROW_ID = @DEX_ROW_ID;


	  --select @CountEntries @SOPNUMBE @ORD

	 DECLARE @ItemTypeResult NVARCHAR(255);  -- Upravte délku podle skutečných potřeb


SELECT TOP 1
    @ItemTypeResult = [ITEMTYPE]
FROM
    [CZMST_SE]
WHERE
    [CountEntries] = @CountEntries
    AND [SOPNUMBE] = @SOPNUMBE
    AND [ORD] = @ORD;

-- Použití hodnoty ItemTypeResult podle potřeby
-- ...

-- Příklad výpisu hodnoty ItemTypeResult
PRINT @ItemTypeResult;

-- Podmínka IF
IF @ItemTypeResult = 'P'
BEGIN
    -- Akce, která se provede, pokud ItemTypeResult je rovno 'P'
    PRINT 'ItemTypeResult je P. Provedeno další akce pro P.';

	EXECUTE dbo.CZMST_PI_insert 

@CountEntries,
@SOPNUMBE,--@PONUMBER,
@ORD,
@ITEMNMBR,
@VNDDOCNM,
@VNDITNUM,
@SKL_ID,
@LOCNCODE,
@MJ,
@QTYSHPPD,
@QTYSHPPDMJ,
@QTYPACK,
@SERLTNUM,
@KOD_SW,
@DAT_VYROBY,
@DATEDONE,
@TIMEDONE,
@CZ_CarKod,
@REZ_1,
@REZ_2,
@USER_ID,
@DEX_ROW_ID,
@GUID,
@INPUT_MODE,
@ID_TERMINAL,
@WEIGHT,
@NMBRPAL,
@TYPEPAL,
@ITEMCODE,
@Expirace,
null;   --@AttributeToSN;

END

ELSE IF @ItemTypeResult = 'I'

BEGIN
    -- Akce, která se provede, pokud ItemTypeResult je rovno 'I'
    PRINT 'ItemTypeResult je I. Provedeno další akce pro I.';
	EXECUTE dbo.CZMST_I4_insert 
   @CountEntries,
	NULL,--@CE_Orig,
	@ITEMNMBR,
	@CZ_CarKod,
	@LOCNCODE,
	@SKL_ID,
	@VNDITNUM,
	@MJ,
	@QTYSHPPD,--@QUANTITY,
	@QTYSHPPD,--@QUANTITYMJ,
	@QTYPACK,
	@SERLTNUM,--@SERLNMBR,
	@DATEDONE,
	@TIMEDONE,
	NULL,--@USERID,
	@DEX_ROW_ID,
	@GUID,
	0,--@O_Checked,
	@INPUT_MODE,
	@ID_TERMINAL,
	@ITEMCODE,
	@REZ_1,
	@REZ_2,
	@WEIGHT,
	@Expirace;



END

ELSE IF @ItemTypeResult = 'V'

BEGIN
    -- Akce, která se provede, pokud ItemTypeResult je rovno 'V'
    PRINT 'ItemTypeResult je V. Provedeno další akce pro V.';

declare @aktualniCas datetime

set @aktualniCas = GETDATE()

EXECUTE dbo.Production_insert 
	@CountEntries,
    @SOPNUMBE,
    @ITEMNMBR,
    '',--66, -- @ITEMTYPE,
    @MJ,--66, -- @ITEMMJ,
    '',--66, -- @ITEMDESC,
    @ORD,
    0, -- @TIMEMODE,
    null, -- @TIMEPREPSTART,
    null, -- @TIMEPREPSTOP,
    null, -- @TIMEPREP,
    null, -- @TIMEUNIT,
    null, -- @TIMESTART,
    null, -- @TIMESTOP,
    null, -- @TIMECORSTART,
    null, -- @TIMECORSTOP,
   null, -- 66, -- @TIMECOR,
   null, -- 66, -- @TIMECRID,
   null, -- 66, -- @TIMECRIDTYPE,
    66, -- @id,
    @USER_ID, -- @loginid,
    @ID_TERMINAL, -- @machineid,
    null, -- @operationid,
    @aktualniCas, -- @dateeve,
    @QTYSHPPD, -- @qty,
    @QTYSHPPD ,--66, -- @qtyReal,
    @QTYPACK,
    0, -- @QTYPACKMJ,
    '', -- @description,
    @CZ_CarKod , -- @BarcodeP,
    @USER_ID,--66, -- @UserID,
   @ID_TERMINAL ,-- 66, -- @TermID,
    null, -- @ISOK,
    @GUID,
    null, -- @SOUBEHGUID,
    null, -- @CORRGUID,
    0, -- @qtyOld,
    @QTYSHPPD, -- @idVS,
    null, -- @dateedit,
    @SKL_ID,
    @LOCNCODE,
    @SERLTNUM,
   @Expirace ,-- 66, -- @EXPIRATION,
    @NMBRPAL,
    @TYPEPAL,
    '', -- @PackType,
    '', -- @status,
    @WEIGHT,
    null, -- @STORNOGUID,
    @REZ_1,
    @REZ_2,
    null, --  '', -- @REZ_3,
    null, --  '', -- @REZ_4,
    null, --  '', -- @REZ_5,
    null; -- 0 -- @WEIGHT_OLD;


END

ELSE

BEGIN
    -- Akce, která se provede, pokud ItemTypeResult není ani 'P', ani 'I'
    PRINT 'ItemTypeResult není ani P, ani I. Provedeno jiné akce.';

END;




     END;

 

           CLOSE curPol;

           DEALLOCATE curPol;

 

    END;

 

       COMMIT TRAN;

 

END;