
/****** Object:  Trigger [dbo].[Trigger_SI_delete_I4_PI_Production]    Script Date: 22.04.2024 11:02:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ing. Rathouzsky Matous
-- Create date: 19.2. 2024
-- Description:	vymazani zaznamu pri delete v SI propis I4 a PI a Production
-- =============================================
create TRIGGER [dbo].[Trigger_SI_delete_I4_PI_Production] 
   ON  [dbo].[CZMST_SI] 
   FOR DELETE
AS 
BEGIN
	SET NOCOUNT ON;

	--deklarace promennych
DECLARE @CountEntries [int]
DECLARE @SOPNUMBE [nvarchar](30)
DECLARE @ITEMNMBR [nvarchar](40)
DECLARE @ORD [int]
DECLARE @VNDDOCNM [nvarchar](21)
DECLARE @VNDITNUM [nvarchar](60)
DECLARE @CZ_CarKod [nvarchar](70)
DECLARE @SKL_ID [nvarchar](20)
DECLARE @LOCNCODE [nvarchar](11)
DECLARE @MJ [nvarchar](10)
DECLARE @QTYSHPPD [numeric](19, 5)
DECLARE @QTYPACK [numeric](19, 5)
DECLARE @QTYSHPPDMJ [numeric](19, 5)
DECLARE @SERLTNUM [nvarchar](50)
DECLARE @KOD_SW [nvarchar](11)
DECLARE @DAT_VYROBY [nvarchar](11)
DECLARE @REZ_1 [nvarchar](50)
DECLARE @REZ_2 [nvarchar](50)
DECLARE @ODBER_ID [nvarchar](12)
DECLARE @DATEDONE [nvarchar](8)
DECLARE @TIMEDONE [nvarchar](6)
DECLARE @USER_ID [int]
DECLARE @TYPEPAL [nvarchar](10)
DECLARE @NMBRPAL [nvarchar](50)
DECLARE @PRINTED [tinyint]
DECLARE @DEX_ROW_ID [int]
DECLARE @GUID [uniqueidentifier]
DECLARE @INPUT_MODE [tinyint]
DECLARE @ID_TERMINAL [int]
DECLARE @ITEMCODE [nvarchar](70)
DECLARE @WEIGHT [numeric](19, 5)
DECLARE @Expirace [datetime]


  -- Insert statements for trigger here

       BEGIN TRAN;

     

       BEGIN        

           DECLARE curPol CURSOR LOCAL STATIC FOR

           SELECT DEX_ROW_ID

             FROM deleted;

 

           OPEN curPol;

 

           WHILE ( 1 = 1 ) BEGIN

           FETCH NEXT FROM curPol INTO @DEX_ROW_ID;

 

           IF ( @@FETCH_STATUS <> 0 )

                 BREAK;

 

                    SELECT
@CountEntries = i.CountEntries,
@SOPNUMBE = i.SOPNUMBE,
@ITEMNMBR = i.ITEMNMBR,
@ORD = i.ORD,
@VNDDOCNM = i.VNDDOCNM,
@VNDITNUM = i.VNDITNUM,
@CZ_CarKod = i.CZ_CarKod,
@SKL_ID = i.SKL_ID,
@LOCNCODE = i.LOCNCODE,
@MJ = i.MJ,
@QTYSHPPD = i.QTYSHPPD,
@QTYPACK = i.QTYPACK,
@QTYSHPPDMJ = i.QTYSHPPDMJ,
@SERLTNUM = i.SERLTNUM,
@KOD_SW = i.KOD_SW,
@DAT_VYROBY = i.DAT_VYROBY,
@REZ_1 = i.REZ_1,
@REZ_2 = i.REZ_2,
@ODBER_ID = i.ODBER_ID,
@DATEDONE = i.DATEDONE,
@TIMEDONE = i.TIMEDONE,
@USER_ID = i.USER_ID,
@TYPEPAL = i.TYPEPAL,
@NMBRPAL = i.NMBRPAL,
@PRINTED = i.PRINTED,
@DEX_ROW_ID = i.DEX_ROW_ID,
@GUID = i.GUID,
@INPUT_MODE = i.INPUT_MODE,
@ID_TERMINAL = i.ID_TERMINAL,
@ITEMCODE = i.ITEMCODE,
@WEIGHT = i.WEIGHT,
@Expirace = i.Expirace

	from deleted i
	  WHERE i.DEX_ROW_ID = @DEX_ROW_ID;


	DELETE FROM [dbo].[CZMST_I4]
      WHERE GUID = @GUID

	  DELETE FROM [dbo].[CZMST_PI]
      WHERE GUID = @GUID

	  	  DELETE FROM [dbo].[Production]
      WHERE GUID = @GUID

	
     END;

 

           CLOSE curPol;

           DEALLOCATE curPol;

 

    END;

 

       COMMIT TRAN;

 

END;