<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MP_Server.master.cs" Inherits="Fask.MST_W_Server.MP_Server" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>MST Konfiguračný server</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" ShowStartingNode="False" />

    <form id="form1" runat="server">

        <div id="FakeDiv"></div>

        <nav id="NavHead" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h1 class="h1">
                        <asp:Label ID="NadpisStranky" runat="server" meta:resourcekey="NadpisStranky"></asp:Label></h1>
                </div>
                <div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li><a href="<%=Page.ResolveUrl("~/Server.aspx")%>">
                                <asp:Label ID="Menu_Domu" runat="server" meta:resourcekey="Menu_Domu"></asp:Label></a></li>
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <asp:Label ID="Menu_Prijem" runat="server" meta:resourcekey="Menu_Prijem"></asp:Label>
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="<%=Page.ResolveUrl("~/Default.aspx")%>">
                                        <asp:Label ID="Menu_Prijem_WebSluzby" runat="server" meta:resourcekey="Menu_Prijem_WebSluzby"></asp:Label></a></li>
                                    <li><a href="<%=Page.ResolveUrl("~/Default.aspx")%>">
                                        <asp:Label ID="Menu_Prijem_Testy" runat="server" meta:resourcekey="Menu_Prijem_Testy"></asp:Label></a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <asp:Label ID="Menu_Prodej" runat="server" meta:resourcekey="Menu_Prodej"></asp:Label>
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="<%=Page.ResolveUrl("~/Default.aspx")%>">
                                        <asp:Label ID="Menu_Prodej_WebSluzby" runat="server" meta:resourcekey="Menu_Prodej_WebSluzby"></asp:Label></a></li>
                                    <li><a href="<%=Page.ResolveUrl("~/Default.aspx")%>">
                                        <asp:Label ID="Menu_Prodej_Testy" runat="server" meta:resourcekey="Menu_Prodej_Testy"></asp:Label></a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <asp:Label ID="Menu_Inventura" runat="server" meta:resourcekey="Menu_Inventura"></asp:Label>
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="<%=Page.ResolveUrl("~/Agendy/Inventura_Page.aspx")%>">
                                        <asp:Label ID="Menu_Inventura_WebSluzby" runat="server" meta:resourcekey="Menu_Inventura_WebSluzby"></asp:Label></a></li>
                                    <li><a href="<%=Page.ResolveUrl("~/Default.aspx")%>">
                                        <asp:Label ID="Menu_Inventura_Testy" runat="server" meta:resourcekey="Menu_Inventura_Testy"></asp:Label></a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <asp:Label ID="Menu_Vyroba" runat="server" meta:resourcekey="Menu_Vyroba"></asp:Label>
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="<%=Page.ResolveUrl("~/Vyroba.asmx")%>">
                                        <asp:Label ID="Menu_Vyroba_WebSluzby" runat="server" meta:resourcekey="Menu_Vyroba_WebSluzby"></asp:Label></a></li>
                                    <li><a href="<%=Page.ResolveUrl("~/VyrobaTest.asmx")%>">
                                        <asp:Label ID="Menu_Vyroba_Testy" runat="server" meta:resourcekey="Menu_Vyroba_Testy"></asp:Label></a></li>
                                </ul>
                            </li>
                            <li><a href="<%=Page.ResolveUrl("~/Ciselnik.asmx")%>">
                                <asp:Label ID="Menu_Ciselnik" runat="server" meta:resourcekey="Menu_Ciselnik"></asp:Label></a></li>
                            <li><a href="<%=Page.ResolveUrl("~/Test.asmx")%>">
                                <asp:Label ID="Menu_Test" runat="server" meta:resourcekey="Menu_Test"></asp:Label></a></li>
                            <li><a href="<%=Page.ResolveUrl("~/Default.aspx")%>">
                                <asp:Label ID="Menu_Konfigurace" runat="server" meta:resourcekey="Menu_Konfigurace"></asp:Label></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>


        <article style="width: 100%">
            <div id="centrovac">
                <section>
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
                </section>
                <div class="cistic"></div>
            </div>
        </article>



        <footer class="Paticka">

            <div class="UserDiv">
                <asp:Label class="User" ID="UzivatelText" runat="server" meta:resourcekey="UzivatelText"></asp:Label>
                <span class="User">
                    <asp:Label ID="lblUser" runat="server" Text="-"></asp:Label><br />
                </span>
                <span class="User">
                    <asp:LinkButton ID="LinkLogOut" runat="server" OnClick="LinkLogOut_Click" meta:resourcekey="LinkLogOut"></asp:LinkButton>
                </span>
            </div>
            <asp:Label class="Copy" ID="Creator" runat="server" meta:resourcekey="Creator"></asp:Label>
        </footer>


        <asp:ContentPlaceHolder ID="ScriptyJS" runat="server">
        </asp:ContentPlaceHolder>
    </form>
</body>
</html>
