<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--Toto je zvyseni omezeni na win xp (default: maxconnection=10 pro jedno spojeni) -->
  <!--
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="40"/>
    </connectionManagement>
  </system.net>
  -->

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Fask.ModuleS4SSql.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Fask.ModuleS4SSql.Properties.Settings.S4SSqlProviderConnection"
            connectionString="Data Source=192.168.44.21\DEVELOP_2014;Initial Catalog=s4s-anc;User ID=sa;Password=Mtjdeveloper-2"
            providerName="System.Data.SqlClient" />

    <add name="FASKConnectionString1" connectionString="Data Source=VYVOJ1;Initial Catalog=FASK;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
    <add name="OdberateleConnectionString" connectionString="Data Source=.\SqlCEDBs\Odberatele.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="StrediskaConnectionString" connectionString="Data Source=.\SqlCEDBs\Strediska.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="SKTechConnectionString" connectionString="Data Source=FASKCZ-CV002\SQL2008_1;Initial Catalog=SKTech;Persist Security Info=True;User ID=sa;Password=sasa" providerName="System.Data.SqlClient" />
    <add name="FASK_2_0ConnectionString" connectionString="Data Source=FASKCZ-CV002\SQLEXPRESS;Initial Catalog=FASK_2.0;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Tomia110ConnectionString" connectionString="Data Source=FASKCZ-CV002\SQL2008_1;Initial Catalog=Tomia110;User ID=sa;Password=sasa" providerName="System.Data.SqlClient" />
    <add name="SkladyConnectionString" connectionString="Data Source=.\SqlCEDBs\Sklady.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="SkladyConnectionString1" connectionString="Data Source=.\SqlCEDBs\Sklady.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="LokaceConnectionString" connectionString="Data Source=Data Source=.\SqlCEDBs\Lokace.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="Inventura2ConnectionString" connectionString="Data Source=Data Source=.\SqlCEDBs\Inventura2.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="BW_DEMO_INVConnectionString" connectionString="Data Source=FASKCZ-CV003\SQLEXPRESS;Initial Catalog=BW_DEMO_INV;User ID=sa;Password=sasa" providerName="System.Data.SqlClient" />
    <add name="Inventura2ConnectionString1" connectionString="Data Source=.\SqlCEDBs\Inventura2.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="PrijemConnectionString" connectionString="Data Source=.\SqlCEDBs\Prijem.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="ZboziConnectionString" connectionString="Data Source=.\SqlCEDBs\Zbozi.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="ProdejConnectionString" connectionString="Data Source=.\SqlCEDBs\Prodej.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="Inventura1ConnectionString" connectionString="Data Source=.\SqlCEDBs\Inventura1.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="UNISCOMPConnectionString" connectionString="Data Source=FASKCZ-CV004\SQL2008_1;Initial Catalog=FASK_03.00;Persist Security Info=True;User ID=sa;Password=sasa" providerName="System.Data.SqlClient" />
    <add name="Helios001ConnectionString" connectionString="Data Source=FASKCZ-CV002\SQL2008_1;Initial Catalog=Helios001;User ID=sa;Password=sasa" providerName="System.Data.SqlClient" />
    <add name="Inventura1ConnectionString1" connectionString="Data Source=.\SqlCEDBs\Inventura1.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="PracovniciConnectionString" connectionString="Data Source=.\SqlCEDBs\Pracovnici.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="TypDokladuConnectionString" connectionString="Data Source=.\SqlCEDBs\TypDokladu.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="PrijemConnectionString1" connectionString="Data Source=.\SqlCEDBs\Prijem.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="EventsUserConnectionString" connectionString="Data Source=d:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\EventsUser.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="EventsUserConnectionString1" connectionString="Data Source=d:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\EventsUser.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="EventsTypesConnectionString" connectionString="Data Source=d:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\EventsTypes.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="TiskarnyConnectionString" connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\Tiskarny.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="VydejConnectionString" connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\Vydej.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="UzivateleConnectionString" connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\Uzivatele.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="PrijemConnectionString2" connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\Prijem.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="VydejConnectionString1" connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\Vydej.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="UzivateleConnectionString1" connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\SqlCEDBs\Uzivatele.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="Inventura1ConnectionString2" connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\Inventura1.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="Inventura2ConnectionString2" connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\Inventura2.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="TypDokladuConnectionString1" connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\TypDokladu.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="MenyConnectionString" connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\Meny.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="OdberateleConnectionString1" connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\Odberatele.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="UkolyConnectionString" connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\Ukoly.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="Servis_CiselnikyConnectionString" connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\Servis_Ciselniky.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="Servis_ZdrojeStavConnectionString" connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\Servis_ZdrojeStav.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="Servis_ZdrojePohybConnectionString" connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\Servis_ZdrojePohyb.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="LokaceConnectionString1" connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_04.01\SERVER\MST_Win_Kom_Server\SqlCEDBs\Lokace.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <applicationSettings>
    <Fask.ModuleS4SSql.Properties.Settings>
      <setting name="PrijemPrijemkaDetail2Hlavicka" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="prijemParamsXMLPath" serializeAs="String">
        <value>..\prijemparams.xml</value>
      </setting>
      <setting name="Prijem_AfterDataProcessed_Action_Asynchronous"
          serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DexRowIdInsert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VydejSeznamDavekRazeni" serializeAs="String">
        <value>A.COUNTENTRIES DESC</value>
      </setting>
      <setting name="VydejInfo1Allow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VydejVydejkaDetail2Hlavicka" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VydejInfo1Field" serializeAs="String">
        <value />
      </setting>
      <setting name="PathStateDataFile" serializeAs="String">
        <value>D:\test</value>
      </setting>
      <setting name="CommandType" serializeAs="String">
        <value>StoredProcedure</value>
      </setting>
      <setting name="PrijemkaDetail" serializeAs="String">
        <value>procPrijemDetail</value>
      </setting>
      <setting name="PrijemkaDetail_paramName" serializeAs="String">
        <value>p1</value>
      </setting>
      <setting name="Prijem_AfterDataProcessed_Action" serializeAs="String">
        <value>procPrijemAfterData</value>
      </setting>
      <setting name="Prijem_AfterDataProcessed_Action_P1" serializeAs="String">
        <value>p1</value>
      </setting>
      <setting name="Prijem_AfterDataProcessed_Action_P2" serializeAs="String">
        <value>p2</value>
      </setting>
      <setting name="VydejPokracovatNaJinemTerminalu" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VydejParamsXMLPath" serializeAs="String">
        <value>..\vydejparams.xml</value>
      </setting>
      <setting name="Vydej_AfterDataProcessed_Action_Asynchronous"
          serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Vydej_AfterDataProcessed_Action" serializeAs="String">
        <value />
      </setting>
      <setting name="Vydej_AfterDataProcessed_Action_P1" serializeAs="String">
        <value />
      </setting>
      <setting name="Vydej_AfterDataProcessed_Action_P2" serializeAs="String">
        <value />
      </setting>
      <setting name="VydejkaDetail" serializeAs="String">
        <value />
      </setting>
      <setting name="VydejkaDetail_paramName" serializeAs="String">
        <value />
      </setting>
      <setting name="VydejkaDetailDavka" serializeAs="String">
        <value />
      </setting>
      <setting name="VydejkaDetailDavka_paramName" serializeAs="String">
        <value />
      </setting>
      <setting name="Vydej_GenerateData_Action" serializeAs="String">
        <value />
      </setting>
      <setting name="Prodej_AfterDataProcessed_Action" serializeAs="String">
        <value>procProdejAfterData</value>
      </setting>
      <setting name="Prodej_AfterDataProcessed_Action_P1" serializeAs="String">
        <value>p1</value>
      </setting>
      <setting name="Prodej_AfterDataProcessed_Action_P2" serializeAs="String">
        <value>p2</value>
      </setting>
      <setting name="Prodej_AfterDataProcessed_Action_Asynchronous"
          serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InventuraDavkaTerminalVice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Inventura1ParamsXMLPath" serializeAs="String">
        <value>..\inventuraparams.xml</value>
      </setting>
      <setting name="Inventura1DavkaTerminalVice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Invenutura_AfterDataProcessed_Action" serializeAs="String">
        <value />
      </setting>
      <setting name="Inventura_AfterDataProcessed_Action_P1" serializeAs="String">
        <value />
      </setting>
      <setting name="Inventura_AfterDataProcessed_Action_P2" serializeAs="String">
        <value />
      </setting>
      <setting name="Inventura2DavkaTerminalVice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Inventura2ParamsXMLPath" serializeAs="String">
        <value />
      </setting>
      <setting name="Prijem_GenerateData_Action" serializeAs="String">
        <value>procPrijemGenerateDataAction</value>
      </setting>
      <setting name="PrijemkaDetailItem" serializeAs="String">
        <value>procPrijemDetailItem</value>
      </setting>
      <setting name="PrijemkaDetailItem_paramName1" serializeAs="String">
        <value>p1</value>
      </setting>
      <setting name="PrijemkaDetailItem_paramName2" serializeAs="String">
        <value>p2</value>
      </setting>
      <setting name="Prijem_OverLokaci_Action" serializeAs="String">
        <value>procPrijemOverLokaci</value>
      </setting>
      <setting name="Prodej_OverLokaci_Action" serializeAs="String">
        <value>procProdejOverLokaci</value>
      </setting>
      <setting name="Prodej_GetLokaci_Action" serializeAs="String">
        <value>procProdejOverLokaci2</value>
      </setting>
    </Fask.ModuleS4SSql.Properties.Settings>
  </applicationSettings>

  <system.web>

    <!-- Maximalni delka pozadavku zpravy v KB -->
    <httpRuntime maxRequestLength="8048" />
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="c#" debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="RemoteOnly" />
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows" />
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization culture="cs-CZ" uiCulture="cs" />
    <xhtmlConformance mode="Legacy" />
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <identity impersonate="false" />
  </system.web>

  <appSettings>
    <!--
    <add key="Ingres.trace.log" value="d:\Ingres\Ingres.trace.mst_w_s.log" />
    <add key="Ingres.trace.timestamp" value="true" />
    <add key="Ingres.trace.drv" value="4" />
    -->
    <!-- Typ databaze -->
    <!--
    <add key="Database" value="FireBird" />
    <add key="Database" value="Sql" />
    <add key="Database" value="Ingres" />
    <add key="Database" value="Pervasive" />
    -->
    <add key="Database" value="Sql" />
    <!-- Spojeni na databazi -->
    <add key="ConnectionString" value="Data Source=192.168.44.21\DEVELOP_2014;Initial Catalog=s4s-anc;User ID=sa;Password=Mtjdeveloper-2" />

    <!-- Licence -->
    <!-- overovat licenci pri kazdem BeginRequest -->
    <add key="check_license_Application_BeginRequest" value="false" />
    <add key="Licence_Application_BeginRequest_Check_TerminalNumber" value="false" />
    <!-- Sbirani informaci a odesilani dat -->
    <add key="Collecting_Stats" value="false" />
    <add key="Collecting_Stats_Time_Hours" value="12" />
    <!-- zobrazeni informace o licencei na terminalu X mesicu pred vyprsenim platnosti -->
    <add key="showLicenceInfoInTerminalBeforeExpiration" value="1" />

    <!-- Nazvy tabulek(pohledu, pripadne funkci) ciselniku v databazi-->
    <add key="TABLE_CZMSTPWD" value="CZMSTPWD" />
    <add key="TABLE_CZMST090" value="CZMST090" />
    <add key="TABLE_CZMST091" value="CZMST091" />
    <add key="TABLE_CZMST092" value="CZMST092" />
    <add key="TABLE_CZMST093" value="CZMST093" />
    <add key="TABLE_CZMST094" value="CZMST094" />
    <add key="TABLE_CZMST095" value="CZMST095" />
    <add key="TABLE_CZMST095M" value="CZMST095M" />
    <add key="TABLE_CZMST096" value="CZMST096" />
    <!-- Nazvy tabulek jednotlivych modulu v databazi -->
    <!-- Vydej -->
    <add key="TABLE_CZMST_SE" value="CZMST_SE" />
    <add key="TABLE_CZMST_SE_SN" value="CZMST_SE_SN" />
    <add key="TABLE_CZMST_SI" value="CZMST_SI" />
    <add key="TABLE_CZMST_SIH" value="CZMST_SIH" />

    <!-- Prijem -->
    <add key="TABLE_CZMST_PE" value="CZMST_PE" />
    <add key="TABLE_CZMST_PE_SN" value="CZMST_PE_SN" />
    <add key="TABLE_CZMST_PE" value="CZMST_PE" />
    <add key="TABLE_CZMST_PI" value="CZMST_PI" />
    <!-- Prodej -->
    <add key="TABLE_CZMST_DI" value="CZMST_DI" />
    <add key="TABLE_CZMST_DIH" value="CZMST_DIH" />
    <!-- Inventura 1 -->
    <add key="TABLE_CZMST_I1" value="CZMST_I1" />
    <add key="TABLE_CZMST_I2" value="CZMST_I2" />
    <add key="TABLE_CZMST_I3" value="CZMST_I3" />
    <add key="TABLE_CZMST_I4" value="CZMST_I4" />

    <!-- Inventura 2     -->
    <add key="TABLE_Inventura" value="INVENTUR" />
    <add key="TABLE_Majetek" value="MAJETEK" />

    <!-- Udalosti obsluhy -->
    <add key="TABLE_CZMST_EVENTSTYPES" value="CZMST_EVENTSTYPES" />
    <add key="TABLE_CZMST_EVENTSUSER" value="CZMST_EVENTSUSER" />

    <!-- Tiskarny dokladove -->
    <add key="TABLE_CZMST_TISKARNA" value="CZMST_TISKARNA" />

    <!-- Vklada do DEX_ROW_ID na vystupu o jedna vyssi hodnotu nez je maximalni ke kazdemu zaznamu -->
    <add key="DexRowIdInsert" value="false" />
    <!-- Parametry modulu -->
    <add key="VydejParams" value="vydejparams.xml" />
    <add key="ZavozParams" value="..\zavozparams.xml" />
    <add key="PrijemParams" value="prijemparams.xml" />
    <add key="PrevodParams" value="..\prevodparams.xml" />
    <add key="InventuraParams" value="inventuraparams.xml" />
    <add key="Inventura2Params" value="inventura2params.xml" />
    <!-- Logovani informaci, chyb a datovych souboru -->
    <add key="ErrorDataFileDirectory" value="Logs\ErrorDataFileDirectory\" />
    <add key="ProcessedDataFileDirectory" value="Logs\ProcessedDataFileDirectory\" />
    <!-- Uzivatelske jmeno, heslo a domena pro ukladani fotek na sitovy disk (pokud uzivatelske jmeno neni vyplneno, nevyuziva se) -->
    <add key="ImagesUserName" value="" />
    <add key="ImagesUserPassword" value="" />
    <add key="ImagesDomainName" value="" />
    <add key="ImagesDataFileDirectory" value="Logs\ImagesDataFileDirectory\" />
    <add key="ErrorLogFile" value="Logs\log.txt" />
    <!-- Trasování -->
    <add key="TracingLogFile" value="true" />
    <add key="TracingDataFileDirectory" value="Logs\" />
    <!-- Odesilani chybovych hlaseni emailem pro dohledovani => konfigurace v souboru .\bin\EmailConfig.xml -->
    <add key="SendErrorEmail" value="false" />

    <!-- Typ online dotazu -->
    <!--
    <add key="CommandType" value="Text"/>
    <add key="CommandType" value="StoredProcedure"/>    
    -->
    <add key="CommandType" value="StoredProcedure" />
    <!-- Online dotazy -->
    <add key="command1" value="czmst_se_volne" />
    <!--stored procedure name-->
    <add key="command1_paramName1" value="@param1" />
    <!-- string -->
    <add key="command1_paramName2" value="@param2" />
    <!-- string -->
    <add key="MnozstviNaSklade" value="fask_mnozstvinasklade" />
    <!--stored procedure name-->
    <add key="MnozstviNaSklade_paramName" value="@itemnmbr" />
    <!--string-->
    <add key="MnozstviNaSklade2" value="fask_mnozstvinasklade2" />
    <!--stored procedure name-->
    <add key="MnozstviNaSklade2_paramName1" value="@itemnmbr" />
    <!--string-->
    <add key="MnozstviNaSklade2_paramName2" value="@location" />
    <!--stored procedure name (název procedury)-->
    <add key="OverPohyb_procName" value="ocp_kont_mn" />
    <!--stored procedure name (název tabulky, u které se kontrolují data - také parametr)-->
    <add key="OverPohyb_tableName" value="czmst_di" />
    <!--stored procedure name (tabulka)-->
    <add key="OverPohyb_paramName1" value="a_tab" />
    <!--stored procedure name (doc_id)-->
    <add key="OverPohyb_paramName2" value="a_sd_dokl" />
    <!--stored procedure name (Itemnmbr)-->
    <add key="OverPohyb_paramName3" value="a_id_mat" />
    <!--stored procedure name (Serltnum)-->
    <add key="OverPohyb_paramName4" value="a_vc" />
    <!--stored procedure name (návratový text chyby)-->
    <add key="OverPohyb_paramName5" value="a_text" />
    <!--stored procedure name (skl_id)-->
    <add key="OverPohyb_paramName6" value="a_cislo_skladu" />
    <!--stored procedure name (návratové množství dispozice)-->
    <add key="OverPohyb_paramName7" value="a_dispozice" />
    <!--stored procedure name (název procedury)-->
    <add key="GetSklad_procName" value="getSklad" />
    <!--stored procedure name (doc_id)-->
    <add key="GetSklad_paramName1" value="doc_id" />
    <!--stored procedure name (matID)-->
    <add key="GetSklad_paramName2" value="matID" />
    <!--stored procedure name (serialID)-->
    <add key="GetSklad_paramName3" value="serialID" />
    <!--stored procedure name (skladSrc)-->
    <add key="GetSklad_paramName4" value="skladSrc" />
    <!--stored procedure name (skladDest)-->
    <add key="GetSklad_paramName5" value="skladDest" />
    <!--string-->
    <add key="DetailItemnumber" value="fask_polozka_detail" />
    <!-- stored procedure name-->
    <add key="DetailItemnumber_paramName1" value="@itemnmbr" />
    <!-- stored procedure name-->
    <add key="DetailItemnumber_paramName2" value="@doklad" />
    <!-- funkce pro detail prijemky -->
    <add key="PrijemkaDetail" value="FASK_FIRMAOBJEDNAVKAVYDANA" />
    <!-- nazev parametru pro detail vydejky -->
    <add key="PrijemkaDetail_paramName" value="IN_DISPLAYNAME" />
    <!-- funkce pro detail vydejky -->
    <add key="VydejkaDetail" value="" />
    <!-- nazev parametru pro detail vydejky -->
    <add key="VydejkaDetail_paramName" value="" />
    <!-- funkce pro detail davky vydejky-->
    <add key="VydejkaDetailDavka" value="fask_VydejDetailDavka" />
    <!-- nazev parametru pro detail davky vydejky -->
    <add key="VydejkaDetailDavka_paramName" value=":pDavka" />
    <!--string-->
    <add key="ZavozkaDetail" value="czmst_zavozka_detail_view" />
    <!--string-->
    <add key="ZavozkaDetail_paramName" value="Objednávka" />
    <!--string-->
    <add key="ProdejDisponibilita" value="FASK_STAV_MAT" />
    <!--stored procedure name-->
    <add key="ProdejDisponibilita_paramName1" value="@itemnmbr" />
    <!--string-->
    <add key="ProdejDisponibilita_paramName2" value="@locncode" />
    <!-- Dotazeni doplnujici hodnoty z funkce VydejkaDetail do hlavicek davek -->
    <add key="VydejInfo1Allow" value="false" />
    <!-- musi existovat realizovany pohled VydejkaDetail, ze ktereho se dotahne doplnujici hodnota viz nize -->
    <add key="VydejInfo1Field" value="Disp.č." />
    <!-- Dotazeni sloupcu funkce VydejkaDetail do hlavicek davek -->
    <add key="VydejVydejkaDetail2Hlavicka" value="true" />
    <!-- Dotazeni sloupcu funkce PrijemkaDetail do hlavicek davek -->
    <add key="PrijemPrijemkaDetail2Hlavicka" value="false" />
    <!-- funkce pro detail prijemky -->
    <add key="PrijemkaDetailItem" value="procPrijemDetailItem" />
    <!-- nazev parametru pro detail vydejky (itemnmbr) -->
    <add key="PrijemkaDetailItem_paramName1" value="p1" />
    <!-- nazev parametru pro detail vydejky (serltnum) -->
    <add key="PrijemkaDetailItem_paramName2" value="p2" />
    <!-- 
      VydejPokracovatNaJinemTerminalu:
      True=umoznuje pokracovani vydeje na jinem terminalu, False=umoznuje zpracovat davku vice terminaly dle itemtype
      Tuto volbu je nutne synchronizovat se zapnutim teto funkce na terminalech.
      Duvodem je to, ze pri stahovani dat davky, se do terminalu prenasi i historicka nasnimana data a pred zpracovanim(ulozenim)
      novych zaslanych dat terminalem se vystupni data v tabulce CZMST_SI pred vlozenim davky vyprazdni a teprve potom dojde k nahrani novych dat.
      Z tohoto duvodu neni v tomto rezimu mozne provadet castecne zpracovavani. 
      Resenim do budocna je rozsireni datovych struktur na serveru o priznaky a pripadne dat.struktury na terminalu o METADATABAZI davky, ktera by nesla stavove informace o stazene davce...
    -->
    <add key="VydejPokracovatNaJinemTerminalu" value="false" />
    <!-- 
    Parametry pro razeni davek posilanych na klienta jednotlivych modulu
    -->
    <add key="VydejSeznamDavekRazeni" value="A.COUNTENTRIES DESC" />
    <!-- umoznuje nahrani davky do vice terminalu, davka je ukoncena explicitne z IS pri zpracovani inventury -->
    <add key="Inventura1DavkaTerminalVice" value="true" />
    <!-- umoznuje nahrani davky do vice terminalu, davka je ukoncena explicitne z IS pri zpracovani inventury -->
    <add key="Inventura2DavkaTerminalVice" value="true" />
    <!--Logovat ladici informace z modulu-->
    <add key="InformationsLogging" value="false" />
    <add key="FileDeleteAfterTransfer" value="false" />
    <add key="SqlCeDoShrinkDatabase" value="true" />
    <!-- Timeout cekani na dokonceni akce po vlozeni dat v sekundach
    Defaultni timeout 30s
    Jestlize se nastavi na 0, pak se ceka na dokonceni operace nekonecne(pozor muze vest k problemum)
    Poznamka: !Pokud je vyzadovano synchronni volani (terminal ma mit odpoved o provedeni akce), pak neni vhodne nastavovat vetsi timeout, nez je nastaven timeout na terminalu pro cekani na odpoved serveru!
    -->
    <add key="AfterDataProcessed_Action_CommandTimeout" value="30" />
    <!-- Timeout cekani na dokonceni akce pred pripravou dat pro terminaly v sekundach
    Defaultni timeout 30s
    Jestlize se nastavi na 0, pak se ceka na dokonceni operace nekonecne(pozor muze vest k problemum)
    Poznamka: !je vyzadovano synchronni volani (terminal ma mit odpoved o provedeni akce), pak neni vhodne nastavovat vetsi timeout, nez je nastaven timeout na terminalu pro cekani na odpoved serveru!
    -->
    <add key="BeforeDataProcessed_Action_CommandTimeout" value="30" />
    <!-- stored procedure after data inserted action ...
    jestlize je value prazdna, pak se akce neprovadi ... 
    parametr1: value=<nazev parametru1> NVarChar(20) - nazev tabylky do ktere byly vlozeny data (CZMST_DI)
    parametr2: value=<nazev parametru2> NVarChar(20) - cislo davky vlozenych dat (CZMST_DI.COUNTENTRIES)
    chyba je pouze zalogovana na serveru, ale data zustavaji ulozeny v db...
    -->
    <add key="Prodej_AfterDataProcessed_Action" value="procProdejAfterData" />
    <add key="Prodej_AfterDataProcessed_Action_P1" value="p1" />
    <add key="Prodej_AfterDataProcessed_Action_P2" value="p2" />
    <add key="Prodej_AfterDataProcessed_Action_Asynchronous" value="false" />
    <!-- stored procedure, Overi, zdali je mozne na danou lokaci presunout material. 
    parametr1: @Itemnmbr NVarChar(31) - cislo materialu (CZMST095.ITEMNMBR)
    parametr2: @Serltnum NVarChar(21) - sarze (CZMST_DI.SERLTNUM)
    parametr3: @Locncode NVarChar(11) - id zadane lokace (CZMST_DI.Locncode)
    parametr4: @Skl_id NVarChar(20) - ID vybraneho skladu (CZMST_DI.SKL_ID)
    parametr5: @doc_id NVarChar(12) - id dokladu (CZMST092.doc_id)
    parametr6: @State int output - navratova hodnota stavu:
    0 = "Vse v poradku, zvolena polozka s doporucenym poradim"
    1 = "Poruseno doporucene poradi, je mozno pokracovat. Uzivatel bude upozornen, ale muze pokracovat"
    Jina hodnota znamena, ze neni mozne pokracovat.
    -->
    <add key="Prodej_OverLokaci_Action" value="procProdejOverLokaci" />
    <!-- stored procedure, Vraci seznam (select) doporucenych lokaci, odkud je mozny brat material (nasledne je tento seznam zobrazen). 
    parametr1: @Itemnmbr NVarChar(31) - cislo zvolene polozky (CZMST095.ITEMNMBR)
    parametr2: @Skl_id NVarChar(20) - ID vybraneho skladu (CZMST_DI.SKL_ID)
    parametr3: @doc_id NVarChar(12) - id dokladu (CZMST092.doc_id)
    navratove hodnoty: Index (int) - doporucene poradi, ITEMNMBR - cislo polozky, SERLTNUM - sarze, QTYSHPPD (decimal) - mnozstvi, LOCNCODE (char 11) - lokace, SKL_ID (char 20) - sklad
    -->
    <add key="Prodej_GetLokaci_Action" value="procProdejOverLokaci2" />
    <!-- stored procedure, zajistuje pripravu dat pro modul Vydeje do tabulky CZMST_SE
    parametr1: @CisExpPrik NVarChar(20) - cislo objednavky k priprave
    parametr2: @CounterEntries Int output - cislo davky, do ktere byla objednavka nahrana
    parametr3: @StatusToReturn Int output - navratova hodnota uspesnosti: 
               0 = "OK"
               1 = "Již existuje"
               2 = "Neexistuje"
               3 = "Bylo nahráno"
               ostatni = "Neznámý status"
    -->
    <add key="Vydej_GenerateData_Action" value="" />
    <!-- stored procedure after data inserted action ...
    jestlize je value prazdna, pak se akce neprovadi ... 
    parametr1: value=<nazev parametru1> NVarChar(20) - nazev tabylky do ktere byly vlozeny data (CZMST_DI)
    parametr2: value=<nazev parametru2> NVarChar(20) - cislo davky vlozenych dat (CZMST_DI.COUNTENTRIES)
    chyba je pouze zalogovana na serveru, ale data zustavaji ulozeny v db...
    -->
    <add key="Vydej_AfterDataProcessed_Action" value="" />
    <add key="Vydej_AfterDataProcessed_Action_P1" value="tbl" />
    <add key="Vydej_AfterDataProcessed_Action_P2" value="davka" />
    <add key="Vydej_AfterDataProcessed_Action_Asynchronous" value="false" />
    <!-- stored procedure, zajistuje pripravu dat pro modul Vydeje do tabulky CZMST_SE
    parametr1: @CisExpPrik NVarChar(20) - cislo objednavky k priprave
    parametr2: @CounterEntries Int output - cislo davky, do ktere byla objednavka nahrana
    parametr3: @StatusToReturn Int output - navratova hodnota uspesnosti: 
               0 = "OK"
               1 = "Již existuje"
               2 = "Neexistuje"
               3 = "Bylo nahráno"
               ostatni = "Neznámý status"
    -->
    <add key="Prijem_GenerateData_Action" value="" />
    <!-- stored procedure, zajistuje vygenerovani noveho cisla sarze.
    parametr1: @Itemnmbr NVarChar(31) - cislo materialu (CZMST_PE.ITEMNMBR)
    parametr2: @OldSerltnum NVarChar(21) - zadana sarze (CZMST_PI.SERLTNUM)
    parametr3: @Skl_id NVarChar(20) - ID vybraneho skladu (CZMST_PI.SKL_ID)
    parametr4: @Serltnum NVarChar(21) output - nove vygenerovana sarze (CZMST_PI.SERLTNUM)
    -->
    <add key="Prijem_GenerateSerltnum_Action" value="procGenerateSerltnum" />
    <!-- stored procedure, zajistuje kontrolu lokace, zdali je mozno na ni material vlozit.
    parametr1: @Itemnmbr NVarChar(31) - cislo materialu (CZMST_PE.ITEMNMBR)
    parametr2: @Serltnum NVarChar(21) - ID palety (CZMST_PI.SERLTNUM)
    parametr3: @Locncode NVarChar(11) - lokace zadana uzivatelem
    parametr4: @Skl_id NVarChar(20) - ID vybraneho skladu (CZMST_PI.SKL_ID)
    parametr5: @State int output - navratova hodnota stavu:
    0 = "Vse v poradku, zvolena polozka s doporucenym poradim"
    1 = "Poruseno doporucene poradi, je mozno pokracovat. Uzivatel bude upozornen, ale muze pokracovat"
    Jina hodnota znamena, ze neni mozne pokracovat.
    -->
    <add key="Prijem_OverLokaci_Action" value="procPrijemOverLokaci" />
    <!-- stored procedure, vraci seznam doporucenych lokaci.
    parametr1: @Itemnmbr NVarChar(31) - ID materialu (CZMST_PE.ITEMNMBR)
    parametr2: @Serltnum NVarChar(21) - ID palety (CZMST_PI.SERLTNUM)
    parametr3: @Skl_id NVarChar(20) - ID vybraneho skladu (CZMST_PI.SKL_ID)
    Vraci select se sloupci: Index int, LOCNCODE char(11), SKL_ID char(20)
    -->
    <add key="Prijem_GetDoporuceneLokace_Action" value="procPrijemGetDoporuceneLokace" />
    <!-- stored procedure, vraci seznam nezrealizovanych prijemek.
    Vraci select se sloupci: 
    [PONUMBER] [char] (30) NOT NULL - cislo dokladu
    [CZ_CarKod] [char] (31) NOT NULL - carovy kod
    [Name] [char] (31) - nazev
    -->
    <add key="Prijem_GetNezrealizovanePrijemky_Action" value="procPrijemNezrealizovane" />
    <!-- stored procedure after data inserted action ...
    jestlize je value prazdna, pak se akce neprovadi ... 
    parametr1: value=<nazev parametru1> NVarChar(20) - nazev tabylky do ktere byly vlozeny data (CZMST_DI)
    parametr2: value=<nazev parametru2> NVarChar(20) - cislo davky vlozenych dat (CZMST_DI.COUNTENTRIES)
    chyba je pouze zalogovana na serveru, ale data zustavaji ulozeny v db...
    -->
    <add key="Prijem_AfterDataProcessed_Action" value="procPrijemAfterData" />
    <add key="Prijem_AfterDataProcessed_Action_P1" value="p1" />
    <add key="Prijem_AfterDataProcessed_Action_P2" value="p2" />
    <add key="Prijem_AfterDataProcessed_Action_Asynchronous" value="true" />
    <!-- stored procedure after data inserted action ...
    jestlize je value prazdna, pak se akce neprovadi ... 
    parametr1: value=<nazev parametru1> NVarChar(20) - nazev tabylky do ktere byly vlozeny data (CZMST_DI)
    parametr2: value=<nazev parametru2> NVarChar(20) - cislo davky vlozenych dat (CZMST_DI.COUNTENTRIES)
    chyba je pouze zalogovana na serveru, ale data zustavaji ulozeny v db...
    -->
    <add key="Inventura1_AfterDataProcessed_Action" value="" />
    <add key="Inventura1_AfterDataProcessed_Action_P1" value="" />
    <add key="Inventura1_AfterDataProcessed_Action_P2" value="" />
    <add key="Inventura1_AfterDataProcessed_Action_Asynchronous" value="true" />
    <!-- stored procedure before data prepare action ...
    jestlize je value prazdna, pak se akce neprovadi ... 
    parametr1: value=<nazev parametru1> NVarChar(20) - nazev tabulky nad kterou se maji provest akce (MAJETEK)
    parametr2: value=<nazev parametru2> NVarChar(20) - cislo davky dat nad kterymi se ma akce provest (MAJETEK.ID_INV)
    chyba je pouze zalogovana na serveru, akce probiha v aplikacni transakci serveru
    akce se provadi synchronne pred pripravou dat...
    -->
    <!-- <add key="Inventura2_BeforeDataProcessed_Action" value="FASK_INVENTURA2_BEFOREDATAPROCESSED_ACTION"/> -->
    <add key="Inventura2_BeforeDataProcessed_Action" value="" />
    <add key="Inventura2_BeforeDataProcessed_Action_P1" value="@tab_majetek" />
    <add key="Inventura2_BeforeDataProcessed_Action_P2" value="@id_inv" />
    <!-- <add key="Inventura2_BeforeDataProcessed_Action_Asynchronous" value="true"/> -->
    <!-- stored procedure after data inserted action ...
    jestlize je value prazdna, pak se akce neprovadi ... 
    parametr1: value=<nazev parametru1> NVarChar(20) - nazev tabulky do ktere byly vlozeny data (INVENTUR)
    parametr2: value=<nazev parametru2> NVarChar(20) - cislo davky vlozenych dat (INVENTUR.ID_INV)
    chyba je pouze zalogovana na serveru, ale data zustavaji ulozeny v db...
    -->
    <add key="Inventura2_AfterDataProcessed_Action" value="" />
    <add key="Inventura2_AfterDataProcessed_Action_P1" value="" />
    <add key="Inventura2_AfterDataProcessed_Action_P2" value="" />
    <add key="Inventura2_AfterDataProcessed_Action_Asynchronous" value="true" />

    <!-- Events after action 
	  muze byt vyvolano vicekrat nad stejnymi daty ... !!!
      jestlize je value prazdna, pak se akce neprovadi ... 
      parametr1: value=<nazev parametru1> NVarChar(20) - nazev tabulky do ktere byly vlozeny data
      parametr2: value=<nazev parametru2> NVarChar(20) - cislo terminalu, ktery akci vyvolal
      chyba je pouze zalogovana na serveru, ale data zustavaji ulozeny v db...
	  -->
    <add key="Events_AfterDataProcessed_Action" value="" />
    <add key="Events_AfterDataProcessed_Action_P1" value="@a1" />
    <add key="Events_AfterDataProcessed_Action_P2" value="@a2" />
    <add key="Events_AfterDataProcessed_Action_Asynchronous" value="false" />

    <!-- Tasks after update action 
      jestlize je value prazdna, pak se akce neprovadi ... 
      parametr1: value=<nazev parametru1> NVarChar(20) - ID Ukolu Uzivatele, ktere bylo modifikovano
      chyba je pouze zalogovana na serveru, ale data zustavaji ulozeny v db...
      <add key="Tasks_AfterDataProcessed_Action" value="fask_tasks_afteraction" />
	  -->
    <add key="Tasks_AfterDataProcessed_Action" value="" />
    <add key="Tasks_AfterDataProcessed_Action_P1" value="@ukolid" />
    <add key="Tasks_AfterDataProcessed_Action_Asynchronous" value="false" />

    <!-- Objektove spojeni pro predavani dat ... -->
    <!-- Pokud Provider s prazdnou hodnotou, tak se pouziva stara funkcnost. Je-li nastaven, tak se pouziva objektovy model ... 
		uvadi se zde relativni cesta vuci rootu serveru nebo fullpath (pozor na pripadna opravneni)
		-->

    <!-- Provider pro vsechny moduly -->
    <!-- 
			Pokud je zde uveden/nastaven, tak se ignoruji provideri pro jednotlive moduly
			a pouzije se tento globalni modul pro vsechny rozhrani modulu ...
		-->
    <!--
		<add key="Provider" value=""/>
		<add key="Provider" value="bin\Fask.ModuleInsideWeb.dll"/>
		<add key="Provider" value="bin\Fask.ModulePohodaXML.dll"/>
		<add key="Provider" value="bin\Fask.ModuleSqlCezarG1.dll"/>
		<add key="Provider" value="bin\Fask.ModuleHeliosOrangeSql.dll"/>
		-->
    <add key="Provider" value="" />

    <!-- Ciselniky -->
    <!--
		<add key="Provider.Ciselniky" value=""/>
		<add key="Provider.Ciselniky" value="bin\Fask.ModuleSql.dll"/>
    <add key="Provider.Ciselniky" value="bin\Fask.ModuleS4SSql.dll"/>
		<add key="Provider.Ciselniky" value="bin\Fask.ModuleInsideWeb.dll"/>
		<add key="Provider.Ciselniky" value="bin\Fask.ModulePohodaXML.dll"/>
		<add key="Provider.Ciselniky" value="bin\Fask.ModuleSqlCezarG1.dll"/>
		<add key="Provider.Ciselniky" value="bin\Fask.ModuleHeliosOrangeSql.dll"/>
		-->
    <add key="Provider.Ciselniky" value="bin\Fask.ModuleS4SSql.dll"/>

    <!-- Vydej -->
    <!--
		<add key="Provider.Vydej" value=""/>
		<add key="Provider.Vydej" value="bin\Fask.ModuleSql.dll"/>
		<add key="Provider.Vydej" value="bin\Fask.ModuleInsideWeb.dll"/>
		<add key="Provider.Vydej" value="bin\Fask.ModuleHeliosOrangeSql.dll" />
		-->
    <add key="Provider.Vydej" value="" />

    <!-- Prijem -->
    <!--
		<add key="Provider.Prijem" value=""/>
		<add key="Provider.Prijem" value="bin\Fask.ModuleSql.dll"/>
    <add key="Provider.Prijem" value="bin\Fask.ModuleS4SSql.dll"/>
		<add key="Provider.Prijem" value="bin\Fask.ModuleInsideWeb.dll"/>
		<add key="Provider.Prijem" value="bin\Fask.ModulePohodaXML.dll"/>
		<add key="Provider.Prijem" value="bin\Fask.ModuleHeliosOrangeSql.dll"/>
		-->
    <add key="Provider.Prijem" value="bin\Fask.ModuleS4SSql.dll"/>

    <!-- Prodej -->
    <!--
		<add key="Provider.Prodej" value=""/>
		<add key="Provider.Prodej" value="bin\Fask.ModuleSql.dll"/>
    <add key="Provider.Prijem" value="bin\Fask.ModuleS4SSql.dll"/>
		<add key="Provider.Prodej" value="bin\Fask.ModuleInsideWeb.dll"/>
		<add key="Provider.Prodej" value="bin\Fask.ModulePohodaXML.dll"/>
		<add key="Provider.Prodej" value="bin\Fask.ModuleSqlCezarG1.dll" />
		<add key="Provider.Prodej" value="bin\Fask.ModuleHeliosOrangeSql.dll"/>
    <add key="Provider.Prodej" value="bin\Fask.ModulePrytanis.dll"/>
		-->
    <add key="Provider.Prodej" value="bin\Fask.ModuleS4SSql.dll" />

    <!-- Inventura1 -->
    <!--
		<add key="Provider.Inventura1" value="" />
		<add key="Provider.Inventura1" value="bin\Fask.ModuleSql.dll"/>
		<add key="Provider.Inventura1" value="bin\Fask.ModulePohodaXML.dll"/>
		<add key="Provider.Inventura1" value="bin\Fask.ModuleSqlCezarG1.dll"/>
		<add key="Provider.Inventura1" value="bin\Fask.ModuleHeliosOrangeSql.dll"/>
		-->
    <add key="Provider.Inventura1" value="" />

    <!-- Inventura2 -->
    <!--
		<add key="Provider.Inventura2" value="" />
		<add key="Provider.Inventura2" value="bin\Fask.ModuleSql.dll"/>
		<add key="Provider.Inventura2" value="bin\Fask.ModulePohoda.dll"/>
		-->
    <add key="Provider.Inventura2" value="" />

    <!-- Login -->
    <!--
		<add key="Provider.Login" value="" />
		<add key="Provider.Login" value="bin\Fask.ModuleSql.dll"/>
    <add key="Provider.Login" value="bin\Fask.ModuleS4SSql.dll"/>
		<add key="Provider.Login" value="bin\Fask.ModulePohodaXML.dll"/>
		<add key="Provider.Login" value="bin\Fask.ModuleHeliosOrangeSql.dll"/>
		-->
    <add key="Provider.Login" value="" />

    <!-- Servis -->
    <!--
		<add key="Provider.Servis" value="" />
		<add key="Provider.Servis" value="bin\Fask.ModuleSql.dll"/>
		-->
    <add key="Provider.Servis" value="" />

    <!--
		TODO : doplnit providery pro:
		Events, Tasks ...
		-->

  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
