<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ScannerType" value="COM" />
    <add key="TimeOut" value="35000" />
    <add key="Adresa_API" value="192.168.1.121:8232" />
    <add key="isHTTPS" value="False" />
    <add key="Autorizace_API" value="MDox" />
    <add key="API_konstant" value="api" />
    <add key="TimerUploadInterval" value="10000" />
    <add key="CorrectionType" value="0" />
    <add key="TimerDownloadInterval" value="10000" />
    <add key="Loging" value="True" />
    <add key="PasswordConfig" value="sa" />
    <add key="UEventSmenaEnabled" value="False" />
    <add key="TerminalID" value="63" />
    <add key="UEventSmenaLogin" value="1" />
    <add key="UEventSmenaLogout" value="2" />
    <add key="UEventPracovnikPrihlaseni" value="3" />
    <add key="UEventPracovnikOdhlaseni" value="4" />
    <add key="ApplicationPosition" value="0; 0" />
    <add key="LastDownload" value="06.03.2023 11:29:33" />
    <add key="MachineID" value="1" />
    <add key="UEventPracovnikLoginEnabled" value="True" />
    <add key="LastProductionUserID" value="" />
    <add key="DavkoveZpracovani" value="True" />
    <add key="DavkoveZpracovaniBlokace" value="False" />
    <add key="UdalostiPovolitZmenuCasuPrihlaseniPracovnika" value="True" />
    <add key="LoginUserTimeOut" value="06:00:00" />
    <add key="OdvadeniType" value="P" />
    <add key="OdvadeniPozadovatHesloUzivatele" value="False" />
    <add key="OdvadeniPozadovatZadaniStroje" value="True" />
    <add key="OdvadeniZobrazovatCasy" value="True" />
    <add key="StopPripravaStartVyrobaIhned" value="True" />
    <add key="ProductionOnlineTimeout" value="10000" />
    <add key="Production_UserMaxTimeSpanNoAction" value="00:10:00" />
    <add key="ConfigTiskSablony" value=".\Tisk\TiskSablony.xml" />
    <add key="FormPotvrzeniWidth" value="1280" />
    <add key="FormPotvrzeniHeight" value="800" />
    <add key="LastProductionDateTime" value="06.03.2023 11:33:56" />
    <add key="ModulPocetRadku" value="1" />
    <add key="ModulPocetSloupcu" value="1" />
    <add key="ModulPovolitOdvadeni" value="True" />
    <add key="ModulOdvadeniColumn" value="0" />
    <add key="ModulOdvadeniRow" value="0" />
    <add key="ModulOdvadeniRowSpan" value="1" />
    <add key="ModulOdvadeniColumnSpan" value="1" />
    <add key="ModulPovolitKorekce" value="False" />
    <add key="ModulKorekceColumn" value="0" />
    <add key="ModulKorekceRow" value="1" />
    <add key="ModulKorekceRowSpan" value="1" />
    <add key="ModulKorekceColumnSpan" value="1" />
    <add key="ModulPovolitUdalosti" value="False" />
    <add key="ModulUdalostiColumn" value="0" />
    <add key="ModulUdalostiRow" value="1" />
    <add key="ModulUdalostiRowSpan" value="1" />
    <add key="ModulUdalostiColumnSpan" value="1" />
    <add key="ModulPovolitPrehledOdvodu" value="False" />
    <add key="ModulPovolitNedokonceneZakazky" value="False" />
    <add key="VyberZakazkyPoPrihlaseni" value="False" />
    <add key="PredvyplnitZbyvajiciMnozstvi" value="True" />
    <add key="OvladaniNumerickouKlavesnici" value="False" />
    <add key="ZobrazovatChybySynchronizaceDatabaze" value="True" />
    <add key="UdalostiZobrazitCasPrihlaseniPracovnika" value="True" />
    <add key="UEventSmenaLogoutPasswordConfig" value="" />
    <add key="ZahajeniZakazkyDotaz" value="True" />
    <add key="NecinnostTrvalaDeleNezDotaz" value="False" />
    <add key="SouhrnPoStartzakazky" value="False" />
    <add key="OdvadeniPolozkaJizBylaOdvedena" value="True" />
    <add key="OdvadeniZadanVetsiPocetKOdvedeniDotaz" value="True" />
    <add key="PovolitUkonceniNaJinemStroji" value="False" />
    <add key="OdvadeniSledovatCastecneOdvody" value="False" />
    <add key="ModulPrehledOdvoduRow" value="0" />
    <add key="ModulPrehledOdvoduRowSpan" value="2" />
    <add key="ModulPrehledOdvoduColumn" value="1" />
    <add key="ModulPrehledOdvoduColumnSpan" value="5" />
    <add key="ModulPrehledOdvoduAutoUpdateInterval" value="60000" />
    <add key="ModulPrehledOdvoduFilterResetInterval" value="345600000" />
    <add key="ModulPrehledPocetHodinHistorie" value="720" />
    <add key="ModulPrehledOdvoduPouzitDataZeServeru" value="True" />
    <add key="ModulPrehledOdvoduFontSize" value="9" />
    <add key="ModulPrehledOdvoduFontRowSize" value="9" />
    <add key="ModulPrehledOdvoduMaxDaysInHistory" value="31" />
    <add key="ModulNedokonceneZakazkyRow" value="1" />
    <add key="ModulNedokonceneZakazkyRowSpan" value="1" />
    <add key="ModulNedokonceneZakazkyColumn" value="1" />
    <add key="ModulNedokonceneZakazkyColumnSpan" value="2" />
    <add key="ModulNedokonceneZakazkyAutoUpdateInterval" value="60000" />
    <add key="ModulNedokonceneZakazkyFilterResetInterval" value="60000" />
    <add key="ModulNedokonceneZakazkyPouzitDataZeServeru" value="True" />
    <add key="ModulNedokonceneZakazkyFontSize" value="7,25" />
    <add key="ModulNedokonceneZakazkyFontRowSize" value="7,25" />
    <add key="OdhlasitUzivatelePriOdchoduZPracoviste" value="False" />
    <add key="OdhlasitUzivatelePriUkonceniPrestavky" value="False" />
    <add key="OdhlasitUzivatelePriZahajeniPrestavky" value="False" />
    <add key="PrestavkaID" value="-1" />
    <add key="PovolitUkonceniZJinehoStroje" value="False" />
    <add key="PovolitOdvadeniMnozstviNula" value="True" />
    <add key="OdvadeniUkonceniStartStopPovolitVlozeniStart" value="False" />
    <add key="ModulNedokonceneZakazkyPouzitFiltrNaStroj" value="False" />
    <add key="ModulNedokonceneZakazkyPouzitFiltrNaUzivatele" value="False" />
    <add key="FormMainTimeFormat" value="HH:mm:ss" />
    <add key="FormMainTimeFormatWidth" value="140" />
    <add key="UEventPracovnikOdhlaseniShowReport" value="True" />
    <add key="ModulPrehledPocetHodinHistorieServer" value="768" />
    <add key="CorrectsCheckEnable" value="True" />
    <add key="CorrectsCheckPercentEnable" value="True" />
    <add key="CorrectsCheckMinimumEnable" value="True" />
    <add key="CorrectsCheckPercentValue" value="5" />
    <add key="CorrectsCheckMinimumValue" value="00:05:00" />
    <add key="CorrectsUsporaZadaniEnable" value="False" />
    <add key="Odvadeni_PotvrzeniOperace" value="False" />
    <add key="Odvadeni_Prehled" value="True" />
    <add key="Odvadeni_ZruseniOperace" value="False" />
    <add key="UEventZruseniOdvod" value="6" />
    <add key="UEventZruseniPriprava" value="7" />
    <add key="Production_Material_Enter" value="False" />
    <add key="Production_Material_PoVyrobe" value="False" />
    <add key="Production_Material_PredVyrobou" value="False" />
    <add key="Production_Material_OperacePotvrzeniButton" value="False" />
    <add key="Production_Destination_SKLID_Enter" value="False" />
    <add key="Production_Destination_SKLID" value="" />
    <add key="Production_Destination_LOCNCODE_Enter" value="False" />
    <add key="Production_Destination_LOCNCODE" value="" />
    <add key="Production_Material_Source_SKLID_Enter" value="False" />
    <add key="Production_Material_Source_SKLID" value="" />
    <add key="Production_Material_Source_LOCNCODE_Enter" value="False" />
    <add key="Production_Material_Source_LOCNCODE" value="" />
    <add key="Odvadeni_ZruseniPouzeVS" value="False" />
    <add key="ModulPovolitUkolovani" value="False" />
    <add key="ModulUkolovaniColumn" value="0" />
    <add key="ModulUkolovaniRow" value="0" />
    <add key="ModulUkolovaniRowSpan" value="1" />
    <add key="ModulUkolovaniColumnSpan" value="1" />
    <add key="CorrectsEnable" value="False" />
    <add key="TaskEnable" value="False" />
    <add key="Email_Predmet_sms" value="" />
    <add key="Email_Predmet_email" value="" />
    <add key="ServerAccessCertificateTrust" value="TrustAll" />
    <add key="ServerAccess" value="Anonymous" />
    <add key="ServerAccessUsername" value="" />
    <add key="ServerAccessPassword" value="" />
    <add key="ServerAccessDomain" value="" />
    <add key="ServerAccessPreauthenticate" value="False" />
    <add key="ServerAccessAllowRedirection" value="False" />
    <add key="ServerAccessAllowDecompression" value="False" />
    <add key="TiskPalety" value="False" />
    <add key="TiskPotvrzeni" value="False" />
    <add key="TiskMnozstviJednaAutomaticky" value="False" />
    <add key="TiskNazevSablony" value="paleta.zpl" />
    <add key="TiskNazevTiskarny" value="" />
    <add key="TiskMnozstviPredvyplnit" value="" />
    <add key="Tisk_OneWayPrint" value="False" />
    <add key="Tisk_PopisPoctuTisku" value="Množství na tisk" />
    <add key="SSCC_Generovani_auto" value="False" />
    <add key="Odvadeni_OvereniUzivateleBezHesla" value="False" />
    <add key="ModulPovolitDotisk" value="False" />
    <add key="ModulDotiskColumn" value="0" />
    <add key="ModulDotiskRow" value="0" />
    <add key="ModulDotiskRowSpan" value="2" />
    <add key="ModulDotiskColumnSpan" value="1" />
    <add key="Odvadeni_REZ_1_Lokalizace" value="Zadej hodnotu REZ1" />
    <add key="Odvadeni_REZ_2_Lokalizace" value="Zadej hodnotu REZ2" />
    <add key="Odvadeni_REZ_3_Lokalizace" value="Zadej hodnotu REZ3" />
    <add key="Odvadeni_REZ_4_Lokalizace" value="Zadej hodnotu REZ4" />
    <add key="Odvadeni_REZ_5_Lokalizace" value="Zadej hodnotu REZ5" />

	  <add key="APIAktualizacePath_staraVerze" value="C:\FASK\Konzola\" />
	  <add key="APIAktualizacePath_novaVerze" value="C:\FASK\" />
	  <add key="APIAktualizacePath_zalohaVerze" value="C:\FASK\" />
	  <add key="APIAktualizacePath_obnovaVerze" value="C:\FASK\" />
  </appSettings>
</configuration>