<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vyroba_Konzola.Properties.Settings.Konzola_ConnectionString"
            connectionString="Data Source=FASKCZ-CV006\SQL2008_01;Initial Catalog=ZZS-Test;Persist Security Info=True;User ID=sa;Password=sasa"
            providerName="System.Data.SqlClient" />
        <add name="Vyroba_Konzola.Properties.Settings.ConnectionString"
            connectionString="Provider=VFPOLEDB.1;Data Source=c:\SBK\sb_txt\Inventura.tmp"
            providerName="System.Data.OleDb" />
        <add name="Vyroba_Konzola.Properties.Settings.MST_ConnectionString"
            connectionString="Data Source=FASKCZ-CV006\SQL2008_01;Initial Catalog=ZZS-Test;Persist Security Info=True;User ID=sa;Password=sasa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>