<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vyroba_Agro.Properties.Settings.VyrobaConnectionString"
            connectionString="Data Source=|DataDirectory|\SQLCEDatabase\Vyroba.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Vyroba_Agro.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLOLEDB;Data Source=PEPA-PC;Integrated Security=SSPI;Initial Catalog=Nadop"
            providerName="System.Data.OleDb" />
        <add name="FASK.SledovaniVyroby.Module.Vyroba_Agro.Properties.Settings.VyrobaConnectionString"
            connectionString="Data Source=|DataDirectory|\SQLCEDatabase\Vyroba.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="FASK.SledovaniVyroby.Module.Vyroba_Agro.Properties.Settings.ConnectionString"
            connectionString="Data Source=.\SQL_2008_DEV;Initial Catalog=Agro_fask;Persist Security Info=True;User ID=sa;Password=sasa"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>