
create PROCEDURE [dbo].[FASK_procGetPolozkaFloat_POHODA] --FASK_procGetPolozkaFloat
    @itemnmbr NVARCHAR(50),      -- Vstupní parametr: číslo položky (ID nebo kód položky)
    @location NVARCHAR(50),      -- Vstupní parametr: lokace skladu (zatím nevyužitý)
    @dbname NVARCHAR(128)        -- Vstupní parametr: název databáze, ze které se má číst
AS
BEGIN
    -- Vytvoření proměnné pro dynamické SQL
    DECLARE @sql NVARCHAR(MAX)

    -- Sestavení dynamického SQL dotazu.
    -- V tomto případě dynamicky vkládáme název databáze do FROM části pomocí QUOTENAME (zabraňuje SQL injection)
    SET @sql = '
        SELECT StavZ                            -- Název sloupce, který chceme vrátit
        FROM ' + QUOTENAME(@dbname) + '.dbo.SKz -- Dynamické určení databáze a tabulky (dbo.SKz)
        WHERE ID = @itemnmbr_param              -- Filtrování podle parametru ID (musí být int!)
    '

    -- Provedení dynamického SQL pomocí sp_executesql s parametry
    EXEC sp_executesql 
        @sql,                                   -- Samotný SQL řetězec
        N'@itemnmbr_param NVARCHAR(50)',        -- Deklarace typu parametru
        @itemnmbr_param = @itemnmbr             -- Přiřazení hodnoty parametru
END

--| Proč nelze použít SELECT s proměnnou? | Protože název databáze (např. StwPh_06480853_2024) musí být pevný text, ne parametr |
--| Proč sp_executesql? | Umožňuje spouštět SQL jako text a přitom bezpečně používat parametry |
--| Alternativa? | EXEC(@sql) – ale bez parametrů, méně bezpečné a bez optimalizace |

