<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fask.ModuleSql.Properties.Settings.SqlConnectionString"
            connectionString="Data Source=FASKCZ-CV006\SQL2008_01;Initial Catalog=ZZS-Test;Persist Security Info=True;User ID=sa;Password=sasa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>