USE [Vyroba_Nadop]
GO
/****** Object:  Table [dbo].[col_head]    Script Date: 17. 10. 2017 10:58:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[col_head](
	[cz_header] [char](50) NULL,
	[tbl_name] [char](50) NULL,
	[fld_visible] [bit] NOT NULL,
	[fld_name] [char](50) NULL,
	[fld_type] [char](50) NULL,
	[fld_len] [int] NULL,
	[fld_dec] [int] NULL,
	[dex_row_id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Corrects]    Script Date: 17. 10. 2017 10:58:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Corrects](
	[id] [int] NOT NULL,
	[desc] [varchar](10) NOT NULL,
	[TMFrom] [real] NULL,
	[TMTo] [real] NULL,
	[Production] [tinyint] NOT NULL,
 CONSTRAINT [PK_correct] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CZPRO_VPH]    Script Date: 17. 10. 2017 10:58:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CZPRO_VPH](
	[CountEntries] [int] NOT NULL,
	[SOPNUMBE] [varchar](17) NOT NULL,
	[SOPTYPE] [varchar](11) NOT NULL,
	[SOPDESC] [varchar](51) NULL,
	[VNDDOCNMH] [varchar](21) NULL,
	[BarcodeH] [varchar](31) NOT NULL,
	[LOCNCODE] [varchar](11) NULL,
	[DateProd] [smallint] NOT NULL,
	[Rez1] [varchar](11) NOT NULL,
	[Rez2] [varchar](11) NOT NULL,
	[TermID] [tinyint] NOT NULL,
	[LSTMod] [datetime] NOT NULL,
	[DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CZPRO_VPH] PRIMARY KEY CLUSTERED 
(
	[SOPNUMBE] ASC,
	[CountEntries] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CZPRO_VPP]    Script Date: 17. 10. 2017 10:58:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CZPRO_VPP](
	[CountEntries] [int] NOT NULL,
	[SOPNUMBE] [varchar](17) NOT NULL,
	[ITEMNMBR] [varchar](31) NOT NULL,
	[ITEMTYPE] [varchar](11) NOT NULL,
	[ITEMDESC] [varchar](51) NULL,
	[ITEMMJ] [varchar](5) NULL,
	[VNDDOCNMP] [varchar](21) NULL,
	[VNDITNUM] [varchar](31) NULL,
	[ORD] [int] NOT NULL,
	[BarcodeP] [varchar](31) NOT NULL,
	[LOCNCODE] [varchar](11) NULL,
	[QTYSHPPD] [numeric](19, 5) NOT NULL,
	[QTYDOKON] [numeric](19, 5) NOT NULL,
	[QTYPACK] [numeric](19, 5) NOT NULL,
	[QTYPACKMJ] [varchar](5) NULL,
	[TIMEMODE] [int] NOT NULL,
	[TIMEPREP] [real] NOT NULL,
	[TIMEUNIT] [real] NOT NULL,
	[DtProdT] [tinyint] NOT NULL,
	[DtProdL] [smallint] NOT NULL,
	[SerNumT] [tinyint] NOT NULL,
	[SerNumL] [smallint] NOT NULL,
	[VerT] [tinyint] NOT NULL,
	[VerL] [smallint] NOT NULL,
	[TermID] [tinyint] NOT NULL,
	[LSTMod] [datetime] NOT NULL,
	[DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CZPRO_VPP] PRIMARY KEY CLUSTERED 
(
	[SOPNUMBE] ASC,
	[ITEMNMBR] ASC,
	[CountEntries] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FASK_CONS_095]    Script Date: 17. 10. 2017 10:58:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FASK_CONS_095](
	[ITEMNMBR] [char](31) NOT NULL,
	[ITEMDESC] [char](51) NULL,
	[VNDITNUM] [char](31) NULL,
	[CZ_CarKod] [char](31) NULL,
	[LOCNCODE] [char](11) NULL,
	[SKL_ID] [char](20) NULL,
	[QTY] [numeric](19, 5) NOT NULL,
	[QTYPACK] [numeric](19, 5) NULL,
	[MJ] [varchar](3) NOT NULL,
	[DMJ] [varchar](200) NULL,
	[TAXRATE] [numeric](4, 2) NULL,
	[PRICE0] [numeric](18, 2) NULL,
	[PRICE1] [numeric](18, 2) NULL,
	[PRICE2] [numeric](18, 2) NULL,
	[PRICE3] [numeric](18, 2) NULL,
	[PRICE4] [numeric](18, 2) NULL,
	[PRICE5] [numeric](18, 2) NULL,
	[CZ_SerNum_Track] [tinyint] NOT NULL,
	[CZ_SerNum_Delka] [smallint] NOT NULL,
	[CZ_Rez1_Track] [tinyint] NOT NULL,
	[CZ_Rez2_Track] [tinyint] NOT NULL,
	[CZ_Rez3_Track] [tinyint] NOT NULL,
	[CZ_Rez4_Track] [tinyint] NOT NULL,
	[REZ1] [varchar](10) NULL,
	[DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL,
	[ITEMCODE] [varchar](50) NULL,
	[ODB_ID] [varchar](12) NULL,
	[TIMEMODE] [int] NOT NULL,
	[TIMEPREP] [real] NOT NULL,
	[TIMEUNIT] [real] NOT NULL,
	[TIMEFROM] [datetime] NULL,
	[TIMETO] [datetime] NULL,
	[LSTMod] [datetime] NOT NULL,
	[loginid] [varchar](10) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FASK_CONS_Logins]    Script Date: 17. 10. 2017 10:58:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FASK_CONS_Logins](
	[id] [varchar](10) NOT NULL,
	[firstname] [varchar](20) NOT NULL,
	[surname] [varchar](50) NOT NULL,
	[psswd] [varchar](10) NOT NULL,
 CONSTRAINT [PK_FASK_CONS_Logins] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FASK_CONS_LoginsAuth]    Script Date: 17. 10. 2017 10:58:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FASK_CONS_LoginsAuth](
	[id] [varchar](10) NOT NULL,
	[ADM] [tinyint] NOT NULL,
	[opr_select] [tinyint] NULL,
	[opr_insert] [tinyint] NULL,
	[opr_edit] [tinyint] NULL,
	[opr_delete] [tinyint] NULL,
 CONSTRAINT [PK_FASK_CONS_LoginsAuth] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 17. 10. 2017 10:58:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Groups](
	[id] [varchar](10) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Logins]    Script Date: 17. 10. 2017 10:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Logins](
	[id] [varchar](10) NOT NULL,
	[firstname] [varchar](20) NOT NULL,
	[surname] [varchar](50) NOT NULL,
	[psswd] [varchar](10) NOT NULL,
	[VS] [tinyint] NOT NULL,
 CONSTRAINT [PK_Logins] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[logs]    Script Date: 17. 10. 2017 10:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logs](
	[username] [nvarchar](50) NULL,
	[grps] [smallint] NULL,
	[passw] [nvarchar](50) NULL,
	[perm1] [nchar](1) NULL,
	[perm2] [nchar](1) NULL,
	[perm3] [nchar](1) NULL,
	[perm4] [nchar](1) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Machines]    Script Date: 17. 10. 2017 10:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Machines](
	[id] [varchar](16) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Machines] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[max_key]    Script Date: 17. 10. 2017 10:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[max_key](
	[max_key] [smallint] NULL,
	[actutime] [smalldatetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Operations]    Script Date: 17. 10. 2017 10:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Operations](
	[id] [varchar](16) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Operations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Production]    Script Date: 17. 10. 2017 10:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Production](
	[CountEntries] [int] NULL,
	[SOPNUMBE] [varchar](17) NULL,
	[ITEMNMBR] [varchar](31) NULL,
	[ITEMTYPE] [varchar](11) NULL,
	[ITEMMJ] [varchar](5) NULL,
	[ORD] [int] NULL,
	[TIMEMODE] [int] NULL,
	[TIMEPREPSTART] [datetime] NULL,
	[TIMEPREPSTOP] [datetime] NULL,
	[TIMEPREP] [real] NULL,
	[TIMEUNIT] [real] NULL,
	[TIMESTART] [datetime] NULL,
	[TIMESTOP] [datetime] NULL,
	[TIMECORSTART] [datetime] NULL,
	[TIMECORSTOP] [datetime] NULL,
	[TIMECOR] [real] NULL,
	[TIMECRID] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loginid] [varchar](10) NOT NULL,
	[machineid] [varchar](16) NULL,
	[operationid] [varchar](16) NULL,
	[dateeve] [datetime] NOT NULL,
	[qty] [numeric](19, 5) NOT NULL,
	[qtyReal] [numeric](19, 5) NOT NULL,
	[QTYPACK] [numeric](19, 5) NULL,
	[QTYPACKMJ] [varchar](5) NULL,
	[description] [ntext] NULL,
	[BarcodeP] [varchar](31) NULL,
	[UserID] [varchar](10) NOT NULL,
	[TermID] [tinyint] NOT NULL,
	[ISOK] [datetime] NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[SOUBEHGUID] [uniqueidentifier] NULL,
	[qtyOld] [numeric](19, 5) NULL,
	[idVS] [varchar](10) NULL,
	[dateedit] [datetime] NULL,
	[CORRGUID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StatusTypes]    Script Date: 17. 10. 2017 10:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StatusTypes](
	[statusid] [varchar](10) NOT NULL,
	[statusdesc] [varchar](100) NULL,
 CONSTRAINT [PK_StatusTypes] PRIMARY KEY CLUSTERED 
(
	[statusid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tree_1]    Script Date: 17. 10. 2017 10:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tree_1](
	[key_pare] [nvarchar](50) NULL,
	[key_cur] [nvarchar](50) NULL,
	[key_lab] [nvarchar](50) NULL,
	[key_pict] [smallint] NULL,
	[key_inx] [nvarchar](50) NULL,
	[sys_table] [nvarchar](50) NULL,
	[sys_dsn] [nvarchar](50) NULL,
	[data_table] [nvarchar](255) NULL,
	[data_cmdtype] [smallint] NULL,
	[data_dsn] [nvarchar](50) NULL,
	[popis_tab] [nvarchar](50) NULL,
	[Pozn] [ntext] NULL,
	[hide_cols] [ntext] NULL,
	[us_filtr] [ntext] NULL,
	[sort_ord] [ntext] NULL,
	[params_proc] [ntext] NULL,
	[ug1] [smallint] NULL,
	[ug2] [smallint] NULL,
	[ug3] [smallint] NULL,
	[ug4] [smallint] NULL,
	[ug5] [smallint] NULL,
	[ug6] [smallint] NULL,
	[ug7] [smallint] NULL,
	[ug8] [smallint] NULL,
	[ug9] [smallint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserEvents]    Script Date: 17. 10. 2017 10:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserEvents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loginid] [varchar](10) NOT NULL,
	[machineid] [varchar](16) NULL,
	[dateeve] [datetime] NOT NULL,
	[statusid] [varchar](10) NOT NULL,
	[UserID] [varchar](10) NOT NULL,
	[TermID] [tinyint] NOT NULL,
	[REZ1] [varchar](20) NULL,
	[GUID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserEvents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VLoginsGroups]    Script Date: 17. 10. 2017 10:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VLoginsGroups](
	[loginid] [varchar](10) NOT NULL,
	[groupid] [varchar](10) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VMachinesOperations]    Script Date: 17. 10. 2017 10:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VMachinesOperations](
	[machineid] [varchar](16) NOT NULL,
	[operationid] [varchar](16) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Corrects] ADD  DEFAULT ((0)) FOR [TMFrom]
GO
ALTER TABLE [dbo].[Corrects] ADD  DEFAULT ((1)) FOR [Production]
GO
ALTER TABLE [dbo].[CZPRO_VPH] ADD  DEFAULT ('1') FOR [CountEntries]
GO
ALTER TABLE [dbo].[CZPRO_VPH] ADD  DEFAULT ('') FOR [SOPTYPE]
GO
ALTER TABLE [dbo].[CZPRO_VPP] ADD  DEFAULT ('1') FOR [CountEntries]
GO
ALTER TABLE [dbo].[CZPRO_VPP] ADD  DEFAULT ('') FOR [ITEMTYPE]
GO
ALTER TABLE [dbo].[CZPRO_VPP] ADD  DEFAULT ((0)) FOR [ORD]
GO
ALTER TABLE [dbo].[CZPRO_VPP] ADD  DEFAULT ((0)) FOR [QTYDOKON]
GO
ALTER TABLE [dbo].[CZPRO_VPP] ADD  DEFAULT ((0)) FOR [TIMEMODE]
GO
ALTER TABLE [dbo].[FASK_CONS_095] ADD  DEFAULT ((0)) FOR [CZ_Rez1_Track]
GO
ALTER TABLE [dbo].[FASK_CONS_095] ADD  DEFAULT ((0)) FOR [CZ_Rez2_Track]
GO
ALTER TABLE [dbo].[FASK_CONS_095] ADD  DEFAULT ((0)) FOR [CZ_Rez3_Track]
GO
ALTER TABLE [dbo].[FASK_CONS_095] ADD  DEFAULT ((0)) FOR [CZ_Rez4_Track]
GO
ALTER TABLE [dbo].[FASK_CONS_095] ADD  DEFAULT ((0)) FOR [TIMEMODE]
GO
ALTER TABLE [dbo].[FASK_CONS_LoginsAuth] ADD  DEFAULT ('0') FOR [ADM]
GO
ALTER TABLE [dbo].[Logins] ADD  CONSTRAINT [DF_Logins_VS]  DEFAULT ((0)) FOR [VS]
GO
ALTER TABLE [dbo].[Production] ADD  DEFAULT ('') FOR [ITEMTYPE]
GO
ALTER TABLE [dbo].[Production] ADD  DEFAULT ((0)) FOR [TIMEMODE]
GO
