USE [Vyroba_Nadop]
GO
/****** Object:  View [dbo].[fask_Production_Zakazky_Vse]    Script Date: 17. 10. 2017 10:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[fask_Production_Zakazky_Vse] 
AS
	SELECT 
		distinct
		p.CountEntries, p.SOPNUMBE, p.operationid, p.UserID, p.machineid,
		p.SOUBEHGUID, p.TIMESTART, p.TIMESTOP
		--,CONVERT(time, p.TIMESTOP - p.TIMESTART) as TIMEDIFF
		--,DATEDIFF(MI,p.TIMESTART, p.TIMESTOP) as TIMEDIFF
	FROM Production p
	WHERE 
		p.TIMECOR is NULL

GO
/****** Object:  View [dbo].[fask_Production_Zakazky_Ukoncene]    Script Date: 17. 10. 2017 10:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[fask_Production_Zakazky_Ukoncene]
AS
	SELECT 
		zv.SOPNUMBE, zv.UserID, zv.machineid, zv.operationid
		,zv.SOUBEHGUID, zv.TIMESTART, zv.TIMESTOP
		,DATEDIFF(MI, zv.TIMESTART, zv.TIMESTOP) casMin		
	FROM fask_production_Zakazky_Vse zV
	WHERE zV.TIMESTOP is not NULL

GO
/****** Object:  View [dbo].[fask_Production_Korekce_Vse]    Script Date: 17. 10. 2017 10:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[fask_Production_Korekce_Vse] 
AS
	SELECT 
		distinct
		p.CountEntries, p.SOPNUMBE, p.UserID, p.machineid, p.operationid,
		p.CORRGUID, 
		p.TIMECOR, p.TIMECORSTART, p.TIMECORSTOP
	FROM Production p
	WHERE 
		p.TIMECOR is not NULL

GO
/****** Object:  View [dbo].[fask_Production_Korekce_Ukoncene]    Script Date: 17. 10. 2017 10:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE
VIEW [dbo].[fask_Production_Korekce_Ukoncene]
AS
	SELECT 
		kv.SOPNUMBE, kv.UserID, kv.machineid, kv.operationid,
		kv.CORRGUID, kv.TIMECOR, kv.TIMECORSTART, kv.TIMECORSTOP,
		DATEDIFF(MI, kv.TIMECORSTART, kv.TIMECORSTOP) casMin
	FROM fask_production_Korekce_Vse kV
	WHERE kV.TIMECORSTOP is not NULL

GO
/****** Object:  View [dbo].[fask_Production_Korekce_Ukoncene_Stroj_Operace]    Script Date: 17. 10. 2017 10:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[fask_Production_Korekce_Ukoncene_Stroj_Operace]
AS
	SELECT kU.* 
	FROM fask_Production_Korekce_Ukoncene kU
	WHERE ku.machineid is not null

GO
/****** Object:  View [dbo].[fask_Production_Korekce_Ukoncene_Obecne]    Script Date: 17. 10. 2017 10:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[fask_Production_Korekce_Ukoncene_Obecne]
AS
	SELECT kU.* 
	FROM fask_Production_Korekce_Ukoncene kU
	WHERE ku.machineid is null

GO
/****** Object:  View [dbo].[fask_Production_Zakazky_Soubehy]    Script Date: 17. 10. 2017 10:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[fask_Production_Zakazky_Soubehy]
as 
	SELECT z.SOUBEHGUID, COUNT(*) pocetSoubehu
	FROM fask_Production_Zakazky_Ukoncene z
	GROUP BY z.SOUBEHGUID

GO
/****** Object:  View [dbo].[fask_Production_Zakazky_Casy]    Script Date: 17. 10. 2017 10:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[fask_Production_Zakazky_Casy]
AS
	SELECT
		DISTINCT --aby to bylo jen jednou ... a nemusel jsem delat GROUP BY ... 
		zU.SOPNUMBE
		,zU.UserID
		,zU.machineid
		,zU.operationid
		,zU.casMin
		,zU.TIMESTART
		,zU.TIMESTOP
		,zS.SOUBEHGUID
		,zS.pocetSoubehu
		 
	FROM fask_Production_Zakazky_Ukoncene zU --obsahuje pouze seznam cisel ukoncenych zakazek
	JOIN fask_Production_Zakazky_Soubehy zS --zjistuje pocty ukoncenych soubehu
		ON zS.SOUBEHGUID = zu.SOUBEHGUID

GO
/****** Object:  View [dbo].[fask_Production_Korekce_Ukoncene_Stroj_Operace_Casy]    Script Date: 17. 10. 2017 10:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[fask_Production_Korekce_Ukoncene_Stroj_Operace_Casy]
AS 
	SELECT 
		z.SOPNUMBE, z.UserID, z.machineid, z.operationid		
		,z.TIMESTART
		,z.TIMESTOP
		,SUM(isnull(k.casMin,0)) casMin
		,COUNT(*) casMinCount --pocet sloucenych zaznamu pomoci GROUP BY...
		,SUM(isnull(k.TIMECOR,0)) TIMECOR
	FROM fask_Production_Zakazky_Ukoncene z
	JOIN fask_Production_Korekce_Ukoncene_Stroj_Operace k
		on k.SOPNUMBE=z.SOPNUMBE and k.UserID=z.UserID and k.TIMECORSTART >= z.TIMESTART and k.TIMECORSTOP <= z.TIMESTOP
	GROUP BY 
		z.SOPNUMBE, z.UserID, z.machineid, z.operationid
		,z.TIMESTART
		,z.TIMESTOP


GO
/****** Object:  View [dbo].[fask_Production_Korekce_Ukoncene_Obecne_Casy]    Script Date: 17. 10. 2017 10:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[fask_Production_Korekce_Ukoncene_Obecne_Casy]
AS 
	SELECT 
		z.SOPNUMBE, z.UserID
		,z.TIMESTART
		,z.TIMESTOP
		,SUM(isnull(k.casMin,0)) casMin
		,COUNT(*) casMinCount
		,SUM(isnull(k.TIMECOR,0)) TIMECOR		
	FROM fask_Production_Zakazky_Ukoncene z
	JOIN fask_Production_Korekce_Ukoncene_Obecne k
		on 
			k.UserID=z.UserID and 
			(z.TIMESTART <= k.TIMECORSTART and k.TIMECORSTOP <= z.TIMESTOP)
	GROUP BY 
		z.SOPNUMBE, z.UserID
		,z.TIMESTART
		,z.TIMESTOP


GO
/****** Object:  View [dbo].[fask_Production_Casy_Korekce]    Script Date: 17. 10. 2017 10:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[fask_Production_Casy_Korekce]
AS
	SELECT 
		z.SOPNUMBE
		, z.UserID
		, z.machineid
		, z.operationid
		, z.TIMESTART
		, z.TIMESTOP
		, isnull(z.casMin,0) casZakazky	--doba trvani zakazky
		, isnull(z.pocetSoubehu,0) pocetSoubehu		--pocet soubehu zakazky
		, isnull(kO.casMin,0) casKO		--cas korekce obecne
		, isnull(kO.TIMECOR,0) timeCorKO  --timecor korekce obecne
		, isnull(kS.casMin,0) casKS		--cas korekce stroj, operace
		, isnull(kS.TIMECOR,0) timeCorKS	--timecor korekce stroj, operace
	FROM fask_Production_Zakazky_Casy z
	LEFT JOIN fask_Production_Korekce_Ukoncene_Obecne_Casy kO 
		on kO.SOPNUMBE=z.SOPNUMBE and 
			kO.UserID=z.UserID and 
			kO.TIMESTART=z.TIMESTART and 
			kO.TIMESTOP=z.TIMESTOP
	LEFT JOIN fask_Production_Korekce_Ukoncene_Stroj_Operace_Casy kS 
		on kS.SOPNUMBE=z.SOPNUMBE and 
			kS.UserID=z.UserID and 
			kS.machineid=z.machineid and 
			kS.operationid=z.operationid and
			kS.TIMESTART=z.TIMESTART and
			kS.TIMESTOP=z.TIMESTOP

GO
/****** Object:  View [dbo].[fask_Production_Casy]    Script Date: 17. 10. 2017 10:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[fask_Production_Casy]
AS
	SELECT 
		c.SOPNUMBE
		--Vypocet => SUM((<delka zakazky> - <delka korekce stroj operace> - <delka korekce obecne>) / pocet soubehu)
		,SUM(convert(int, (c.casZakazky - c.casKS - c.casKO) / convert(float, c.pocetSoubehu))) casMinCelkem
	FROM fask_Production_Casy_Korekce c
	GROUP BY 
		c.SOPNUMBE

GO
/****** Object:  View [dbo].[fask_Production_Casy_Zakazka_Operace]    Script Date: 17. 10. 2017 10:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[fask_Production_Casy_Zakazka_Operace]
AS
SELECT 
	c.SOPNUMBE,
	c.operationid
	--Vypocet => SUM((<delka zakazky> - <delka korekce stroj operace> - <delka korekce obecne>) / pocet soubehu)
	--,SUM(convert(int, (c.casZakazky - c.casKS - c.casKO) / convert(float, c.pocetSoubehu))) casMinCelkem
	,SUM(convert(int, (c.casZakazky - c.casKS - c.casKO) / convert(float, c.pocetSoubehu))) casMinCelkem
FROM fask_Production_Casy_Korekce c
GROUP BY 
	c.SOPNUMBE,
	c.operationid

GO
/****** Object:  View [dbo].[fask_Production]    Script Date: 17. 10. 2017 10:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[fask_Production]
AS 

	--declare @baseDT datetime
	--set @baseDT = GETDATE()

	SELECT 
		c.SOPNUMBE	
		,c.casMinCelkem CelkemMinut
		,c.dtime CelkemDT
		--,c.casMinCelkem / 60 / 24 Dni
		--,c.casMinCelkem / 60 % 24 Hodin
		--,c.casMinCelkem % 60 Minut	
		--,dateadd(mi, c.casMinCelkem, @baseDT) - @baseDT
		,DATEDIFF(day, 0, c.dtime) Dni
		,DATEPART(HOUR, c.dtime) Hodin
		,DATEPART(MINUTE, c.dtime) Minut
		--,DATEPART(SECOND, c.dtime) Sekund
		,'|' S
		,c.casMinCelkem / 60 / 24 D
		,c.casMinCelkem / 60 % 24 H
		,c.casMinCelkem % 60 M
	FROM 
	(
		SELECT 
			SOPNUMBE
			,Convert(int, SUM(p.casMinCelkem)) casMinCelkem
			--,dateadd(mi,Convert(int, SUM(casMinCelkem)), @baseDT) - @baseDT dtime
			,dateadd(mi,Convert(int, SUM(casMinCelkem)), GETDATE()) - GETDATE() dtime
		FROM fask_Production_Casy p
		GROUP BY
			SOPNUMBE
	) c
	--order by CONVERT(int, c.SOPNUMBE)

GO
/****** Object:  View [dbo].[Casy_Pracovniku_View]    Script Date: 17. 10. 2017 10:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Casy_Pracovniku_View] as
-- zakazky s korekci
Select distinct l.firstname jmeno, l.surname prijmeni , CAST(p.TIMESTOP - p.TIMESTART as TIME) cas_bez_korekce, CAST(cor.TIMECORSTOP - cor.TIMECORSTART as TIME) korekce, CAST(((p.TIMESTOP - p.TIMESTART) - isnull((cor.TIMECORSTOP - cor.TIMECORSTART), '')) as TIME) cas_s_korekci, p.CountEntries, p.SOPNUMBE, p.TIMESTART, p.TIMESTOP, p.TIMECORSTART, p.TIMECORSTOP, p.TIMECOR, p.TIMECRID, p.id, p.UserID, p.dateeve, p.GUID, p.SOUBEHGUID, p.CORRGUID from 
Production p
inner join Production cor on p.UserID = cor.UserID
left join Logins l on l.id = p.UserID
where 
 p.TIMESTART is not null 
 and p.TIMESTOP is not null
 and cor.TIMECORSTOP < p.TIMESTOP
 and cor.TIMECORSTART > p.TIMESTART
union
-- zakazky bez korekce (vsechny zakazky - zakazky s korekci)
Select distinct l.firstname jmeno, l.surname prijmeni, CAST(p.TIMESTOP - p.TIMESTART as TIME) cas_bez_korekce, null korekce, CAST((p.TIMESTOP - p.TIMESTART) as TIME) cas_s_korekci, p.CountEntries, p.SOPNUMBE, p.TIMESTART, p.TIMESTOP, p.TIMECORSTART, p.TIMECORSTOP, p.TIMECOR, p.TIMECRID, p.id, p.UserID, p.dateeve, p.GUID, p.SOUBEHGUID, p.CORRGUID from 
Production p
left join Logins l on l.id = p.UserID
where 
 p.TIMESTART is not null 
 and p.TIMESTOP is not null
 --and p.SOUBEHGUID not in
 and p.id not in	-- napojeni pres id, protoze u jednotlivych zakazek v soubehu se mohou lisit casy
 (
  -- zakazky s korekci
  --select distinct prod.SOUBEHGUID 
  select prod.id 
  from Production prod
  inner join Production cor on prod.UserID = cor.UserID
  where 
   prod.TIMESTART is not null 
   and prod.TIMESTOP is not null
   and cor.TIMECORSTOP < prod.TIMESTOP
   and cor.TIMECORSTART > prod.TIMESTART
 )
GO
