<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fask.Server.Interfaces.Properties.Settings.MST_6ConnectionString"
            connectionString="Data Source=.\sql2008_2;Initial Catalog=MST_6;Persist Security Info=True;User ID=sa;Password=sasa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>