<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SledovaniStroju_Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SledovaniStroju_Service.Properties.Settings.VyrobaSSConnectionString" connectionString="Data Source=192.168.1.121\SQLEXPRESS;Initial Catalog=Agro_fask;Persist Security Info=True;User ID=sa;Password=sasa" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <SledovaniStroju_Service.Properties.Settings>
      <setting name="LogFile" serializeAs="String">
        <value>log.txt</value>
      </setting>
      <setting name="TimerPeriod" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="MaxConnectionAttempt" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ConnectionTimeout" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="SendingTimeout" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ReceivingTimeout" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="SendErrorEmail" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlwaysCloseConnection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NumberOfPingAttemptBeforeOpenConnection" serializeAs="String">
        <value>3</value>
      </setting>
    </SledovaniStroju_Service.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
