<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FASK.SledovaniVyroby.Module.ZZS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ZZS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FASK.SledovaniVyroby.Module.ZZS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ZZS.Properties.Settings.ProdejConnectionString" connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_06_alfa\SERVER\MST_Win_Kom_Server\SqlCEDBs\Prodej.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="FASK.SledovaniVyroby.Module.ZZS.Properties.Settings.ProdejConnectionString" connectionString="Data Source=d:\_work_GIT_\MES\MES-Projekt\0x_Zdrojove_Kody\SledovaniVyroby2\_Modules_\ZZS\SQLCEDB\Prodej.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="FASK.SledovaniVyroby.Module.ZZS.Properties.Settings.TypDokladuConnectionString" connectionString="Data Source=d:\_work_GIT_\MES\MES-Projekt\0x_Zdrojove_Kody\SledovaniVyroby2\_Modules_\ZZS\SQLCEDB\TypDokladu.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="FASK.SledovaniVyroby.Module.ZZS.Properties.Settings.ZboziConnectionString" connectionString="Data Source=d:\_work_GIT_\MES\MES-Projekt\0x_Zdrojove_Kody\SledovaniVyroby2\_Modules_\ZZS\SQLCEDB\Zbozi.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="FASK.SledovaniVyroby.Module.ZZS.Properties.Settings.SkladyConnectionString" connectionString="Data Source=d:\_work_GIT_\MES\MES-Projekt\0x_Zdrojove_Kody\SledovaniVyroby2\_Modules_\ZZS\SQLCEDB\Sklady.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="FASK.SledovaniVyroby.Module.ZZS.Properties.Settings.OdberateleConnectionString" connectionString="Data Source=d:\_work_GIT_\MES\MES-Projekt\0x_Zdrojove_Kody\SledovaniVyroby2\_Modules_\ZZS\SQLCEDB\Odberatele.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="FASK.SledovaniVyroby.Module.ZZS.Properties.Settings.PracovniciConnectionString" connectionString="Data Source=d:\_work_GIT_\MES\MES-Projekt\0x_Zdrojove_Kody\SledovaniVyroby2\_Modules_\ZZS\SQLCEDB\Pracovnici.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    </connectionStrings>
    <applicationSettings>
        <FASK.SledovaniVyroby.Module.ZZS.Properties.Settings>
            <setting name="ZZS_CiselnikService_CiselnikService" serializeAs="String">
                <value>http://localhost/MST_Win_Kom_Server_6_alfa/Ciselnik.asmx</value>
            </setting>
            <setting name="CiselnikTypDokladuDB" serializeAs="String">
                <value>TypDokladu.sdf</value>
            </setting>
            <setting name="CiselnikKatalogZboziDB" serializeAs="String">
                <value>Zbozi.sdf</value>
            </setting>
            <setting name="TimeOut_Ciselniky" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="CiselnikSkladyDB" serializeAs="String">
                <value>Sklady.sdf</value>
            </setting>
            <setting name="Predani_dodavateli_sluzeb_prani" serializeAs="String">
                <value>S01toS02</value>
            </setting>
            <setting name="Prevzeti_od_dodavatele" serializeAs="String">
                <value>S02toS01</value>
            </setting>
            <setting name="ZZS_ProdejService_ProdejService" serializeAs="String">
                <value>http://localhost/MST_Win_Kom_Server_6_alfa/Prodej.asmx</value>
            </setting>
            <setting name="ZZS_FileTransferService_FileTransfer" serializeAs="String">
                <value>http://localhost/MST_Win_Kom_Server_6_alfa/FileTransfer.asmx</value>
            </setting>
            <setting name="CiselnikPracovniciDB" serializeAs="String">
                <value>Pracovnici.sdf</value>
            </setting>
        </FASK.SledovaniVyroby.Module.ZZS.Properties.Settings>
        <ZZS.Properties.Settings>
            <setting name="ZZS_CiselnikService_CiselnikService" serializeAs="String">
                <value>http://localhost/MST_Win_Kom_Server_6_alfa/Ciselnik.asmx</value>
            </setting>
        </ZZS.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <FASK.SledovaniVyroby.Module.ZZS.Properties.Settings>
            <setting name="CiselnikOdberateleDB" serializeAs="String">
                <value>Odberatele.sdf</value>
            </setting>
        </FASK.SledovaniVyroby.Module.ZZS.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
