CREATE TABLE CZMSTPWD
(
  LOGIN Char(20) NOT NULL,
  PASSWD Char(20) NOT NULL,
  ID Integer NOT NULL,
  ADM Smallint,
  FIRSTNAME Char(15) NOT NULL,
  SECONDNAME Char(40) NOT NULL,
  PRIMARY KEY (ID),
  UNIQUE (LOGIN)
) ON [PRIMARY]
GO
