<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fask.Module.SBKomplet.Steinex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Fask.Module.SBKomplet.Steinex.Properties.Settings.SqlProviderConnection"
            connectionString="Data Source=FASKCZ-CV004\SQL_2008;Initial Catalog=Steinex;Persist Security Info=True;User ID=sa;Password=sasa" />
        <add name="Fask.Module.SBKomplet.Steinex.Properties.Settings.SteinexConnectionString"
            connectionString="Data Source=FASKCZ-CV004\SQL_2008;Initial Catalog=Steinex;Persist Security Info=True;User ID=sa;Password=sasa" />
        <add name="Fask.Module.SBKomplet.Steinex.Properties.Settings.SteinexConnectionString1"
            connectionString="Data Source=FASKCZ-CV004\SQL_2008;Initial Catalog=Steinex;Persist Security Info=True;User ID=sa;Password=sasa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <Fask.Module.SBKomplet.Steinex.Properties.Settings>
            <setting name="PrijemPrijemkaDetail2Hlavicka" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusObjectsDirectory" serializeAs="String">
                <value>Logs\SoDir\</value>
            </setting>
            <setting name="DexRowIdInsert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Prijem_AfterDataProcessed_Action_Asynchronous"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Prijem_AfterDataProcessed_Action" serializeAs="String">
                <value />
            </setting>
            <setting name="Prijem_AfterDataProcessed_Action_P1" serializeAs="String">
                <value />
            </setting>
            <setting name="Prijem_AfterDataProcessed_Action_P2" serializeAs="String">
                <value />
            </setting>
            <setting name="PrijemkaDetail" serializeAs="String">
                <value />
            </setting>
            <setting name="PrijemkaDetail_paramName" serializeAs="String">
                <value />
            </setting>
            <setting name="CommandType" serializeAs="String">
                <value>StoredProcedure</value>
            </setting>
            <setting name="Vydej_GenerateData_Action" serializeAs="String">
                <value />
            </setting>
            <setting name="Vydej_AfterDataProcessed_Action_Asynchronous"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Vydej_AfterDataProcessed_Action" serializeAs="String">
                <value />
            </setting>
            <setting name="Vydej_AfterDataProcessed_Action_P1" serializeAs="String">
                <value />
            </setting>
            <setting name="Vydej_AfterDataProcessed_Action_P2" serializeAs="String">
                <value />
            </setting>
            <setting name="VydejkaDetail" serializeAs="String">
                <value />
            </setting>
            <setting name="VydejkaDetail_paramName" serializeAs="String">
                <value />
            </setting>
            <setting name="VydejkaDetailDavka" serializeAs="String">
                <value />
            </setting>
            <setting name="VydejkaDetailDavka_paramName" serializeAs="String">
                <value />
            </setting>
            <setting name="VydejSeznamDavekRazeni" serializeAs="String">
                <value>A.COUNTENTRIES DESC</value>
            </setting>
            <setting name="VydejInfo1Allow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VydejVydejkaDetail2Hlavicka" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VydejInfo1Field" serializeAs="String">
                <value />
            </setting>
            <setting name="VydejPokracovatNaJinemTerminalu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Prodej_AfterDataProcessed_Action_Asynchronous"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Prodej_AfterDataProcessed_Action" serializeAs="String">
                <value />
            </setting>
            <setting name="Prodej_AfterDataProcessed_Action_P1" serializeAs="String">
                <value />
            </setting>
            <setting name="Prodej_AfterDataProcessed_Action_P2" serializeAs="String">
                <value />
            </setting>
            <setting name="Expedice_AfterDataProcessed_Action_Asynchronous"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Expedice_AfterDataProcessed_Action" serializeAs="String">
                <value />
            </setting>
            <setting name="Expedice_AfterDataProcessed_Action_P1" serializeAs="String">
                <value />
            </setting>
            <setting name="Expedice_AfterDataProcessed_Action_P2" serializeAs="String">
                <value />
            </setting>
            <setting name="HesloStornoExpedice" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="Expedice_SSCC_Generovat_Action" serializeAs="String">
                <value>CZMST_inc_sscc_proc</value>
            </setting>
            <setting name="SSCC_AI" serializeAs="String">
                <value>00</value>
            </setting>
            <setting name="SSCC_CompanyPrefix" serializeAs="String">
                <value>00000000</value>
            </setting>
            <setting name="SSCC_Number_Format" serializeAs="String">
                <value>00000</value>
            </setting>
            <setting name="Expedice_Baleni_AfterDataProcessed_Action_Asynchronous"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Expedice_Baleni_AfterDataProcessed_Action" serializeAs="String">
                <value />
            </setting>
            <setting name="Expedice_Baleni_AfterDataProcessed_Action_P1"
                serializeAs="String">
                <value />
            </setting>
            <setting name="Expedice_Baleni_AfterDataProcessed_Action_P2"
                serializeAs="String">
                <value />
            </setting>
            <setting name="Prodej_Palety_SKL_ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Expedice_AfterData_Generate_Prijemka" serializeAs="String">
                <value>True</value>
            </setting>
        </Fask.Module.SBKomplet.Steinex.Properties.Settings>
    </applicationSettings>
</configuration>