/****** Object:  Table [FASK_Events]    Script Date: 1. 4. 2019 14:21:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FASK_Events](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loginid] [nchar](20) NOT NULL,
	[machineid] [nchar](20) NOT NULL,
	[dateeve] [datetime] NOT NULL,
	[qty] [numeric](19, 5) NOT NULL,
	[qtyReal] [numeric](19, 5) NOT NULL,
	[description] [ntext] NULL,
	[barcodeReaded] [nchar](50) NOT NULL,
	[barcodeSended] [nchar](50) NOT NULL,
	[zakazka] [nchar](20) NULL,
	[popis] [nchar](10) NULL,
	[faskGUID] [uniqueidentifier] NOT NULL,
	[reportType] [nchar](1) NOT NULL,
	[isProcessed] [datetime] NULL,
	[IDO] [nchar](10) NULL,
	[scan1] [nvarchar](255) NULL,
	[scan2] [nvarchar](255) NULL,
	[scan3] [nvarchar](255) NULL,
	[sensor] [nvarchar](50) NULL,
	[material] [nvarchar](255) NULL,
        [productionGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_Events_faskGUID] UNIQUE NONCLUSTERED 
(
	[faskGUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [FASK_Logins]    Script Date: 1. 4. 2019 14:21:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FASK_Logins](
	[id] [nvarchar](20) NOT NULL,
	[firstname] [nvarchar](20) NOT NULL,
	[surname] [nchar](50) NOT NULL,
	[psswd] [nvarchar](10) NOT NULL,
	[rfid] [nvarchar](20) NULL,
	[barcode] [nvarchar] (20) NULL,
 CONSTRAINT [PK_FASK_Logins] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[FASK_Logins_Auth]    Script Date: 17.07.2019 12:30:23 ******/
SET ANSI_NULLS ON
GO

CREATE TABLE [dbo].[FASK_Logins_Auth](
	[ID] [varchar](10) NOT NULL,
	[ADM] [tinyint] NOT NULL CONSTRAINT [DF__FASK_Logins__ADM__6A70BD6B]  DEFAULT ('0'),
	[opr_select] [tinyint] NULL,
	[opr_insert] [tinyint] NULL,
	[opr_edit] [tinyint] NULL,
	[opr_delete] [tinyint] NULL,
	[DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL,
	[AGEN] [nvarchar](3) NULL,
	[TASK] [nvarchar](3) NULL,
	[ID_AUTH] [int] NULL,
	[AUTH] [tinyint] NULL
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[FASK_MachineType]    Script Date: 06/28/2012 10:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FASK_MachineType](
	[machinetype] [nvarchar](10) NOT NULL,
	[machinetypename] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FASK_MachineType] PRIMARY KEY CLUSTERED 
(
	[machinetype] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [FASK_Machines]    Script Date: 1. 4. 2019 14:21:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FASK_Machines](
	[id] [nvarchar](20) NOT NULL,
	[machinetype] [nvarchar](10) NOT NULL,
	[name] [nvarchar](10) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
	[koeficient] [decimal](19, 5) NOT NULL,
 CONSTRAINT [PK_FASK_Machines] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FASK_StatusTypes]    Script Date: 1. 4. 2019 14:21:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FASK_StatusTypes](
	[statusid] [nchar](10) NOT NULL,
	[statusdesc] [nvarchar](100) NULL,
 CONSTRAINT [PK_FASK_StatusTypes] PRIMARY KEY CLUSTERED 
(
	[statusid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FASK_UserEvents]    Script Date: 1. 4. 2019 14:21:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FASK_UserEvents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loginid] [nchar](20) NOT NULL,
	[machineid] [nchar](20) NOT NULL,
	[dateeve] [datetime] NOT NULL,
	[statusid] [nchar](10) NOT NULL,
	[faskGUID] [uniqueidentifier] NOT NULL,
	[rez_1] [nvarchar](50) NULL,
	[rez_2] [nvarchar](50) NULL,
 CONSTRAINT [PK_FASK_UserEvents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_FASK_UserEvents_faskGUID] UNIQUE NONCLUSTERED 
(
	[faskGUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
