/****** Object:  Table [dbo].[FASK_Events]    Script Date: 03/02/2010 10:36:53 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[FASK_Events](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loginid] [nchar](20) NOT NULL,
	[machineid] [nchar](20) NOT NULL,
	[dateeve] [datetime] NOT NULL,
	[qty] [numeric](19, 5) NOT NULL,
	[qtyReal] [numeric](19, 5) NOT NULL,
	[description] [ntext] NULL,
	[barcodeReaded] [nchar](50) NOT NULL,
	[barcodeSended] [nchar](50) NOT NULL,
	[zakazka] [nchar](20) NULL,
	[popis] [nchar](10) NULL,
	[faskGUID] [uniqueidentifier] NOT NULL,
	[reportType] [nchar](1) NOT NULL,
	[isProcessed] [datetime] NULL,
 CONSTRAINT [PK_FASK_Events] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_FASK_Events_faskGUID] UNIQUE NONCLUSTERED 
(
	[faskGUID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO


ALTER TABLE [dbo].[FASK_Events] ADD  CONSTRAINT [DF_Events_reportType]  DEFAULT (N'D') FOR [reportType]
GO


/****** Object:  Table [dbo].[FASK_EventsErr]    Script Date: 03/02/2010 10:37:41 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[FASK_EventsErr](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loginid] [nchar](20) NOT NULL,
	[machineid] [nchar](20) NOT NULL,
	[dateeve] [datetime] NOT NULL,
	[qty] [numeric](19, 5) NOT NULL,
	[qtyReal] [numeric](19, 5) NOT NULL,
	[description] [ntext] NULL,
	[barcodeReaded] [nchar](50) NOT NULL,
	[barcodeSended] [nchar](50) NOT NULL,
	[zakazka] [nchar](20) NULL,
	[popis] [nchar](10) NULL,
	[faskGUID] [uniqueidentifier] NOT NULL,
	[reportType] [nchar](1) NOT NULL,
	[isProcessed] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO


ALTER TABLE [dbo].[FASK_EventsErr] ADD  CONSTRAINT [DF_FASK_EventsErr_reportType]  DEFAULT (N'D') FOR [reportType]
GO


/****** Object:  Table [dbo].[FASK_Logins]    Script Date: 03/02/2010 10:38:01 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[FASK_Logins](
	[id] [nchar](20) NOT NULL,
	[firstname] [nvarchar](20) NOT NULL,
	[surname] [nchar](50) NOT NULL,
	[psswd] [nchar](10) NOT NULL,
 CONSTRAINT [PK_FASK_Logins] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO



/****** Object:  Table [dbo].[FASK_Machines]    Script Date: 03/02/2010 10:38:34 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[FASK_Machines](
	[id] [nchar](20) NOT NULL,
	[name] [nchar](10) NOT NULL,
	[description] [nchar](50) NOT NULL,
 CONSTRAINT [PK_FASK_Machines] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO



/****** Object:  Table [dbo].[FASK_StatusTypes]    Script Date: 03/02/2010 10:38:59 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[FASK_StatusTypes](
	[statusid] [nchar](10) NOT NULL,
	[statusdesc] [nvarchar](100) NULL,
 CONSTRAINT [PK_FASK_StatusTypes] PRIMARY KEY CLUSTERED 
(
	[statusid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO





/****** Object:  Table [dbo].[FASK_UserEvents]    Script Date: 03/02/2010 10:39:12 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[FASK_UserEvents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loginid] [nchar](20) NOT NULL,
	[machineid] [nchar](20) NOT NULL,
	[dateeve] [datetime] NOT NULL,
	[statusid] [nchar](10) NOT NULL,
	[faskGUID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_FASK_UserEvents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_FASK_UserEvents_faskGUID] UNIQUE NONCLUSTERED 
(
	[faskGUID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO


/****** Object:  Table [dbo].[FASK_UserEventsErr]    Script Date: 03/02/2010 10:39:23 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[FASK_UserEventsErr](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loginid] [nchar](20) NOT NULL,
	[machineid] [nchar](20) NOT NULL,
	[dateeve] [datetime] NOT NULL,
	[statusid] [nchar](10) NOT NULL,
	[faskGUID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]

GO




