/****** Meta informace verze databaze MST ******/
CREATE TABLE [dbo].[CZMST_METAINFO] (
	[DB_Version] nvarchar (20) NOT NULL,
	[MST_Version] nvarchar (20) NOT NULL,
	[IS_Provider] nvarchar (50) NOT NULL,
	[Updated] datetime default (getdate())
) ON [PRIMARY]
GO
/***** Vychozi metainformace ******/
INSERT INTO [dbo].[CZMST_METAINFO]([DB_Version],[MST_Version],[IS_Provider]) VALUES('6','6.13','');
GO

/****** Generator davek pro MST ******/
CREATE TABLE [dbo].[CZMST_CountEntries] (
	[ID] [int] identity (1,1) NOT NULL,
	[TBL] [nvarchar] (20) NOT NULL UNIQUE,
	[CountEntries] [int] NULL,
	[BLOCKED] bit NOT NULL Default(0)
) ON [PRIMARY]
GO

-- =============================================
-- Author:		Jiri Skrivanek
-- Create date: 18.4.2016
-- Description:	Generuje nasledujici cislo davky pro modul transakcne
-- =============================================
CREATE PROCEDURE [dbo].[CZMST_Next_CountEntries]
 @module nvarchar(20),
 @CountEntries int OUTPUT
AS
BEGIN
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE		
		DECLARE @ce int;
				
		select @ce = CountEntries
		from CZMST_CountEntries
		where TBL = @module

		IF @ce is NULL 
		BEGIN
			SET @CountEntries = 1
			INSERT INTO CZMST_CountEntries (TBL, CountEntries) VALUES (@module, @CountEntries)
		END
		ELSE
		BEGIN
			SET @CountEntries = @ce + 1
			UPDATE CZMST_CountEntries
			SET    CountEntries = @CountEntries
			WHERE  TBL = @module
		END
END
GO

/****** RFID ******/
CREATE TABLE [CZMST_RFID_ITEMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ITEMNMBR] [nvarchar](31) NOT NULL,
	[ITEMDESC] [nvarchar](51) NULL,
	[SEQUENCENMBR] [int] NOT NULL default(0)
) ON [PRIMARY]
GO

CREATE TABLE [CZMST_RFID_ITEMS_ASSIGNS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ITEMNMBR] [nvarchar](31) NOT NULL,
	[SEQUENCENMBR] [int] NOT NULL,
	[SKL_ID] [nvarchar](20) NULL,
	[CountEntries] [int] NULL,
	[DOCUMENTNMBR] [nvarchar](20) NULL,
	[ORD] [int] NULL,
	[SERLNMBR] [nvarchar](31) NULL,
	[guid] [uniqueidentifier] NOT NULL UNIQUE,
	[M_ID] [nvarchar](100) NULL,
	[M_TID] [nvarchar](100) NULL,
	[M_EPC] [nvarchar](100) NULL,
	[M_USER] [nvarchar](150) NULL,
	[M_RESERVED] [nvarchar](100) NULL,
	[O_M_ID] [nvarchar](100) NULL,
	[O_M_TID] [nvarchar](100) NULL,
	[O_M_EPC] [nvarchar](100) NULL,
	[O_M_USER] [nvarchar](150) NULL,
	[O_M_RESERVED] [nvarchar](100) NULL,
	[TerminalID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Created_T] [datetime] NOT NULL,
	[Created_S] [datetime] NOT NULL Default(getdate())
) ON [PRIMARY]
GO

/*
Procedura, ktera vraci poradova cisla sekvence ...
*/
CREATE PROCEDURE  [dbo].[proc_CZMST_RFID_Next]
 @itemnmbr nvarchar(31),
 @countnumbers int,
 @minsequencenmbr int OUTPUT,
 @maxsequencenmbr int OUTPUT
AS
BEGIN
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE		
		DECLARE @id int;
		DECLARE @sequencenmbr int;
				
		select @id = ID
		from CZMST_RFID_ITEMS
		where ITEMNMBR = @itemnmbr

		IF @id is NULL 
		BEGIN
			INSERT INTO CZMST_RFID_ITEMS (ITEMNMBR) VALUES (@itemnmbr)
		END

		select @id = ID, @sequencenmbr = SEQUENCENMBR
		from CZMST_RFID_ITEMS
		where ITEMNMBR = @itemnmbr
		
		SET @minsequencenmbr = @sequencenmbr + 1;
		SET @maxsequencenmbr = @sequencenmbr + @countnumbers;
		
		UPDATE CZMST_RFID_ITEMS
		SET    SEQUENCENMBR = @maxsequencenmbr
		WHERE  ID = @id

		-- vraci pocet vracenych cisel, melo by byt stejne jako je @countnumbers
		RETURN (@maxsequencenmbr - @minsequencenmbr + 1);
END
GO

/***** RFID konec *****/

/****** Expedice modul *****/
/****** Predloha baleni davky ******/
CREATE TABLE [CZMST_Expedice_Baleni_Hlavicka] (
	[ID] [uniqueidentifier] NOT NULL,		-- ID hlavicky
	[Rozpracovano] [tinyint] NOT NULL Default(0),		-- 0=nerozpracovano, 1=rozpracovano,2=dokonceno, 3=stornovano
	[UserID] [int] NULL,			-- ID uzivatele, kteremu je predloha urcena (pokud je null, muze davku stahnout kdokoliv) ... nyni se uklada pouze to, kdo davku vygeneroval z terminalu
	[TermID] [int] NOT null,		-- ID terminalu
	[Barcode] [nvarchar](50) NULL,		--carovy kod davky, kdyby se nahodou potreboval??
	[DateCreated] [datetime] DEFAULT (getdate()) NOT NULL,	-- datum a cas vytvoreni davky
	[DateFinished] [datetime] NULL,	-- datum a cas dokonceni/uzavreni davky
	[SKL_ID] [char] (20) NULL ,			-- zdrojovy sklad (prevzany z konfigurace modulu)
	[DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL	-- autoincrement
) ON [PRIMARY]
GO

/****** Historicke zaznamy hlavicek baleni pro modul Expedice ******/
CREATE TABLE [CZMST_Expedice_Baleni_Hlavicka_HISTORY] (
	[ID] [uniqueidentifier] NOT NULL,		-- ID hlavicky
	[Rozpracovano] [tinyint] NOT NULL Default(0),		-- 0=nerozpracovano, 1=rozpracovano,2=dokonceno, 3=stornovano
	[UserID] [int] NULL,			-- ID uzivatele, kteremu je predloha urcena (pokud je null, muze davku stahnout kdokoliv) ... nyni se uklada pouze to, kdo davku vygeneroval z terminalu
	[TermID] [int] NOT null,		-- ID terminalu
	[Barcode] [nvarchar](50) NULL,		--carovy kod davky, kdyby se nahodou potreboval??
	[DateCreated] [datetime] NOT NULL,	-- datum a cas vytvoreni davky
	[DateFinished] [datetime] NULL,	-- datum a cas dokonceni/uzavreni davky
	[SKL_ID] [char] (20) NULL ,			-- zdrojovy sklad (prevzany z konfigurace modulu)
	[DEX_ROW_ID] [int] NOT NULL	-- autoincrement
) ON [PRIMARY]
GO

/***** Trigger pro ukladani historie hlavicek expedice pri mazani dat *****/
CREATE TRIGGER [dbo].[fask_trg_CZMST_Expedice_Baleni_Hlavicka_HISTORY] 
   ON  [dbo].[CZMST_Expedice_Baleni_Hlavicka] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for trigger here
	insert into CZMST_Expedice_Baleni_Hlavicka_HISTORY select * from deleted
END
GO

CREATE TABLE [CZMST_Expedice_Baleni_Polozky] (
	[ID] [uniqueidentifier] NOT NULL,		-- ID polozky
	[IDH] [uniqueidentifier] NOT NULL,		-- ID hlavicky (vazba na hlavicku)
	[ITEMNMBR] [char] (31) NOT NULL ,		-- ID polozky
	[ITEMDESC] [char] (51) NULL ,		-- nazev polozky z czmst095
	[VNDITNUM] [char] (31) NULL ,		-- carovy kod z czmst095
	[CZ_CarKod] [char] (31) NULL ,		-- carovy kod z czmst095
	[LOCNCODE] [char] (11) NULL ,		-- cilova lokace (!! pro steinex nepouzivat, bude se pouze vydavat ... !!)
	[SKL_ID] [char] (20) NULL ,		-- cilovy sklad (!! pro steinex nepouzivat, bude se pouze vydavat ... !!)
	[QTY] [numeric](19, 5) NOT NULL ,	-- mnozstvi v zakladni MJ (
	[QTYPACK] [numeric](19, 5) NULL ,	-- mnozstvi baleni
	[QTYMJ] [numeric](19, 5) NOT NULL , 	-- skutecne zadana hodnota mnozstvi uzivatelem
	[MJ] [varchar] (3) NOT NULL ,		-- Merna jednotka
	[SERLTNUM] [char] (21) NOT NULL ,	-- sarze
	[WEIGHT] [numeric](19, 5) NULL,		-- hmotnost
	[NMBRPAL] [nvarchar] (50) NULL ,	-- ID palety, na ktere je polozka umistena
	[TYPEPAL] [nvarchar] (10) NULL ,	-- typ palety
	[PRINTED] tinyint NULL Default(0),	-- priznak tisku
	[DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL	-- autoincrement
) ON [PRIMARY]
GO

CREATE TABLE [CZMST_Expedice_Baleni_Polozky_HISTORY] (
	[ID] [uniqueidentifier] NOT NULL,		-- ID polozky
	[IDH] [uniqueidentifier] NOT NULL,		-- ID hlavicky (vazba na hlavicku)
	[ITEMNMBR] [char] (31) NOT NULL ,		-- ID polozky
	[ITEMDESC] [char] (51) NULL ,		-- nazev polozky z czmst095
	[VNDITNUM] [char] (31) NULL ,		-- carovy kod z czmst095
	[CZ_CarKod] [char] (31) NULL ,		-- carovy kod z czmst095
	[LOCNCODE] [char] (11) NULL ,		-- cilova lokace (!! pro steinex nepouzivat, bude se pouze vydavat ... !!)
	[SKL_ID] [char] (20) NULL ,			-- cilovy sklad (!! pro steinex nepouzivat, bude se pouze vydavat ... !!)
	[QTY] [numeric](19, 5) NOT NULL ,	-- mnozstvi v zakladni MJ (
	[QTYPACK] [numeric](19, 5) NULL ,	-- mnozstvi baleni
	[QTYMJ] [numeric](19, 5) NOT NULL , -- skutecne zadana hodnota mnozstvi uzivatelem
	[MJ] [varchar] (3) NOT NULL ,		-- Merna jednotka
	[SERLTNUM] [char] (21) NOT NULL ,	-- sarze
	[WEIGHT] [numeric](19, 5) NULL,		-- hmotnost
	[NMBRPAL] [nvarchar] (50) NULL ,	-- ID palety, na ktere je polozka umistena
	[TYPEPAL] [nvarchar] (10) NULL ,	-- typ palety
	[PRINTED] tinyint NULL Default(0),	-- priznak tisku
	[DEX_ROW_ID] [int] NOT NULL	-- autoincrement
) ON [PRIMARY]
GO

/***** Trigger pro ukladani historie polozek expedice pri mazani dat *****/
CREATE TRIGGER [dbo].[fask_trg_CZMST_Expedice_Baleni_Polozky_HISTORY] 
   ON  [dbo].[CZMST_Expedice_Baleni_Polozky] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for trigger here
	insert into CZMST_Expedice_Baleni_Polozky_HISTORY select * from deleted
END
GO

/****** Predloha baleni davky ******/
CREATE TABLE [CZMST_Expedice_Hlavicka] (
	[ID] [uniqueidentifier] NOT NULL,		-- ID hlavicky
	[PrepravceID] [nvarchar](20) NULL,		-- ID prepravce
	[PrepravceSPZ] [nvarchar](20) NULL,		-- SPZ prepravce
	[Rozpracovano] [tinyint] NOT NULL Default(0),		-- 0=nerozpracovano, 1=rozpracovano,2=dokonceno, 3=stornovano
	[UserID] [int] NULL,			-- ID uzivatele, kteremu je predloha urcena (pokud je null, muze davku stahnout kdokoliv) ... nyni se uklada pouze to, kdo davku vygeneroval z terminalu
	[TermID] [int] NOT null,		-- ID terminalu
	[Barcode] [nvarchar](50) NULL,		--carovy kod davky, kdyby se nahodou potreboval??
	[DateCreated] [datetime] DEFAULT (getdate()) NOT NULL,	-- datum a cas vytvoreni davky
	[DateFinished] [datetime] NULL,	-- datum a cas dokonceni/uzavreni davky
	[SKL_ID] [char] (20) NULL ,			-- zdrojovy sklad (prevzany z konfigurace modulu)
	[DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL	-- autoincrement
) ON [PRIMARY]
GO

/****** Historicke zaznamy hlavicek baleni pro modul Expedice ******/
CREATE TABLE [CZMST_Expedice_Hlavicka_HISTORY] (
	[ID] [uniqueidentifier] NOT NULL,		-- ID hlavicky
	[PrepravceID] [nvarchar](20) NULL,		-- ID prepravce
	[PrepravceSPZ] [nvarchar](20) NULL,		-- SPZ prepravce
	[Rozpracovano] [tinyint] NOT NULL Default(0),		-- 0=nerozpracovano, 1=rozpracovano,2=dokonceno, 3=stornovano
	[UserID] [int] NULL,			-- ID uzivatele, kteremu je predloha urcena (pokud je null, muze davku stahnout kdokoliv) ... nyni se uklada pouze to, kdo davku vygeneroval z terminalu
	[TermID] [int] NOT null,		-- ID terminalu
	[Barcode] [nvarchar](50) NULL,		--carovy kod davky, kdyby se nahodou potreboval??
	[DateCreated] [datetime] NOT NULL,	-- datum a cas vytvoreni davky
	[DateFinished] [datetime] NULL,	-- datum a cas dokonceni/uzavreni davky
	[SKL_ID] [char] (20) NULL ,			-- zdrojovy sklad (prevzany z konfigurace modulu)
	[DEX_ROW_ID] [int] NOT NULL	-- autoincrement
) ON [PRIMARY]
GO

/***** Trigger pro ukladani historie hlavicek expedice pri mazani dat *****/
CREATE TRIGGER [dbo].[fask_trg_CZMST_Expedice_Hlavicka_HISTORY] 
   ON  [dbo].[CZMST_Expedice_Hlavicka] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for trigger here
	insert into CZMST_Expedice_Hlavicka_HISTORY select * from deleted
END
GO

CREATE TABLE [CZMST_Expedice_Polozky] (
	[ID] [uniqueidentifier] NOT NULL,		-- ID polozky
	[IDH] [uniqueidentifier] NOT NULL,		-- ID hlavicky (vazba na hlavicku)
	[IDHB] [uniqueidentifier] NULL,		-- ID hlavicky baleni (pokud existuje)
	[ITEMNMBR] [char] (31) NOT NULL ,		-- ID polozky
	[ITEMDESC] [char] (51) NULL ,		-- nazev polozky z czmst095
	[VNDITNUM] [char] (31) NULL ,		-- carovy kod z czmst095
	[CZ_CarKod] [char] (31) NULL ,		-- carovy kod z czmst095
	[LOCNCODE] [char] (11) NULL ,		-- cilova lokace (!! pro steinex nepouzivat, bude se pouze vydavat ... !!)
	[SKL_ID] [char] (20) NULL ,		-- cilovy sklad (!! pro steinex nepouzivat, bude se pouze vydavat ... !!)
	[QTY] [numeric](19, 5) NOT NULL ,	-- mnozstvi v zakladni MJ (
	[QTYPACK] [numeric](19, 5) NULL ,	-- mnozstvi baleni
	[QTYMJ] [numeric](19, 5) NOT NULL , 	-- skutecne zadana hodnota mnozstvi uzivatelem
	[MJ] [varchar] (3) NOT NULL ,		-- Merna jednotka
	[SERLTNUM] [char] (21) NOT NULL ,	-- sarze
	[WEIGHT] [numeric](19, 5) NULL,		-- hmotnost
	[NMBRPAL] [nvarchar] (50) NULL ,	-- ID palety, na ktere je polozka umistena
	[TYPEPAL] [nvarchar] (10) NULL ,	-- typ palety
	[PRINTED] tinyint NULL Default(0),	-- priznak tisku
	[DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL	-- autoincrement
) ON [PRIMARY]
GO

CREATE TABLE [CZMST_Expedice_Polozky_HISTORY] (
	[ID] [uniqueidentifier] NOT NULL,		-- ID polozky
	[IDH] [uniqueidentifier] NOT NULL,		-- ID hlavicky (vazba na hlavicku)
	[IDHB] [uniqueidentifier] NULL,			-- ID hlavicky baleni (pokud existuje)
	[ITEMNMBR] [char] (31) NOT NULL ,		-- ID polozky
	[ITEMDESC] [char] (51) NULL ,		-- nazev polozky z czmst095
	[VNDITNUM] [char] (31) NULL ,		-- carovy kod z czmst095
	[CZ_CarKod] [char] (31) NULL ,		-- carovy kod z czmst095
	[LOCNCODE] [char] (11) NULL ,		-- cilova lokace (!! pro steinex nepouzivat, bude se pouze vydavat ... !!)
	[SKL_ID] [char] (20) NULL ,			-- cilovy sklad (!! pro steinex nepouzivat, bude se pouze vydavat ... !!)
	[QTY] [numeric](19, 5) NOT NULL ,	-- mnozstvi v zakladni MJ (
	[QTYPACK] [numeric](19, 5) NULL ,	-- mnozstvi baleni
	[QTYMJ] [numeric](19, 5) NOT NULL , -- skutecne zadana hodnota mnozstvi uzivatelem
	[MJ] [varchar] (3) NOT NULL ,		-- Merna jednotka
	[SERLTNUM] [char] (21) NOT NULL ,	-- sarze
	[WEIGHT] [numeric](19, 5) NULL,		-- hmotnost
	[NMBRPAL] [nvarchar] (50) NULL ,	-- ID palety, na ktere je polozka umistena
	[TYPEPAL] [nvarchar] (10) NULL ,	-- typ palety
	[PRINTED] tinyint NULL Default(0),	-- priznak tisku
	[DEX_ROW_ID] [int] NOT NULL	-- autoincrement
) ON [PRIMARY]
GO

/***** Trigger pro ukladani historie polozek expedice pri mazani dat *****/
CREATE TRIGGER [dbo].[fask_trg_CZMST_Expedice_Polozky_HISTORY] 
   ON  [dbo].[CZMST_Expedice_Polozky] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for trigger here
	insert into CZMST_Expedice_Polozky_HISTORY select * from deleted
END
GO

/****** Servis modul *****/
/****** definice cinnosti ******/
CREATE TABLE [dbo].[CZMST_Servis_Cinnost](
	[ID] [nvarchar](20) NOT NULL,		--ID cinnosti
	[Oznaceni] [nvarchar](50) NOT NULL,	--Oznaceni cinnosti
	[Barcode] [nvarchar](50) NULL,		--carovy kod cinnosti
	[TYPE] [nvarchar](2) NOT NULL,		--Typ cinnosti (A=text, N=cislo, P=fotka, D=databaze, V=volba)
	[TYPEVALUE] [nvarchar](20) NULL,		--hodnota pro typ cinnosti([A,N]=<vychozi hodnota>,[P,V]=<nazev dialogu pro popis okna>,[D]=<nazev tabulky pro vyhledavani hodnot z tabulky CZMST_Servis_Dynamic_Table_Definition>
	[Mandatory] [tinyint] NOT NULL Default(1),   -- je treba povinne zadat cislo (N)/text (A) <1 - povinne, 0 - nepovinne>
	[RequiredLength] [int] NULL			-- presna delka cisla (N)/textu (A), ktera se musi zadat
) ON [PRIMARY]
GO

/****** Predloha davky ******/
CREATE TABLE [CZMST_Servis_Predloha] (
	[CountEntries] [int] NOT NULL,		-- číslo dávky
	[DOCUMENT_NUMBER] [varchar] (17) NULL,		-- obdoba SOPNUMBE(PONUMBE) a PONUMBER ... momentalne ulozeni ID Odberatele ... !! upravit, idealne nejak jednoznacne urcit davku, pokud to bude mozne (coz v FAD neni bez cisla davky) !!
	[Rozpracovano] [tinyint] NOT NULL Default(0),		-- 0=nerozpracovano, 1-99=rozpracovano,100+=dokonceno
	[ODB_ID] [varchar](12) NULL,		-- id odběratele
	[OkruhID] [nvarchar](20) NOT NULL,			-- ID okruhu z tabulky [CZMST_Servis_Okruh]
	[UserID] [int] NULL,			-- ID uzivatele, kteremu je predloha urcena (pokud je null, muze davku stahnout kdokoliv) ... nyni se uklada pouze to, kdo davku vygeneroval z terminalu
	[Barcode] [nvarchar](50) NULL,		--carovy kod davky
	[DateCreated] [datetime] DEFAULT (getdate()) NOT NULL	-- datum a cas vytvoreni davky
) ON [PRIMARY]
GO

/****** Seznam zdroju v danem okruhu. ******/
CREATE TABLE [CZMST_Servis_ZdrojSeznam] (
	[ID] [nvarchar](20) NOT NULL,		-- ID seznamu okruhu
	[ZdrojID] [nvarchar](20) NOT NULL,		-- ID zdroje
	[Poradi] [int] NULL,		-- poradi zdroje
	[IDStav] [nvarchar](20) NULL,	-- !! nyni se nepouziva ... !! ID vychazejiciho stavu ... podle Zdroj.Type odlisit o co se jedna (deratizace, dezinsekce)
	[IDCinnost] [nvarchar](20) NULL,	--ID vychazejici cinnosti
	-- ?? GPS souradnice ... spis az u zdroje
 CONSTRAINT [PK_CZMST_Servis_ZdrojSeznam] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ZdrojID] ASC
)
) ON [PRIMARY]
GO

/****** Seznam okruhu ******/
CREATE TABLE [CZMST_Servis_Okruh] (
	[ID] [nvarchar](20) NOT NULL,		-- ID okruhu
	[Oznaceni] [nvarchar](50) NOT NULL,	-- Oznaceni okruhu
	[ODB_ID] [varchar](12) NULL,		-- id odběratele ... neni v Predloze, protoze je vazany primo na okruh (uzivatel zada odberatele a nasledne se mu zobrazi seznam okruhu podle vybraneho odberatele)
	[Barcode] [nvarchar](50) NULL,		--carovy kod okruhu
	[ZdrojSeznamID] [nvarchar](20) NOT NULL,	-- ID seznamu zdroju
 CONSTRAINT [PK_CZMST_Servis_Okruh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
) ON [PRIMARY]
GO

/****** Navazne cinnosti ******/
CREATE TABLE [dbo].[CZMST_Servis_CinnostNext](
	[ID] [nvarchar](20) NOT NULL,		--ID cinnosti
	[IDNext] [nvarchar](20) NULL,		--ID navazne cinnosti (1:N)
	[IDValue] [nvarchar](20) NULL		--moznost zmeny cinnosti podle predchoziho vysledku cinnosti
) ON [PRIMARY]
GO


/****** definice stavu zdroju ******/
CREATE TABLE [dbo].[CZMST_Servis_Stav](
	[ID] [nvarchar](20) NOT NULL,		--ID stavu
	[Oznaceni] [nvarchar](50) NOT NULL,	--Oznaceni stavu
	[IDCinnost] [nvarchar](20) NULL,	--ID vychozi cinnosti, NULL=neni zadna cinnost=>zmena stavu
	[Barcode] [nvarchar](50) NULL,		--carovy kod stavu
 CONSTRAINT [PK_CZMST_Servis_Stav] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
) ON [PRIMARY]
GO

/****** Navazne stavy ******/
CREATE TABLE [dbo].[CZMST_Servis_StavNext](
	[ID] [nvarchar](20) NOT NULL,		--ID stavu
	[IDNext] [nvarchar](20) NOT NULL,	--ID navazneho stavu
 CONSTRAINT [PK_CZMST_Servis_StavNext_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDNext] ASC
)
) ON [PRIMARY]
GO

/****** definice vsech zdroju ******/
CREATE TABLE [dbo].[CZMST_Servis_Zdroj](
	[ID] [nvarchar](20) NOT NULL,		--ID zdroje
	[Oznaceni] [nvarchar](50) NOT NULL,	--Oznaceni zdroje
        [Misto] [nvarchar](20) NULL,		--Oznaceni mista zdroje: doplnujici parametr
	[Barcode] [nvarchar](50) NULL,		--Carovy kod zdroje
	[Type] [nvarchar](50) NULL
 CONSTRAINT [PK_CZMST_Servis_Zdroj] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
) ON [PRIMARY]
GO

/****** Vsechny pohyby zdroju a zmeny jejich stavu a cinnosti ******/
CREATE TABLE [dbo].[CZMST_Servis_ZdrojPohyb](
	[IDZdroj] [nvarchar](20) NOT NULL,	--ID zdroje
	[IDStav] [nvarchar](20) NOT NULL,	--ID stavu
	[IDCinnost] [nvarchar](20) NULL,	--ID cinnosti
	[Modified] [datetime] NOT NULL,		--Datum a cas posledni modifikace(vznik zaznamu)
	[IDTerminal] [int] NOT NULL,		--ID terminalu, ktery data poridil
	[IDUser] [int] NOT NULL,			--ID uzivatele, ktery data poridil
	[GUID] [uniqueidentifier] NOT NULL,	--GUID zaznamu(generuje terminal)
	[CinnostValue] [nvarchar](50) NULL,	--Hodnota zadana pri editaci cinnosti
	[CinnostType] [nvarchar](2) NULL,	--Typ hodnoty zadane cinnosti
	[CinnostOznaceni] [nvarchar](50) NULL,	--Hodnota zadana pri vyberu z dynamicke tabulky
	[CountEntries] [int] NULL,		-- číslo dávky (null, kvuli nedavkovemu zpracovani ... esa)
	[ODB_ID] [varchar](12) NULL,		-- id odběratele
	[OkruhID] [nvarchar](20) NULL,			-- ID okruhu z tabulky [CZMST_Servis_Okruh] (null, kvuli nedavkovemu zpracovani ... esa)
	[GPS_X] [float] NULL,				-- GPS souradnice X	
	[GPS_Y] [float] NULL,				-- GPS souradnice Y
	[GPS_Z] [int] NULL,					-- GPS souradnice Z (vyska)
	[dateeveS] [datetime] NULL Default(GETDATE()),	-- datum, kdy se data dostala na server
	[dateExported] [datetime] NULL		-- datum, kdy bylo exportovano z konzoly (NULL=>neexportovano, not null => datum exportu
) ON [PRIMARY]
GO

/****** Aktualni stav zdroju ******/
CREATE TABLE [dbo].[CZMST_Servis_ZdrojStav](
	[IDZdroj] [nvarchar](20) NOT NULL,	--ID zdroje
	[IDStav] [nvarchar](20) NOT NULL,	--ID stavu
	[IDCinnost] [nvarchar](20) NULL,	--ID cinnosti
	[Modified] [datetime] NOT NULL,		--Datum a cas posledni modifikace(vznik zaznamu)
	[IDTerminal] [int] NULL,			--ID terminalu, ktery data poridil
	[IDUser] [int] NULL,				--ID uzivatele, ktery data poridil
	[GUID] [uniqueidentifier] NULL,		--GUID zaznamu(generuje terminal)
	[CinnostValue] [nvarchar](50) NULL,	--Hodnota zadana pri editaci cinnosti
	[CinnostType] [nvarchar](2) NULL,	--Typ hodnoty zadane cinnosti
	[CinnostOznaceni] [nvarchar](50) NULL,	--Hodnota zadana pri vyberu z dynamicke tabulky
	[CountEntries] [int] NULL,		-- číslo dávky 
	[ODB_ID] [varchar](12) NULL,		-- id odběratele
	[OkruhID] [nvarchar](20) NULL,			-- ID okruhu z tabulky [CZMST_Servis_Okruh]
	[GPS_X] [float] NULL,				-- GPS souradnice X	
	[GPS_Y] [float] NULL,				-- GPS souradnice Y
	[GPS_Z] [int] NULL					-- GPS souradnice Z (vyska)
) ON [PRIMARY]
GO

/****** seznam dynamickych tabulek ******/
CREATE TABLE [dbo].[CZMST_Servis_Dynamic_Table_Definition](
	[FullName] [nvarchar](50) NOT NULL,		--nazev tabulky, ze ktere se berou data
	[TypeName] [nvarchar](20) NOT NULL,		--zkratka tabulky (napojeno pres [CZMST_Servis_Cinnost].Typevalue)
 CONSTRAINT [PK_CZMST_Servis_Dynamic_Table_Definition] PRIMARY KEY CLUSTERED 
(
	[FullName] ASC,
	[TypeName] ASC
)
) ON [PRIMARY]
GO

/****** Object:  Index [IX_FASK_CZMST_Servis_ZdrojPohyb_Guid]    Script Date: 02/15/2016 15:15:06 ******/
CREATE NONCLUSTERED INDEX [IX_FASK_CZMST_Servis_ZdrojPohyb_Guid] ON [dbo].[CZMST_Servis_ZdrojPohyb] 
(
	[GUID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

/****** struktura dynamickych tabulek ******/
CREATE TABLE [dbo].[CZMST_Servis_Dyn_Table](
	[ID] [nvarchar](20) NOT NULL,			--ID zaznamu
	[Oznaceni] [nvarchar](50) NOT NULL,		--oznaceni (nazev) zaznamu
	[Barcode] [nvarchar](50) NULL,			--carovy kod zaznamu
 CONSTRAINT [PK_CZMST_Servis_Dyn_Table] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
) ON [PRIMARY]
GO

/****** UKOLOVANI ********/
/****** Definice ukolu ******/
CREATE TABLE [dbo].[CZ_UKOL](
	[ID] [int] IDENTITY(1,1) NOT NULL,	--Identifikátor úkolu
	[Name] [nvarchar](50) NOT NULL,		--Stručný název úkolu pro přehled
	[Description] [ntext] DEFAULT (N'Nezadáno') NOT NULL,		--Znění úkolu
	[Code] [nvarchar](50) NULL,			--Kód úkolu
	[CreatorID] [int] NOT NULL,			--ID uživatele, který úkol vytvořil
	[DateCreated] [datetime] DEFAULT (getdate()) NOT NULL,	--Datum a čas vytvoření úkolu
	[DateFrom] [datetime] NULL,			--Datum od kdy úkol nabývá platnosti
	[DateTo] [datetime] NULL,			--Datum kdy úkol pozbývá platnosti
	[State] [nvarchar](1) DEFAULT (N'N') NOT NULL,		--Stav úkolu
	[Kind] [nvarchar](1) NULL,			--Druh informace
	[Type] [nvarchar](1) NULL,			--Typ informace
	[Priority] [int] DEFAULT ((3)) NOT NULL,			--Priorita (0-nejvyšší)
	[PartnerID] [nvarchar](20) NULL,	--Identifikátor partnera, na něhož je úkol vázán. Lze dotáhnout touto vazbou informace o partnerovi...
 CONSTRAINT [PK_CZ_UKOL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
) ON [PRIMARY]
GO

/****** definice stavu Ukolu ******/
CREATE TABLE [dbo].[CZ_UKOL_STATE](
	[State] [nvarchar](1) NOT NULL,			--ID stavu ukolu
	[Description] [nvarchar](50) NOT NULL,	--Popis stavu ukolu
	[IsStart] [bit] NOT NULL,				--Je pocatecni stav pro ukol
	[IsEnd] [bit] NOT NULL,					--Je koncovy stav pro ukol
	[Color] [nchar](7) NULL,				-- je barva, kterou bude dany stav zvyraznen
 CONSTRAINT [PK_CZ_UKOL_STATE] PRIMARY KEY CLUSTERED 
(
	[State] ASC
)
) ON [PRIMARY]
GO
INSERT [dbo].[CZ_UKOL_STATE] ([State], [Description], [IsStart], [IsEnd]) VALUES (N'Č', N'Čeká se ...', 0, 0)
INSERT [dbo].[CZ_UKOL_STATE] ([State], [Description], [IsStart], [IsEnd]) VALUES (N'K', N'Dokončeno', 0, 1)
INSERT [dbo].[CZ_UKOL_STATE] ([State], [Description], [IsStart], [IsEnd]) VALUES (N'N', N'Nový', 1, 0)
GO

/****** Ukol uzivatele ******/
CREATE TABLE [dbo].[CZ_UKOL_UZIV](
	[ID] [int] IDENTITY(1,1) NOT NULL,	--Identifikátor
	[UkolID] [int] NOT NULL,			--Identifikátor úkolu
	[UserID] [int] NOT NULL,			--ID uživatele, kterému je úkol určen (CZMSTPWD.UserID)
	[State] [nvarchar](1) DEFAULT (N'N') NOT NULL,		--Stav úkolu uživatele (Vytvořeno, Přijato, Splněno, Zrušeno ...)
	[DateChanged] [datetime] NULL,		--Datum změny
	[UserIDChanged] [int] NULL,			--ID uživatele, který změnil stav úkolu
	[Note] [nvarchar](200) NULL,		--Poznámka uživatele
	[DateNotify] [datetime] NULL,		--Datum a čas upozornění nastavené uživatelem
	[DateFinished] [datetime] NULL,		--Datum a čas splnění úkolu
 CONSTRAINT [PK_CZ_UKOL_UZIV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[CZ_UKOL_UZIV_HIST](
	[ID_HIST] [int] IDENTITY(1,1) NOT NULL, --automaticke cislovani historie
	[ID] [int] NOT NULL,					--Identifikátor
	[UkolID] [int] NOT NULL,				--Identifikátor úkolu
	[UserID] [int] NOT NULL,				--ID uživatele, kterému je úkol určen
	[State] [nvarchar](1) NOT NULL,			--Stav úkolu uživatele (Vytvořeno, Přijato, Splněno, Zrušeno ...)
	[DateChanged] [datetime] NULL,			--Datum změny
	[UserIDChanged] [int] NULL,				--ID uživatele, který změnil stav úkolu
	[Note] [nvarchar](200) NULL,			--Poznámka uživatele
	[DateNotify] [datetime] NULL,			--Datum a čas upozornění nastavené uživatelem
	[DateFinished] [datetime] NULL,			--Datum a čas splnění úkolu
 CONSTRAINT [PK_CZ_UKOL_UZIV_HIST] PRIMARY KEY CLUSTERED 
(
	[ID_HIST] ASC
)
) ON [PRIMARY]
GO

/***** Trigger pro ukladani historie pri zmene stavu ukolu uzivatele *****/
-- =============================================
-- Author:		Jiri Skrivanek
-- Create date: 
-- Description:	historie a aktualizace
-- =============================================
CREATE TRIGGER fask_ukol_uziv_history 
   ON  CZ_UKOL_UZIV 
   AFTER INSERT,UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	declare 
           @ID int
           ,@UkolID int
           ,@UserID int
           ,@State nvarchar(1)
           ,@DateChanged datetime
           ,@UserIDChanged int
           ,@Note nvarchar(200)
           ,@DateNotify datetime
           ,@DateFinished datetime

INSERT INTO [CZ_UKOL_UZIV_HIST]
           ([ID]
           ,[UkolID]
           ,[UserID]
           ,[State]
           ,[DateChanged]
           ,[UserIDChanged]
           ,[Note]
           ,[DateNotify]
           ,[DateFinished])
           ( select 
				ID 
				,UkolID
				,UserID
				,[State]
				,DateChanged
				,UserIDChanged
				,Note
				,DateNotify
				,DateFinished
				from inserted
           )
END
GO


/****** Udalosti Obsluhy ******/
/****** Tabulka pro vystupni data udalosti obsluhy ******/
CREATE TABLE [dbo].[CZMST_EventsUser](
	[id] [int] IDENTITY(1,1) NOT NULL,  			 -- id zaznamu v db
	[eguid] [uniqueidentifier] NOT NULL PRIMARY KEY, -- guid zaznamu z terminalu
	[eid] [nvarchar](10) NOT NULL,			-- id udalosti
	[etype] [nvarchar](10) NOT NULL,		-- typ udalosti
	[etime] [datetime] NOT NULL,			-- datum a čas vzniku události
	[termid] [int] NOT NULL,				-- id terminalu na kterem udalost nastala
	[userid] [int] NOT NULL,				-- id uzivatele prihlaseneho, ktery udalost vyvolal
	[loginid] [nvarchar](10) NULL, 			-- id smeny (uzivatel, ktery prihlasil smenu)
	[machineid] [nvarchar](16) NULL, 		-- cislo stroje na kterem udalost vznikla
	[modul] [nvarchar](5) NULL,				-- modul ve kterem udalost vznikla
	[countentries] [int] NULL,				-- davka ve ktere udalost vznikla
	[docnmbr] [nvarchar](30) NULL,			-- dokument ve kterem udalost vznikla
	[itemnmbr] [nvarchar](31) NULL,			-- polozka na ktere udalost vznikla
	[REZ1] [nvarchar] (20) NULL, 			-- Dopňující údaj události obsluhy (např. č.výrobního příkazu)
	[REZ2] [nvarchar] (20) NULL 			-- Dopňující údaj události obsluhy (např. č.výrobního příkazu)
) ON [PRIMARY]
GO

/****** Tabulka s definici udalosti, ktera se synchronizuje na terminaly ******/
CREATE TABLE [dbo].[CZMST_EventsTypes](
	[eid] [nvarchar](10) NOT NULL, 		-- ID
	[etype] [nvarchar](10) NOT NULL, 	-- Typ udalosti
	[edesc] [nvarchar](100) NULL, 		-- popis
	[ebarcode] [nvarchar] (21) NULL 	-- carovy kod udalosti
) ON [PRIMARY]
GO

/**** Číselník uživatelů-obsluhy *****/
CREATE TABLE CZMSTPWD
(
  LOGIN Char(20) NOT NULL,
  PASSWD Char(20) NOT NULL,
  ID Integer NOT NULL,
  ADM Smallint,
  FIRSTNAME Char(15) NOT NULL,
  SECONDNAME Char(40) NOT NULL,
  HASH nvarchar(128) NULL,
  EAN char(31) NULL,
  CODE nvarchar(5) NOT NULL Default(''),
  PRIMARY KEY (ID),
  UNIQUE (LOGIN)
) ON [PRIMARY]
GO

/**** Číselník označení typů palet *****/
CREATE TABLE [dbo].[CZMST_Palety](
	[ID] [nchar](4) NOT NULL PRIMARY KEY,
	[Name] [nchar](30) NOT NULL,
) ON [PRIMARY]
GO

/* Definice terminalu a vazby na tiskarnu */
-- ID_TERMINAL == -1 : ID terminalu, kam se tisknou ulohy, ktere nebyly vytisteny terminalem
CREATE TABLE [dbo].[CZMST_TERMINAL](
	[ID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY CLUSTERED,
	[ID_TERMINAL] [int] NOT NULL,
	[ID_TISKARNA] [int] NOT NULL
) ON [PRIMARY]
GO

/* seznam tiskaren k pouziti */
-- Tiskarna ID
--	99 = urcena pro tisk souhrnnych informaci
CREATE TABLE [dbo].[CZMST_TISKARNA](
	[ID] [int] NOT NULL PRIMARY KEY,
	[NAME] [nvarchar](30) NOT NULL UNIQUE,
	[LOCATION] [nvarchar](50) NULL,
	[IP] [nvarchar](64) NULL,
	[PORT] [nvarchar](10) NULL,
	[COM] [nvarchar](50) NULL,
	[SOUBOR] [ntext] NULL,
	[TIMEOUT] [int] NULL,
	[BARCODE] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Číselník odběratelů ******/
CREATE TABLE [dbo].[CZMST090] (
	[odb_id] [nvarchar](12) NOT NULL,
	[odb_desc] [nvarchar](31) NULL,
	[odb_typ] [nvarchar](3) NULL,
	[odb_carcode] [nvarchar](21) NULL,
	[DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL,
	[odb_ico] [nvarchar](20) NULL,		--ICO
	[mena_ID] [nvarchar](10) NULL,		--ID Meny, partnera
	[odb_misto] [nvarchar] (100) NULL Default(''), --Misto sidla
	[odb_ulice] nvarchar(100) NULL Default(''), --nazev ulice
	[odb_cisloOr] nvarchar(15) NULL Default(''), --cislo orientacni
	[odb_psc] nvarchar(15) NULL Default(''), --PSC
	[odb_dic] nvarchar(15) NULL Default(''), --DIC
	[odb_Odberatel] bit NULL Default(0), --Je Odberatel
	[odb_Dodavatel] bit NULL Default(0) -- Je Dodavatel	
) ON [PRIMARY]
GO

/****** Číselník středisek ******/
CREATE TABLE [dbo].[CZMST091] (
	[str_id] [char] (30) NOT NULL ,
	[str_desc] [char] (40) NULL ,
	[str_typ] [char] (3) NULL ,
	[str_carcode] [char] (21) NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

/***** Ciselnik typu dokladu, ktere vznikaji z modulu Prodej ******/
CREATE TABLE [dbo].[CZMST092] (
	[doc_id] [char] (12) NOT NULL ,
	[doc_id2] [char] (12) NOT NULL DEFAULT('') ,
	[doc_desc] [char] (31) NULL ,
	[doc_typ] [char] (3) NULL ,
	[doc_carcode] [char] (21) NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL, 
	[LOCNCODE] [char](11) NOT NULL Default(''),
	[cfg_odb] [tinyint] NOT NULL Default(0),
	[cfg_str] [tinyint] NOT NULL Default(0), 
	[cfg_prac] [tinyint] NOT NULL Default(0), --sledovat na pracovníky
	[cfg_mn2sn] [tinyint] NOT NULL CONSTRAINT [DF_CZMST092_cfg_mn2sn]  DEFAULT ((0)),
	[cfg_disp] [tinyint] NOT NULL Default(0),
	[cfg_disp_proc] [char](30) NULL,
	[cfg_disp_param1] [char](10) NULL,
	[cfg_disp_param2] [char](10) NULL,
	[cfg_palety] [tinyint] NOT NULL,
	[cfg_paleta_id] [tinyint] NOT NULL,
	[cfg_zakazka_id] [tinyint] NOT NULL,
	[cfg_mena_id] [tinyint] NULL,
	[cfg_tisk] [tinyint] NOT NULL , 
	[cfg_prevod_sklad] [tinyint] NOT NULL,
	[cfg_tisk_soupis] [tinyint] NULL,
	[SKL_ID] [varchar] (20) NULL, 		-- !! pouzit misto LOCNCODE !!
	[cfg_lokace] [tinyint] NULL,		-- zadavat lokaci (locncode)
	[cfg_lokace_ciselnik] [tinyint] NULL,	-- oprit zadavani lokace o ciselnik lokaci (!!neni implementovano!!)
	[cfg_lokace_dest] [tinyint] NULL,	-- pozadovat zadani cilove lokace (1 - ano, 0 - ne)
	[cfg_onl_dop_pal] [tinyint] NULL,	-- zobrazit seznam doporucenych palet/materialu (probiha online nacteni ze serveru). Pokud je soucasne zapnuty lokacni mechanismus, tak dochazi k hledani zaznamu v nem.
	[cfg_onl_over_lokace] [tinyint] NULL,	-- online overeni zdrojove lokace
	[cfg_onl_over_lokace_dest] [tinyint] NULL,	-- online overeni cilove lokace
	[cfg_mnozstvi_ze_zbozi] [tinyint] NULL,		-- pokud je zapnuto, tak se mnozstvi rovnou ulozi do vystupnich dat (nezobrazi se dialog pro zadani mnozstvi)
	[cfg_predvyplnit_mnozstvi] [tinyint] NULL,		-- pokud je zapnuto, tak dojde k predvyplneni mnozstvi (pri zadavani mnozstvi)
	[cfg_skl_id_dest] [tinyint] NULL,			-- povoleni zadani ciloveho skladu
	[predvyplnit_skl_id_dest] [char](20) NULL,		-- cilovy sklad, ktery se automaticky vybere (pokud je zapnuty parametr cfg_skl_id_dest)
	[cfg_lok_mech] [tinyint] NULL,			-- povoleni prace s lokacnim mechanismem (budou se provadet online pohyby a pri zpracovani dat na serveru kontrola existence zaznamu)
	[cfg_lok_mech_pohyb_type] [char](1) NULL,			-- typ pohybu, ktery se zasle lokacnimu mechanismu (P - prijem, V - vydej, D - defregmentace/presun)
	[cfg_skl_id_dest_prevzit] [tinyint] NULL,			-- pokud zapnuto, prevezme SKL_ID zdrojoveho skladu a doplni ho do ciloveho (SKL_ID_DEST)
	[cfg_lokace_dest_ciselnik] [tinyint] NULL,			-- pokud zapnuto, zobrazi se ciselnik lokaci pro zadani lokace
	[predvyplnit_locncodedest] [char](11) NULL,		-- automaticke pouziti cilove lokace
	[cfg_sklady] [tinyint] NULL,		-- zadavat sklad (skl_id)
	[cfg_onl_dop_lokace_dest] [tinyint] NULL,	-- povoleni zobrazeni doporucenych cilovych lokaci
	[cfg_generovat_sn] [tinyint] NULL,	-- povoleni generovani SN
	[cfg_parsovat_ck] [tinyint] NULL,	-- povoleni parsovani caroveho kodu
	[cfg_sn_na_davku] [tinyint] NULL,	-- povoleni zadani sarze pri otevirani davky (nastavi se u vsech polozek automaticky)
	[cfg_lok_mech_online_pohyby] [tinyint] NULL,	-- pokusit se provest online pohyby v pripade zapnuteho lokacniho mechanismu (pokud vypnuto, provadi se az na serveru pri odesilani davky)
	[cfg_onl_palety_generovat] [tinyint] NULL,	-- umoznit vygenerovani cisla palety online ... 
	[cfg_tisk_palety] [tinyint] NULL,		-- povoleni tisku paletovych listku
	[cfg_sklady_zmena] [tinyint] NULL,		-- povoleni zmeny skladu v davce (skl_id)
	[cfg_delka_SN] [int] NULL                       -- delka serioveho ciska/sarze
 ) ON [PRIMARY]

/****** Číselník skladů ******/
CREATE TABLE [dbo].[CZMST093] (
	[skl_id] [char] (20) NOT NULL ,
	[skl_desc] [char] (40) NULL ,
	[skl_typ] [char] (3) NULL ,
	[skl_carcode] [char] (21) NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO


/****** Číselník lokací ve skladu ******/
CREATE TABLE [dbo].[CZMST094] (
    [SKL_ID] [char] (20) NULL,                     -- sklad
    [LOCNCODE] [char] (11) NOT NULL,                   -- umisteni
    [TYPE] [nvarchar] (2),      -- typ lokace
    [Description] [nvarchar] (40) NULL,	-- popis lokace
    [Barcode] [char] (21) NULL,	-- carovy kod lokace
    [DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL					-- autoincrement
) ON [PRIMARY]
GO


/****** Číselník zboží ******/
CREATE TABLE [dbo].[CZMST095] (
	[ITEMNMBR] [char] (31) NOT NULL ,
	[ITEMDESC] [char] (51) NULL ,
	[VNDITNUM] [char] (31) NULL ,
	[CZ_CarKod] [char] (31) NULL ,
	[LOCNCODE] [char] (11) NULL ,
	[SKL_ID] [char] (20) NULL ,
	[QTY] [numeric](19, 5) NOT NULL ,
	[QTYPACK] [numeric](19, 5) NULL ,
	[MJ] [varchar] (3) NOT NULL ,
	[DMJ] [varchar] (200) NOT NULL DEFAULT('') ,
	[TAXRATE] [numeric](4, 2) NULL ,
	[PRICE0] [numeric](18, 2) NULL ,
	[PRICE1] [numeric](18, 2) NULL ,
	[PRICE2] [numeric](18, 2) NULL ,
	[PRICE3] [numeric](18, 2) NULL ,
	[PRICE4] [numeric](18, 2) NULL ,
	[PRICE5] [numeric](18, 2) NULL ,
	[CZ_SerNum_Track] [tinyint] NOT NULL ,
	[CZ_SerNum_Delka] [smallint] NOT NULL ,
	[CZ_Rez1_Track] [tinyint] NOT NULL Default 0,
	[CZ_Rez2_Track] [tinyint] NOT NULL Default 0,
	[CZ_Rez3_Track] [tinyint] NOT NULL Default 0,
	[CZ_Rez4_Track] [tinyint] NOT NULL Default 0,
	[REZ1] [nvarchar] (10) NULL,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL,
	[ITEMCODE] [varchar](50) NULL,
	[ODB_ID] [varchar](12) NULL,
	[REZ2] [nvarchar] (10) NULL,
	[REZ3] [nvarchar] (10) NULL,
	[REZ4] [nvarchar] (10) NULL,
	[mena_ID] [char](10) NULL,	-- ID meny	
	[SERLTNUM] [char] (50) NULL,
	[WEIGHT] [numeric](19, 5) NULL	-- hmotnost
) ON [PRIMARY]
GO

/****** Číselník alternativních cen zboží pro různé měny ******/
CREATE TABLE [dbo].[CZMST095M] (
	[ITEMNMBR] [char] (31) NOT NULL ,
	[mena_ID] [char](10) NOT NULL,	--ID meny	
	[PRICE] [numeric](18, 2) NULL, --cena
	[PRICEX] [int] NULL, --cenova uroven
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL,
) ON [PRIMARY]
GO


/****** Číselník pracovníků ******/
CREATE TABLE [dbo].[CZMST096] (
	[prac_id] [nvarchar] (30) NOT NULL ,
	[prac_desc] [nvarchar] (40) NULL ,
	[prac_typ] [nvarchar] (3) NULL ,
	[prac_carcode] [nvarchar] (21) NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

/******* Číselník měn **********/
CREATE TABLE [dbo].[CZMST097](
	[mena_ID] [nvarchar](10) NOT NULL,
	[mena_text] [nvarchar](30) NOT NULL,
	[mena_hlavni] tinyint NOT NULL Default(0), --Identifikator, zda je mena vychozi menou (1=vychozi mena - mela by byt jedna vychozi, 0=neni vychozi)
	[mena_kurz] [numeric] (19, 5) NULL Default(0), --Kurz meny (NULL = nenastaven) vuci vychozi zakladni(defaultni) mene
	[mena_kurzDatum] date NULL	--Datum kurzu
 CONSTRAINT [PK_CZMST097] PRIMARY KEY CLUSTERED 
(
	[mena_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Výstupní data PRODEJe ******/
/****** Hlavičkové informace o dávce prodeje ******/
CREATE TABLE [dbo].[CZMST_DIH] (	
	[Zakazka_ID] [char] (50) NULL ,
	[Paleta_ID] [char] (50) NULL ,
	[mena_ID] [nvarchar] (10) NULL ,
	[SKL_ID] [char] (20) NULL, 	
	[CountEntries] [int] NOT NULL
) ON [PRIMARY]
GO

/* Historie hlavicek pro modul prodej */
CREATE TABLE [dbo].[CZMST_DIH_HISTORY] (	
	[Zakazka_ID] [char] (50) NULL ,
	[Paleta_ID] [char] (50) NULL ,
	[mena_ID] [nvarchar] (10) NULL ,
	[SKL_ID] [char] (20) NULL, 	
	[CountEntries] [int] NOT NULL
) ON [PRIMARY]
GO

/***** Trigger pro ukladani historie dat hlavicek pro modul prodej *****/
CREATE TRIGGER [dbo].[fask_trg_CZMST_DIH_HISTORY] 
   ON  [dbo].[CZMST_DIH] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	insert into czmst_dih_history select * from deleted
END
GO

/****** Výstupní záznamy PRODEJe ******/
CREATE TABLE [dbo].[CZMST_DI] (
	[CountEntries] [int] NOT NULL ,
	[VNDITNUM] [char] (31) NULL ,
	[CZ_CarKod] [char] (31) NULL ,
	[ODB_ID] [char] (12) NULL ,
	[STR_ID] [char] (30) NULL ,
	[DOC_ID] [char] (12) NULL ,
	[DOC_ID2] [char] (12) NULL ,
	[SKL_ID] [char] (20) NULL ,
	[PRAC_ID] [char] (30) NULL ,
	[ITEMNMBR] [char] (31) NOT NULL,
	[ITEMCODE] [varchar](50) NULL,
	[LOCNCODE] [char] (11) NULL ,
	[MJ] [varchar] (3) NOT NULL ,
	[QTYSHPPD] [numeric](19, 5) NOT NULL ,
	[QTYSHPPDMJ] [numeric](19, 5) NOT NULL ,
	[QTYPACK] [numeric](19, 5) NULL ,
	[SERLTNUM] [char] (50) NOT NULL ,
	[TAXAMPIE] [numeric](19, 5) NULL ,
	[AMOUNPIE] [numeric](19, 5) NULL ,
	[WITHTAX] [tinyint] NULL ,
	[PRICEX] [tinyint] NULL ,
	[mena_ID] [char](10) NULL ,	
	[TAXAMPIEM] [numeric](19, 5) NULL , 
	[AMOUNPIEM] [numeric](19, 5) NULL , 
	[mena_IDM] [char](10) NULL ,	
	[REZ_1] [char] (11) NULL ,
	[REZ_2] [char] (21) NULL ,
	[REZ_3] [char] (11) NULL ,
	[REZ_4] [char] (21) NULL ,
	[USER_ID] [int] NULL ,
	[DATEDONE] [char] (8) NULL ,
	[TIMEDONE] [char] (6) NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL,
	[GUID] [uniqueidentifier] NULL,
	[INPUT_MODE] [tinyint] NOT NULL,
	[ID_TERMINAL] [int] NOT NULL,
	[LOCNCODEDEST] [char] (11) NULL,
	[SKL_ID_DEST] [char] (20) NULL,
	[WEIGHT] [numeric](19, 5) NULL,
	[NMBRPAL] [nvarchar] (50) NULL,		-- ID palety, na ktere je polozka umistena
	[TYPEPAL] [nvarchar] (10) NULL,		-- typ palety
	[PRINTED] tinyint NULL Default(0)	-- priznak tisku (zatim se nevyuziva)
) ON [PRIMARY]
GO

/* Historie vystupnich dat pro modul prodej */
CREATE TABLE [dbo].[CZMST_DI_HISTORY] (
	[CountEntries] [int] NOT NULL ,
	[VNDITNUM] [char] (31) NULL ,
	[CZ_CarKod] [char] (31) NULL ,
	[ODB_ID] [char] (12) NULL ,
	[STR_ID] [char] (30) NULL ,
	[DOC_ID] [char] (12) NULL ,
	[DOC_ID2] [char] (12) NULL ,
	[SKL_ID] [char] (20) NULL ,
	[PRAC_ID] [char] (30) NULL ,
	[ITEMNMBR] [char] (31) NOT NULL,
	[ITEMCODE] [varchar](50) NULL,
	[LOCNCODE] [char] (11) NULL ,
	[MJ] [varchar] (3) NOT NULL ,
	[QTYSHPPD] [numeric](19, 5) NOT NULL ,
	[QTYSHPPDMJ] [numeric](19, 5) NOT NULL ,
	[QTYPACK] [numeric](19, 5) NULL ,
	[SERLTNUM] [char] (50) NOT NULL ,
	[TAXAMPIE] [numeric](19, 5) NULL ,
	[AMOUNPIE] [numeric](19, 5) NULL ,
	[WITHTAX] [tinyint] NULL ,
	[PRICEX] [tinyint] NULL ,
	[mena_ID] [char](10) NULL ,	
	[TAXAMPIEM] [numeric](19, 5) NULL , 
	[AMOUNPIEM] [numeric](19, 5) NULL , 
	[mena_IDM] [char](10) NULL ,	
	[REZ_1] [char] (11) NULL ,
	[REZ_2] [char] (21) NULL ,
	[REZ_3] [char] (11) NULL ,
	[REZ_4] [char] (21) NULL ,
	[USER_ID] [int] NULL ,
	[DATEDONE] [char] (8) NULL ,
	[TIMEDONE] [char] (6) NULL ,
	[DEX_ROW_ID] [int] NOT NULL,
	[GUID] [uniqueidentifier] NULL,
	[INPUT_MODE] [tinyint] NOT NULL,
	[ID_TERMINAL] [int] NOT NULL,
	[LOCNCODEDEST] [char] (11) NULL,
	[SKL_ID_DEST] [char] (20) NULL,
	[WEIGHT] [numeric](19, 5) NULL,
	[NMBRPAL] [nvarchar] (50) NULL,		-- ID palety, na ktere je polozka umistena
	[TYPEPAL] [nvarchar] (10) NULL,		-- typ palety
	[PRINTED] tinyint NULL Default(0)	-- priznak tisku
) ON [PRIMARY]
GO

/***** Trigger pro ukladani historie vystupnich dat pro modul prodej *****/
CREATE TRIGGER [dbo].[fask_trg_CZMST_DI_HISTORY] 
   ON  [dbo].[CZMST_DI] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	insert into czmst_di_history select * from deleted
END
GO

CREATE TABLE [CZMST_DI_RFID](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ITEMNMBR] [nvarchar](31) NOT NULL,
	[SEQUENCENMBR] [int] NOT NULL,
	[SKL_ID] [nvarchar](20) NULL,
	[CountEntries] [int] NULL,
	[DOCUMENTNMBR] [nvarchar](20) NULL,
	[ORD] [int] NULL,
	[SERLNMBR] [nvarchar](50) NULL,
	[guid] [uniqueidentifier] NOT NULL UNIQUE,
	[M_ID] [nvarchar](100) NULL,
	[M_TID] [nvarchar](100) NULL,
	[M_EPC] [nvarchar](100) NULL,
	[M_USER] [nvarchar](150) NULL,
	[M_RESERVED] [nvarchar](100) NULL,
	[O_M_ID] [nvarchar](100) NULL,
	[O_M_TID] [nvarchar](100) NULL,
	[O_M_EPC] [nvarchar](100) NULL,
	[O_M_USER] [nvarchar](150) NULL,
	[O_M_RESERVED] [nvarchar](100) NULL,
	[TerminalID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Created_T] [datetime] NOT NULL,
	[Created_S] [datetime] NOT NULL default(getdate())
) ON [PRIMARY]

/* Predloha polozek inventury */
CREATE TABLE [dbo].[CZMST_I1] (
	[CountEntries] [int] NOT NULL ,
	[ITEMNMBR] [char] (31) NOT NULL ,
	[CZ_CarKod] [char] (31) NOT NULL ,
	[ITEMDESC] [char] (51) NOT NULL ,
	[LOCNCODE] [char] (11) NOT NULL ,
	[SKL_ID] [char] (20) NOT NULL ,
	[QUANTITY] [numeric](19, 5) NOT NULL ,
	[DMJ] [varchar] (3) NULL ,
	[DATEDONE] [datetime] NOT NULL ,
	[IntegerValue] [smallint] NOT NULL ,
	[TIMESPRT] [smallint] NOT NULL ,
	[CZ_SerNum_Track] [tinyint] NOT NULL ,
	[CZ_SerNum_Find] [tinyint] NOT NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL ,
	[TerminalID] [tinyint] NOT NULL,
	[O_TID] [tinyint] NULL,
	[REZ_1] [varchar](15) NULL,
	[REZ_2] [varchar](15) NULL,
	[ITEMCODE] [nvarchar](50) NULL,
	[CZ_REZ1_Track] [tinyint] NOT NULL Default(0), --doplnovat hodnotu REZ_1
	[CZ_REZ2_Track] [tinyint] NOT NULL Default(0)  --doplnovat hodnotu REZ_2
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[CZMST_I1H]   ******/
CREATE TABLE [dbo].[CZMST_I1H] (
	[CountEntries] [int] NOT NULL PRIMARY KEY,	--číslo dávky inventury
	[Description] [varchar](100) NULL,			--popis dávky invnetury
	[State] [tinyint] NULL						--stav inventury
) ON [PRIMARY]
GO

/**** ceny pro polozky Inventury ... ****/
CREATE TABLE [dbo].[CZMST_I1P](
	[Countentries] [int] NOT NULL,		--číslo dávky
	[ITEMNMBR] [nvarchar](31) NOT NULL,	--číslo položky
	[ITEMCODE] [nvarchar](50) NULL,		--označení položky
	[TAX] [numeric](19, 5) NULL,		--DPH
	[PRICE0] [numeric](19, 5) NULL,		--Cena 0
	[PRICE1] [numeric](19, 5) NULL,		--Cena 1
	[PRICE2] [numeric](19, 5) NULL,		--Cena 2
	[PRICE3] [numeric](19, 5) NULL,		--Cena 3
	[PRICE4] [numeric](19, 5) NULL,		--Cena 4
	[PRICE5] [numeric](19, 5) NULL,		--Cena 5
	[PRICE0H] [nvarchar](50) NULL,		--Název ceny 0
	[PRICE1H] [nvarchar](50) NULL,		--Název ceny 1
	[PRICE2H] [nvarchar](50) NULL,		--Název ceny 2
	[PRICE3H] [nvarchar](50) NULL,		--Název ceny 3
	[PRICE4H] [nvarchar](50) NULL,		--Název ceny 4
	[PRICE5H] [nvarchar](50) NULL		--Název ceny 5
) ON [PRIMARY]
GO

/****** Predloha sarzi polozek ******/
CREATE TABLE [dbo].[CZMST_I2] (
	[CountEntries] [int] NOT NULL ,
	[ITEMNMBR] [char] (31) NOT NULL ,
	[SERLNMBR] [char] (21) NOT NULL ,
	[QTY] [numeric] (19,5) NULL,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL
) ON [PRIMARY]
GO

/****** Predloha variant baleni, car.kodu, mernych jednotek ******/
CREATE TABLE [dbo].[CZMST_I3] (
	[CountEntries] [int] NOT NULL ,
	[ITEMNMBR] [char] (31) NOT NULL ,
	[CZ_CarKod] [char] (31) NOT NULL ,
	[QTYPACK] [numeric](19, 5) NULL ,
	[MJ] [varchar] (3) NOT NULL ,
	[VENDORID] [char] (15) NOT NULL ,
	[VNDITNUM] [char] (31) NOT NULL ,
	[VENDNAME] [char] (31) NOT NULL ,
	[WEIGHT] [numeric] (19, 5) NULL , --jednotkova vaha
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL ,
) ON [PRIMARY]
GO

/****** Vystupni data nasnimanych polozek inventury ******/
CREATE TABLE [dbo].[CZMST_I4] (
	[CountEntries] [int] NOT NULL ,
	[ITEMNMBR] [char] (31) NOT NULL ,
	[CZ_CarKod] [char] (31) NOT NULL ,
	[LOCNCODE] [char] (11) NOT NULL ,
	[SKL_ID] [char] (20) NOT NULL ,
	[VNDITNUM] [char] (31) NOT NULL ,
	[MJ] [varchar] (3) NOT NULL ,
	[QUANTITY] [numeric](19, 5) NOT NULL ,
	[QUANTITYMJ] [numeric](19, 5) NOT NULL ,
	[QTYPACK] [numeric](19, 5) NULL ,
	[SERLNMBR] [char] (21) NOT NULL ,
	[DATEDONE] [char] (8) NULL ,
	[TIMEDONE] [char] (6) NULL ,
	[USERID] [int] NULL ,
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL,
	[GUID] [uniqueidentifier] NULL,
	[O_Checked] [bit] NOT NULL Default(0),
	[INPUT_MODE] [tinyint] NOT NULL,
	[ID_TERMINAL] [int] NOT NULL,
	[ITEMCODE] [nvarchar] (50) NULL, --doplnit
	[REZ_1] [nvarchar] (50), --doplnkova hodnota REZ_1
	[REZ_2] [nvarchar] (50), --doplnkova hodnota REZ_2
	[WEIGHT] [numeric] (19, 5) NULL  --jednotkova vaha
) ON [PRIMARY]
GO

/* Hlavicka pro modul prijem */
CREATE TABLE [dbo].[CZMST_PEH] (
	[CountEntries] [int] NOT NULL,		--cislo davky
	[PONUMBER] [char] (30) NOT NULL ,	--cislo zdrojoveho dokladu
	[DOKLTYPE] [varchar] (10) NOT NULL Default(''), --typ dokladu pouzivany konkretni verzi modulu prijem, urcuje odpovidajici konfiguraci pro modul
	[GUID] [uniqueidentifier] NULL		--interni identifikator po zpracovani prijemky terminalem
) ON [PRIMARY]
GO

/* Historie hlavicek pro modul prijem */
CREATE TABLE [dbo].[CZMST_PEH_HISTORY] (
	[CountEntries] [int] NOT NULL,		--cislo davky
	[PONUMBER] [char] (30) NOT NULL ,	--cislo zdrojoveho dokladu
	[DOKLTYPE] [varchar] (10) NOT NULL Default(''), --typ dokladu pouzivany konkretni verzi modulu prijem, urcuje odpovidajici konfiguraci pro modul
	[GUID] [uniqueidentifier] NULL		--interni identifikator po zpracovani prijemky terminalem
) ON [PRIMARY]
GO

/***** Trigger pro ukladani historie dat hlavicek pro modul prijem *****/
CREATE TRIGGER [dbo].[fask_trg_CZMST_PEH_HISTORY] 
   ON  [dbo].[CZMST_PEH] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	insert into czmst_peh_history select * from deleted
END
GO

/* Data davky prijmu - revize popisů JaS 20180821 */
CREATE TABLE [dbo].[CZMST_PE] (
	[CountEntries] [int] NOT NULL ,		--cislo davky
	[PONUMBER] [char] (30) NOT NULL ,	--cislo zdrojoveho dokladu
	[ITEMNMBR] [char] (31) NULL ,		--interni cislo polozky
	[ITEMDESC] [char] (51) NULL ,		--popis polozky
	[ORD] [int] NOT NULL ,			--poradi polozky na zdroj. dokladu
	[VNDDOCNM] [char] (21) NULL ,		--vlastni oznaceni (např č. objednávky dodavatele) 
	[VNDITNUM] [char] (31) NULL ,		--car.kod.
	[CZ_CarKod] [char] (31) NOT NULL ,	--vlastni car.kod
	[SKL_ID] [char] (20) NULL ,		--cislo skladu
	[LOCNCODE] [char] (11) NULL ,		--lokace (nesmi byt NULL, jinak server danou davku nezobrazi)
	[MJ] [nvarchar] (10) NOT NULL ,		--merna jednotka
	[QTYSHPPD] [numeric](19, 5) NOT NULL ,	--mnozstvi požadované
	[QTYPACK] [numeric](19, 5) NOT NULL ,	--mnozstvi zakladní MJ v baleni (je-li 0, jde o základní skladovou jednotku)
	[CZ_DatVyr_Track] [tinyint] NOT NULL ,	--příznak sledovat dat.vyroby (0/1)
	[CZ_DatVyr_Delka] [smallint] NOT NULL ,	--delka řetězce data výroby
	[CZ_SerNum_Track] [tinyint] NOT NULL ,	--sledovat mnozstvi/ser.cislo/sarzi (0/1/2)
	[CZ_SerNum_Delka] [smallint] NOT NULL ,	--delka řetězce sér.čísla/šarže
	[CZ_SW_Track] [tinyint] NOT NULL ,	--příznak sledovat SW (0/1)
	[CZ_SW_Delka] [smallint] NOT NULL ,	--delka řetězce SW
	[CZ_Doslo] [tinyint] NOT NULL ,		--interni parametr terminalu - určuje status 255-založeno konzolou, 0-založeno IS, XXX-č. převzatého terminálu, atd - nutno doplnit možné stavy
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL, - pořadí záznamu v databázi (používáno i jako párovací klíč např do IS Pohoda) 
	[WEIGHT] [numeric](19, 5) NULL,		-- hmotnost
	[NMBRPAL] [nvarchar] (50) NULL,		-- ID palety, na ktere je polozka umistena
	[TYPEPAL] [nvarchar] (10) NULL,		-- typ palety
	[ITEMCODE] [nvarchar](50) NULL,         -- vlastní ID položky
	[SERLTNUM] [char](21) DEFAULT (N'') NOT NULL,	-- výrobní číslo/šarže
	[CZ_REZ1_Track] [tinyint] NOT NULL Default(0), --doplnovat hodnotu REZ_1
	[CZ_REZ2_Track] [tinyint] NOT NULL Default(0)  --doplnovat hodnotu REZ_2	
) ON [PRIMARY]
GO

/* Historie dat davky prijmu */
CREATE TABLE [dbo].[CZMST_PE_HISTORY] (
	[CountEntries] [int] NOT NULL ,		--cislo davky
	[PONUMBER] [char] (30) NOT NULL ,	--cislo zdrojoveho dokladu
	[ITEMNMBR] [char] (31) NULL ,		--interni cislo polozky
	[ITEMDESC] [char] (51) NULL ,		--popis polozky
	[ORD] [int] NOT NULL ,				--poradi polozky na zdroj. dokladu
	[VNDDOCNM] [char] (21) NULL ,		--vlastni oznaceni 
	[VNDITNUM] [char] (31) NULL ,		--car.kod.
	[CZ_CarKod] [char] (31) NOT NULL ,	--vlastni car.kod
	[SKL_ID] [char] (20) NULL ,			--cislo skladu
	[LOCNCODE] [char] (11) NULL ,		--lokace (nesmi byt NULL, jinak server danou davku nezobrazi)
	[MJ] [nvarchar] (10) NOT NULL ,		--merna jednotka
	[QTYSHPPD] [numeric](19, 5) NOT NULL ,	--mnozstvi k vydeji
	[QTYPACK] [numeric](19, 5) NOT NULL ,	--mnozstvi zakladni MJ v baleni
	[CZ_DatVyr_Track] [tinyint] NOT NULL ,	--sledovat dat.vyroby
	[CZ_DatVyr_Delka] [smallint] NOT NULL ,	--delka dat.vyroby
	[CZ_SerNum_Track] [tinyint] NOT NULL ,	--sledovat mnozstvi/ser.cislo/sarzi (0/1/2)
	[CZ_SerNum_Delka] [smallint] NOT NULL ,	--delka ser.cisla/sarze
	[CZ_SW_Track] [tinyint] NOT NULL ,		--sledovat SW
	[CZ_SW_Delka] [smallint] NOT NULL ,		--delka SW
	[CZ_Doslo] [tinyint] NOT NULL ,			--interni parametr terminalu
	[DEX_ROW_ID] [int] NOT NULL, 
	[WEIGHT] [numeric](19, 5) NULL,		-- hmotnost
	[NMBRPAL] [nvarchar] (50) NULL,		-- ID palety, na ktere je polozka umistena
	[TYPEPAL] [nvarchar] (10) NULL,		-- typ palety
	[ITEMCODE] [nvarchar](50) NULL,
	[SERLTNUM] [char](21) DEFAULT (N'') NOT NULL,	-- sarze
	[CZ_REZ1_Track] [tinyint] NOT NULL Default(0), --doplnovat hodnotu REZ_1
	[CZ_REZ2_Track] [tinyint] NOT NULL Default(0)  --doplnovat hodnotu REZ_2	
) ON [PRIMARY]
GO

/***** Trigger pro ukladani historie dat davky prijmu *****/
CREATE TRIGGER [dbo].[fask_trg_CZMST_PE_HISTORY] 
   ON  [dbo].[CZMST_PE] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	insert into czmst_pe_history select * from deleted
END
GO

/* Predloha pro seriova cisla prijmu / vsechny mozne varianty v systemu */
CREATE TABLE [CZMST_PE_SN](
	[CountEntries] [int] NOT NULL,		--cislo davky
	[ITEMNMBR] [char](31) NOT NULL,		--cislo polozky
	[SERLNMBR] [char](21) NOT NULL,		--vedene seriove cislo polozky
	[DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO

/* Historie predlohy pro seriova cisla prijmu / vsechny mozne varianty v systemu */
CREATE TABLE [CZMST_PE_SN_HISTORY](
	[CountEntries] [int] NOT NULL,		--cislo davky
	[ITEMNMBR] [char](31) NOT NULL,		--cislo polozky
	[SERLNMBR] [char](21) NOT NULL,		--vedene seriove cislo polozky
	[DEX_ROW_ID] [int] NOT NULL
) ON [PRIMARY]
GO

/***** Trigger pro ukladani historie seriovych cisel prijmu pri mazani dat *****/
CREATE TRIGGER [dbo].[fask_trg_CZMST_PE_SN_HISTORY] 
   ON  [dbo].[CZMST_PE_SN] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	insert into czmst_pe_sn_history select * from deleted
END
GO

/*Vystupni parametry pro hlavicku prijemky*/
CREATE TABLE [dbo].[CZMST_PIH] (
	[CountEntries] [int] NOT NULL , --cislo davky
	[DATUMDOKLADU] [datetime] NULL  --Datum dokladu kdy se ma vystavit, pokud bylo terminalem zmeneno
) ON [PRIMARY]
GO

/* Historie vystupnich parametru pro hlavicky prijemek */
CREATE TABLE [dbo].[CZMST_PIH_HISTORY] (
	[CountEntries] [int] NOT NULL , --cislo davky
	[DATUMDOKLADU] [datetime] NULL  --Datum dokladu kdy se ma vystavit, pokud bylo terminalem zmeneno
) ON [PRIMARY]
GO

/***** Trigger pro ukladani historie prijmu pri mazani dat *****/
CREATE TRIGGER [dbo].[fask_trg_CZMST_PIH_HISTORY] 
   ON  [dbo].[CZMST_PIH] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	insert into czmst_pih_history select * from deleted

END

GO

/* Vystupni data prijmu */
CREATE TABLE [dbo].[CZMST_PI] (
	[CountEntries] [int] NOT NULL ,		--cislo davky
	[PONUMBER] [char] (30) NOT NULL ,	--cislo dokladu
	[ORD] [int] NOT NULL ,				--poradi na dokladu
	[ITEMNMBR] [char] (31) NULL ,		--cislo polozky
	[VNDDOCNM] [char] (21) NULL ,		--vlastni oznaceni
	[VNDITNUM] [char] (31) NULL ,		--car.kod.
	[SKL_ID] [char] (20) NULL ,			--cislo skladu
	[LOCNCODE] [char] (11) NULL ,		--lokace
	[MJ] [nvarchar] (10) NOT NULL ,		--merna jednotka
	[QTYSHPPD] [numeric](19, 5) NOT NULL , --prijate mnozstvi v zakladni MJ
	[QTYSHPPDMJ] [numeric](19, 5) NOT NULL , --prijate mnozstvi zadane na terminalu
	[QTYPACK] [numeric](19, 5) NOT NULL ,	--mnozstvi v baleni 
	[SERLTNUM] [char] (21) NOT NULL ,	--ser.cislo/sarze
	[KOD_SW] [char] (11) NULL ,			--SW
	[DAT_VYROBY] [char] (11) NULL ,		--Dat.vyroby
	[DATEDONE] [char] (8) NULL ,		--datum nacteni terminalem
	[TIMEDONE] [char] (6) NULL ,		--cas nacteni terminalem
	[CZ_CarKod] [char] (31) NULL ,		--vlastni car.kod.
	[REZ_1] [char] (21) NULL ,			--doplnkova hodnota 1
	[REZ_2] [char] (21) NULL ,			--doplnkova hodnota 2
	--[REZ_3] [varchar] (21) NULL, --budouci rezerva
	--[STAV] [varchar] (21) NULL, --stav zbozi pri prijmu (SHODNE, NESHODNE} [pripadne jine texty...]
	[USER_ID] [int] NOT NULL ,			--id uzivatele, ktery nasnimal
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL,
	[GUID] [uniqueidentifier] NULL,		--identifikator zaznamu
	[INPUT_MODE] [tinyint] NOT NULL,	--zpusob vyberu a vlozeni zaznamu rucne/scannerem
	[ID_TERMINAL] [int] NOT NULL,		--id terminalu, ktery data poridil
	[WEIGHT] [numeric](19, 5) NULL,		-- hmotnost
	[NMBRPAL] [nvarchar] (50) NULL,		-- ID palety, na ktere je polozka umistena
	[TYPEPAL] [nvarchar] (10) NULL,		-- typ palety
	[ITEMCODE] [nvarchar](50) NULL
) ON [PRIMARY]
GO

/* Historie vystupnich dat prijmu */
CREATE TABLE [dbo].[CZMST_PI_HISTORY] (
	[CountEntries] [int] NOT NULL ,		--cislo davky
	[PONUMBER] [char] (30) NOT NULL ,	--cislo dokladu
	[ORD] [int] NOT NULL ,				--poradi na dokladu
	[ITEMNMBR] [char] (31) NULL ,		--cislo polozky
	[VNDDOCNM] [char] (21) NULL ,		--vlastni oznaceni
	[VNDITNUM] [char] (31) NULL ,		--car.kod.
	[SKL_ID] [char] (20) NULL ,			--cislo skladu
	[LOCNCODE] [char] (11) NULL ,		--lokace
	[MJ] [nvarchar] (10) NOT NULL ,		--merna jednotka
	[QTYSHPPD] [numeric](19, 5) NOT NULL , --prijate mnozstvi v zakladni MJ
	[QTYSHPPDMJ] [numeric](19, 5) NOT NULL , --prijate mnozstvi zadane na terminalu
	[QTYPACK] [numeric](19, 5) NOT NULL ,	--mnozstvi v baleni 
	[SERLTNUM] [char] (21) NOT NULL ,	--ser.cislo/sarze
	[KOD_SW] [char] (11) NULL ,			--SW
	[DAT_VYROBY] [char] (11) NULL ,		--Dat.vyroby
	[DATEDONE] [char] (8) NULL ,		--datum nacteni terminalem
	[TIMEDONE] [char] (6) NULL ,		--cas nacteni terminalem
	[CZ_CarKod] [char] (31) NULL ,		--vlastni car.kod.
	[REZ_1] [char] (21) NULL ,			--doplnkova hodnota 1
	[REZ_2] [char] (21) NULL ,			--doplnkova hodnota 2
	--[REZ_3] [varchar] (21) NULL, --budouci rezerva
	--[STAV] [varchar] (21) NULL, --stav zbozi pri prijmu (SHODNE, NESHODNE} [pripadne jine texty...]
	[USER_ID] [int] NOT NULL ,			--id uzivatele, ktery nasnimal
	[DEX_ROW_ID] [int] NOT NULL,
	[GUID] [uniqueidentifier] NULL,		--identifikator zaznamu
	[INPUT_MODE] [tinyint] NOT NULL,	--zpusob vyberu a vlozeni zaznamu rucne/scannerem
	[ID_TERMINAL] [int] NOT NULL,		--id terminalu, ktery data poridil
	[WEIGHT] [numeric](19, 5) NULL,		-- hmotnost
	[NMBRPAL] [nvarchar] (50) NULL,		-- ID palety, na ktere je polozka umistena
	[TYPEPAL] [nvarchar] (10) NULL,		-- typ palety
	[ITEMCODE] [nvarchar](50) NULL
) ON [PRIMARY]
GO

/***** Trigger pro ukladani historie prijmu pri mazani dat *****/
CREATE TRIGGER [dbo].[fask_trg_CZMST_PI_HISTORY] 
   ON  [dbo].[CZMST_PI] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	insert into czmst_pi_history select * from deleted

END

GO

/* Vystupni fotky prijmu */
CREATE TABLE [dbo].[CZMST_PI_F](
	[IMG_NAME] [varchar](30) NOT NULL,		-- nazev fotografie
	[GUID] [uniqueidentifier] NOT NULL,		-- GUID z CZMST_PI, ke kteremu patri dana fotografie
	[DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

/* Historie vystupnich fotek prijmu */
CREATE TABLE [dbo].[CZMST_PI_F_HISTORY](
	[IMG_NAME] [varchar](30) NOT NULL,		-- nazev fotografie
	[GUID] [uniqueidentifier] NOT NULL,		-- GUID z CZMST_PI, ke kteremu patri dana fotografie
	[DEX_ROW_ID] [int] NOT NULL
) ON [PRIMARY]
GO

/***** Trigger pro ukladani historie fotek prijmu pri mazani dat *****/
CREATE TRIGGER [dbo].[fask_trg_CZMST_PI_F_HISTORY] 
   ON  [dbo].[CZMST_PI_F] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	insert into czmst_pi_f_history select * from deleted
END
GO

/* Hlavicka pro modul vydej */
CREATE TABLE [dbo].[CZMST_SEH] (
	[CountEntries] [int] NOT NULL,
	[SOPNUMBE] [char] (17) NOT NULL ,
	[GUID] [uniqueidentifier] NULL
) ON [PRIMARY]
GO

/* Historie hlavicky dat pro modul vydej */
CREATE TABLE [dbo].[CZMST_SEH_HISTORY] (
	[CountEntries] [int] NOT NULL,
	[SOPNUMBE] [char] (17) NOT NULL ,
	[GUID] [uniqueidentifier] NULL
) ON [PRIMARY]
GO

/***** Trigger pro ukladani historie hlavicek pro modul vydej *****/
CREATE TRIGGER [dbo].[fask_trg_CZMST_SEH_HISTORY] 
   ON  [dbo].[CZMST_SEH] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	insert into czmst_seh_history select * from deleted
END
GO

/****** Předloha řádků výdeje ***** - revize popisů JaS 20180821 */
CREATE TABLE [dbo].[CZMST_SE] (
	[CountEntries] [int] NOT NULL ,                -- číslo dávky
	[SOPNUMBE] [char] (17) NOT NULL ,              -- číslo dokladu výdeje
	[ITEMNMBR] [char] (31) NULL ,                  -- číslo položky
	[ITEMTYPE] [char] (11) NOT NULL DEFAULT (''),  -- typ položky
	[ITEMDESC] [char] (51) NULL ,                  -- popis položky
	[VNDDOCNM] [char] (21) NULL ,                  -- číslo dokladu odběratele
	[VNDITNUM] [char] (31) NULL ,                  -- čárový kód položky - modelové číslo
	[ORD] [int] NOT NULL ,                         -- číslo řádku dokladu výdeje (klíč SOPNUMBE+ORD)
	[CZ_CarKod] [char] (31) NOT NULL ,             -- vlastní čárový kód (není-li vlastní, pak uvést čárový kód položky
	[SKL_ID] [char] (20) NULL ,		       -- číslo skladu
	[LOCNCODE] [char] (11) NULL ,                  -- lokace
	[MJ] [nvarchar] (10) NOT NULL ,		       -- měrná jednotka
	[QTYSHPPD] [numeric](19, 5) NOT NULL ,         -- množství k výdeji
	[QTYPACK] [numeric](19, 5) NOT NULL ,          -- množství základní MJ v balení (je-li 0, jde o základní jednotku)
	[CZ_DatVyr_Track] [tinyint] NOT NULL ,         -- příznak sledování data výroby (0/1)
	[CZ_DatVyr_Delka] [smallint] NOT NULL ,        -- počet znaků data výroby
	[CZ_SerNum_Track] [tinyint] NOT NULL ,         -- příznak sledování SN - na množství/výrobní číslo/šarže (0/1/2)
	[CZ_SerNum_Delka] [smallint] NOT NULL ,        -- počat znaků výr. čísla
	[CZ_SW_Track] [tinyint] NOT NULL ,             -- příznak sledování - atributu k výrobnímu číslu (0/1)
	[CZ_SW_Delka] [smallint] NOT NULL ,            -- počet znaků atributu
	[CZ_Doslo] [tinyint] NOT NULL ,                -- příznak řídící stav dávky viz příjem
	[Note] [nchar](100) NULL,                      -- poznámka
	[TYPEPAL] [char] (4) NULL,                     -- typ palety
	[QTYPAL] [numeric](19,5) NULL,                 -- množství palet
	[PRIORITY] [tinyint] NOT NULL Default(3),      -- priorita - řídí nabízená data ze serveru
	[PRINTED] tinyint NULL Default(0),             -- příznak zda tisknout
	[USERID] integer NULL,                         -- příznak přidělení konkrétnímu uživateli (=ID uživatele) 
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL,   -- pořadí záznamu v databázi
	[CZ_REZ1_Track] [tinyint] NOT NULL Default(0), -- příznak zda doplnovat hodnotu REZ_1 (0/1)
	[CZ_REZ2_Track] [tinyint] NOT NULL Default(0)  -- příznak zda doplnovat hodnotu REZ_2 (0/1)
) ON [PRIMARY]
GO

/* Historie dat davky pro modul vydej */
CREATE TABLE [dbo].[CZMST_SE_HISTORY] (
	[CountEntries] [int] NOT NULL ,
	[SOPNUMBE] [char] (17) NOT NULL ,
	[ITEMNMBR] [char] (31) NULL ,
	[ITEMTYPE] [char] (11) NOT NULL DEFAULT (''),
	[ITEMDESC] [char] (51) NULL ,
	[VNDDOCNM] [char] (21) NULL ,
	[VNDITNUM] [char] (31) NULL ,
	[ORD] [int] NOT NULL ,
	[CZ_CarKod] [char] (31) NOT NULL ,
	[SKL_ID] [char] (20) NULL ,			--cislo skladu
	[LOCNCODE] [char] (11) NULL ,
	[MJ] [nvarchar] (10) NOT NULL ,		--merna jednotka
	[QTYSHPPD] [numeric](19, 5) NOT NULL ,
	[QTYPACK] [numeric](19, 5) NOT NULL ,
	[CZ_DatVyr_Track] [tinyint] NOT NULL ,
	[CZ_DatVyr_Delka] [smallint] NOT NULL ,
	[CZ_SerNum_Track] [tinyint] NOT NULL ,
	[CZ_SerNum_Delka] [smallint] NOT NULL ,
	[CZ_SW_Track] [tinyint] NOT NULL ,
	[CZ_SW_Delka] [smallint] NOT NULL ,
	[CZ_Doslo] [tinyint] NOT NULL ,
	[Note] [nchar](100) NULL,
	[TYPEPAL] [char] (4) NULL,
	[QTYPAL] [numeric](19,5) NULL,
	[PRIORITY] [tinyint] NOT NULL Default(3),
	[PRINTED] tinyint NULL Default(0),
	[USERID] integer NULL,
	[DEX_ROW_ID] [int] NOT NULL,
	[CZ_REZ1_Track] [tinyint] NOT NULL Default(0), --doplnovat hodnotu REZ_1
	[CZ_REZ2_Track] [tinyint] NOT NULL Default(0)  --doplnovat hodnotu REZ_2

) ON [PRIMARY]
GO

/***** Trigger pro ukladani historie dat predlohy pro modul vydej *****/
CREATE TRIGGER [dbo].[fask_trg_CZMST_SE_HISTORY] 
   ON  [dbo].[CZMST_SE] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	insert into czmst_se_history select * from deleted
END
GO

/* Data davky seriovych cisel pro modul vydej */
CREATE TABLE [CZMST_SE_SN](
	[CountEntries] [int] NOT NULL,
	[SOPNUMBE] [char] (17) NULL , 
	[ITEMNMBR] [char](31) NULL,	
	[ORD] [int] NULL ,
	[SERLNMBR] [char](21) NOT NULL,
	[QTY] [numeric] (19,5) NOT NULL Default(1),
	[DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO

/* Historie dat davky seriovych cisel pro modul vydej */
CREATE TABLE [CZMST_SE_SN_HISTORY](
	[CountEntries] [int] NOT NULL,
	[SOPNUMBE] [char] (17) NULL , 
	[ITEMNMBR] [char](31) NULL,	
	[ORD] [int] NULL ,
	[SERLNMBR] [char](21) NOT NULL,
	[QTY] [numeric] (19,5) NOT NULL Default(1),
	[DEX_ROW_ID] [int] NOT NULL
) ON [PRIMARY]
GO

/***** Trigger pro ukladani historie dat predlohy seriovych cisel pro modul vydej *****/
CREATE TRIGGER [dbo].[fask_trg_CZMST_SE_SN_HISTORY] 
   ON  [dbo].[CZMST_SE_SN] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	insert into czmst_se_sn_history select * from deleted
END
GO

/* Vystupni data výdeje */
CREATE TABLE [dbo].[CZMST_SI] (
	[CountEntries] [int] NOT NULL ,
	[SOPNUMBE] [char] (17) NOT NULL ,
	[ITEMNMBR] [char] (31) NULL ,
	[ORD] [int] NOT NULL ,
	[VNDDOCNM] [char] (21) NULL ,
	[VNDITNUM] [char] (31) NULL ,
	[CZ_CarKod] [char] (31) NULL ,
	[SKL_ID] [char] (20) NULL ,			--cislo skladu
	[LOCNCODE] [char] (11) NULL ,
	[MJ] [nvarchar] (10) NOT NULL ,		--merna jednotka
	[QTYSHPPD] [numeric](19, 5) NOT NULL ,
	[QTYPACK] [numeric](19, 5) NOT NULL ,
	[SERLTNUM] [char] (21) NOT NULL ,
	[KOD_SW] [char] (11) NULL ,
	[DAT_VYROBY] [char] (11) NULL ,
	[REZ_1] [char] (15) NULL ,
	[REZ_2] [varchar] (20) NULL ,
	[ODBER_ID] [char] (12) NULL ,
	[DATEDONE] [char] (8) NULL ,
	[TIMEDONE] [char] (6) NULL ,
	[USER_ID] [int] NOT NULL ,
	[TYPEPAL] [char] (4) NULL,
	[NMBRPAL] [char] (20) NULL,
	[PRINTED] tinyint NULL Default(0),
	[DEX_ROW_ID] [int] IDENTITY (1, 1) NOT NULL,
	[GUID] [uniqueidentifier] NULL,
	[INPUT_MODE] [tinyint] NOT NULL,
	[ID_TERMINAL] [int] NOT NULL  
) ON [PRIMARY]
GO

CREATE TABLE [CZMST_SI_RFID](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ITEMNMBR] [nvarchar](31) NOT NULL,
	[SEQUENCENMBR] [int] NOT NULL,
	[SKL_ID] [nvarchar](20) NULL,
	[CountEntries] [int] NULL,
	[DOCUMENTNMBR] [nvarchar](20) NULL,
	[ORD] [int] NULL,
	[SERLNMBR] [nvarchar](31) NULL,
	[guid] [uniqueidentifier] NOT NULL UNIQUE,
	[M_ID] [nvarchar](100) NULL,
	[M_TID] [nvarchar](100) NULL,
	[M_EPC] [nvarchar](100) NULL,
	[M_USER] [nvarchar](150) NULL,
	[M_RESERVED] [nvarchar](100) NULL,
	[O_M_ID] [nvarchar](100) NULL,
	[O_M_TID] [nvarchar](100) NULL,
	[O_M_EPC] [nvarchar](100) NULL,
	[O_M_USER] [nvarchar](150) NULL,
	[O_M_RESERVED] [nvarchar](100) NULL,
	[TerminalID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Created_T] [datetime] NOT NULL,
	[Created_S] [datetime] NOT NULL default(getdate())
) ON [PRIMARY]

/* Historie vystupnich dat vydeje */
CREATE TABLE [dbo].[CZMST_SI_HISTORY] (
	[CountEntries] [int] NOT NULL ,
	[SOPNUMBE] [char] (17) NOT NULL ,
	[ITEMNMBR] [char] (31) NULL ,
	[ORD] [int] NOT NULL ,
	[VNDDOCNM] [char] (21) NULL ,
	[VNDITNUM] [char] (31) NULL ,
	[CZ_CarKod] [char] (31) NULL ,
	[SKL_ID] [char] (20) NULL ,			--cislo skladu
	[LOCNCODE] [char] (11) NULL ,
	[MJ] [nvarchar] (10) NOT NULL ,		--merna jednotka
	[QTYSHPPD] [numeric](19, 5) NOT NULL ,
	[QTYPACK] [numeric](19, 5) NOT NULL ,
	[SERLTNUM] [char] (21) NOT NULL ,
	[KOD_SW] [char] (11) NULL ,
	[DAT_VYROBY] [char] (11) NULL ,
	[REZ_1] [char] (15) NULL ,
	[REZ_2] [varchar] (20) NULL ,
	[ODBER_ID] [char] (12) NULL ,
	[DATEDONE] [char] (8) NULL ,
	[TIMEDONE] [char] (6) NULL ,
	[USER_ID] [int] NOT NULL ,
	[TYPEPAL] [char] (4) NULL,
	[NMBRPAL] [char] (20) NULL,
	[PRINTED] tinyint NULL Default(0),
	[DEX_ROW_ID] [int] NOT NULL,
	[GUID] [uniqueidentifier] NULL,
	[INPUT_MODE] [tinyint] NOT NULL,
	[ID_TERMINAL] [int] NOT NULL  
) ON [PRIMARY]
GO
/***** Trigger pro ukladani historie vystupnich dat pro modul vydej *****/
CREATE TRIGGER [dbo].[fask_trg_CZMST_SI_HISTORY] 
   ON  [dbo].[CZMST_SI] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	insert into czmst_si_history select * from deleted
END
GO

/* vystupni data hlavicky vydeje */
CREATE TABLE [dbo].[CZMST_SIH] (
	[CountEntries] [int] NOT NULL ,
	[TISKARNA_NAME] [nvarchar] (30) NULL,  --Nazev vybrane dokladove tiskarny
	[PRAC_ID] [nvarchar] (30) NULL		   --ID vybraneho pracovnika 
) ON [PRIMARY]
GO

/* Historie vystupnich dat hlavicky vydeje */
CREATE TABLE [dbo].[CZMST_SIH_HISTORY] (
	[CountEntries] [int] NOT NULL ,
	[TISKARNA_NAME] [nvarchar] (30) NULL,  --Nazev vybrane dokladove tiskarny
	[PRAC_ID] [nvarchar] (30) NULL		   --ID vybraneho pracovnika 
) ON [PRIMARY]
GO

/***** Trigger pro ukladani historie vystupnich dat pro modul vydej *****/
CREATE TRIGGER [dbo].[fask_trg_CZMST_SIH_HISTORY] 
   ON  [dbo].[CZMST_SIH] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	insert into czmst_sih_history select * from deleted
END
GO

/****** Lokacni modul *****/
CREATE TABLE CZMST_SkladLokace_Stav
(
    [ITEMNMBR] [char] (31) NOT NULL,                  -- identifikator materialu prevzaty z IS (itemnmbr)
    [ITEMDESC] [char] (51) NULL,                  -- nazev (itemdest)
    [QTYSHPPD_DEF] [numeric] (19, 5) NOT NULL Default(0), -- puvodni mnozstvi (mnozstvi, ktere bylo nacteno pri inventure)
    [QTYSHPPD] [numeric] (19, 5) NOT NULL, -- mnozstvi
    [SERLTNUM] [char] (50) NOT NULL,        -- sarze    
    [SKL_ID] [char] (20) NULL,                     -- sklad
    [LOCNCODE] [char] (11) NULL,                   -- umisteni	[SERLTNUM] [char] (21) NOT NULL,        -- sarze (ve vystupnich datech je not null)
    [DATECHANGE] [DATETIME] NOT NULL,		-- datum posledni zmeny/upravy zaznamu
    [EXPIRATION] [DATETIME] NULL,                -- datum expirace
    [QTYSHPPD_DEF_DATE] [DATETIME] NULL,                -- datum a cas vlozeni zaznamu s vychozim mnozstvim inventury
    [QTY_OWNER] [numeric](19,5) DEFAULT(0) NOT NULL, -- pocet polozek pridelenich 
    [PRAC_ID_OWNER] [nvarchar](30) NULL -- ID pracovnika 
);

CREATE TABLE CZMST_SkladLokace_StavPohyb
(
    [id] [int] NOT NULL,					-- id pohybu
    [ITEMNMBR] [char] (31) NOT NULL,                  -- identifikator materialu prevzaty z IS (itemnmbr)
    [DOCUMENT_NUMBER] [char] (17) NULL,		-- pokud je prijem, vydej dle predlohy, bude obsahovat hodnotu SOPNUMBE(PONUMBE) (hodnoty cisla dokladu IS), pokud prodej, tak doc_id (czmst092)
    [POHYB_TYPE] [char] (1),      -- typ pohybu (P - prijem, V - vydej)
    [POHYB_SRC] [char] (1),        -- zdroj pohybu, modul, ktery provedl pohyb (P - prijem, V - vydej, R - prodej)
    [SOURCE] [char] (1) NULL,        -- zdroj, ktery vlozil data do databaze (T - terminal -> online f. ze ctecky, S - Server -> vlozeni do DB pri zpracovani davky serverem)
    [CountEntries] [int] NULL,		-- cislo davky, ktera se zpracovala (pokud bude vyplneno, bylo to pres terminal, jinak NULL)
    [QTYSHPPD] [numeric] (19, 5) NOT NULL, -- mnozstvi
    [SERLTNUM] [char] (50) NOT NULL,        -- sarze    
    [SKL_ID_SRC] [char] (20) NULL,                     -- zdrojovy sklad
    [SKL_ID_DST] [char] (20) NULL,                     -- cilovy sklad
    [LOCNCODE_SRC] [char] (11) NULL,                   -- zdrojova lokace
    [LOCNCODE_DST] [char] (11) NULL,                   -- cilova lokace
    [UserID] [int] NOT NULL,		-- id uzivatele, ktery provedl akci
    [TermID] [int] NOT NULL,			-- id terminalu
    [guid] [uniqueidentifier] NOT NULL,           -- guid pohybu (shodny se zaznamem z tabulky czmst_di, _pi, ...)
    [dateeveS] [DATETIME] NOT NULL,     -- datum a cas, kdy server zaznam zpracoval
    [dateeveT] [DATETIME] NOT NULL     -- datum a cas, kdy terminal zaznam zpracoval
 CONSTRAINT [PK_CZMST_SkladLokace_StavPohyb] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)
) ON [PRIMARY]
GO

/****** Object:  Index [IX_FASK_CZMST_SkladLokace_StavPohyb_Guid]    Script Date: 02/15/2016 14:42:13 ******/
CREATE NONCLUSTERED INDEX [IX_FASK_CZMST_SkladLokace_StavPohyb_Guid] ON [dbo].[CZMST_SkladLokace_StavPohyb] 
(
	[guid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

CREATE TABLE CZMST_SkladLokace_Mapa
(
    [SKL_ID] [char] (20) NULL,                     -- sklad
    [LOCNCODE] [char] (11) NULL,                   -- umisteni
    [TYPE] [nvarchar] (2),      -- typ lokace
    [Barcode] [nvarchar] (21), -- >??? carovy kod lokace
    [Description] [nvarchar] (40) NULL,	-- popis lokace
    [DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL	-- autoincrement
);


/* Seznam alternativnich lokaci pro polozky ve skladu. */
CREATE TABLE CZMST_SkladLokace_LokaceVariantySortiment
(
    [ITEMNMBR] [char] (31) NOT NULL,                  -- identifikator materialu prevzaty z IS (itemnmbr)
    [SKL_ID] [char] (20) NOT NULL,                     -- sklad !! zmeneno na not null, misto null !!
    [LOCNCODE] [char] (11) NOT NULL,                   -- umisteni	!! zmeneno na not null, misto null !!
    [TYPE] [nvarchar] (2) NOT NULL,      -- typ lokace (1 znak kvuli soucasne strukture mapy skladu)
    [UserID] [int] NULL,		-- id uzivatele, ktery provedl akci
    [TermID] [int] NULL,			-- id terminalu
    [DateCreated] [datetime] DEFAULT (getdate()) NOT NULL	-- datum a cas vytvoreni
) ON [PRIMARY]
GO

/* Seznam typu lokaci */
CREATE TABLE CZMST_SkladLokace_LokaceTypy
(
    [TYPE] [nvarchar] (2),      -- typ lokace (1 znak kvuli soucasne strukture mapy skladu)
    [Description] [nvarchar](50) NULL,                  -- popis
    [IS_RECEIVE] bit NOT NULL,	-- je prijmova lokace
    [IS_DEFAULT] bit NOT NULL,	-- je Výchozí lokace
    [IS_NORMAL] bit NOT NULL,	-- je běžná/normální lokace
) ON [PRIMARY]
GO