USE [Servis_FAD]
GO
/****** Object:  Table [dbo].[fask_obec_zhodnoceni]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fask_obec_zhodnoceni](
	[ID] [nvarchar](20) NOT NULL,
	[Oznaceni] [nvarchar](50) NOT NULL,
	[Barcode] [nvarchar](50) NULL,
 CONSTRAINT [PK_fask_obec_zhodnoceni] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[fask_obec_zhodnoceni] ([ID], [Oznaceni], [Barcode]) VALUES (N'Bez komentáře', N'1 - Bez komentáře', NULL)
INSERT [dbo].[fask_obec_zhodnoceni] ([ID], [Oznaceni], [Barcode]) VALUES (N'Stav. úpravy podlah', N'3 - Stavební úpravy podlah', NULL)
INSERT [dbo].[fask_obec_zhodnoceni] ([ID], [Oznaceni], [Barcode]) VALUES (N'Staveb. úpravy dveří', N'2 - Nutné stavební úpravy dveří', NULL)
/****** Object:  Table [dbo].[fask_dyn_dezinsekce]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fask_dyn_dezinsekce](
	[ID] [nvarchar](20) NOT NULL,
	[Oznaceni] [nvarchar](50) NOT NULL,
	[Barcode] [nvarchar](50) NULL,
 CONSTRAINT [PK_fask_dyn_dezinsekce] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[fask_dyn_dezinsekce] ([ID], [Oznaceni], [Barcode]) VALUES (N'1', N'1 - bez výskytu', NULL)
INSERT [dbo].[fask_dyn_dezinsekce] ([ID], [Oznaceni], [Barcode]) VALUES (N'2', N'2 - ojedinělý výskyt', NULL)
INSERT [dbo].[fask_dyn_dezinsekce] ([ID], [Oznaceni], [Barcode]) VALUES (N'3', N'3 - intenzivní výskyt', NULL)
/****** Object:  Table [dbo].[fask_dyn_deratizace]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fask_dyn_deratizace](
	[ID] [nvarchar](20) NOT NULL,
	[Oznaceni] [nvarchar](50) NOT NULL,
	[Barcode] [nvarchar](50) NULL,
 CONSTRAINT [PK_fask_dyn_deratizace] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[fask_dyn_deratizace] ([ID], [Oznaceni], [Barcode]) VALUES (N'A', N'A - přípravek nedotčen', NULL)
INSERT [dbo].[fask_dyn_deratizace] ([ID], [Oznaceni], [Barcode]) VALUES (N'B', N'B - částečný požer', NULL)
INSERT [dbo].[fask_dyn_deratizace] ([ID], [Oznaceni], [Barcode]) VALUES (N'C', N'C - intenzivní požer', NULL)
/****** Object:  Table [dbo].[FASK_CONS_LoginsAuth]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FASK_CONS_LoginsAuth](
	[id] [varchar](10) NOT NULL,
	[ADM] [tinyint] NOT NULL,
	[opr_select] [tinyint] NULL,
	[opr_insert] [tinyint] NULL,
	[opr_edit] [tinyint] NULL,
	[opr_delete] [tinyint] NULL,
 CONSTRAINT [PK_FASK_CONS_LoginsAuth] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FASK_CONS_LoginsAuth] ([id], [ADM], [opr_select], [opr_insert], [opr_edit], [opr_delete]) VALUES (N'1', 1, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[FASK_CONS_Logins]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FASK_CONS_Logins](
	[id] [varchar](10) NOT NULL,
	[firstname] [varchar](20) NOT NULL,
	[surname] [varchar](50) NOT NULL,
	[psswd] [varchar](10) NOT NULL,
 CONSTRAINT [PK_FASK_CONS_Logins] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FASK_CONS_Logins] ([id], [firstname], [surname], [psswd]) VALUES (N'1', N'', N'FASK', N'1')
INSERT [dbo].[FASK_CONS_Logins] ([id], [firstname], [surname], [psswd]) VALUES (N'2', N'', N'Test', N'2')
/****** Object:  Table [dbo].[FASK_CONS_095]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FASK_CONS_095](
	[ITEMNMBR] [char](31) NOT NULL,
	[ITEMDESC] [char](51) NULL,
	[VNDITNUM] [char](31) NULL,
	[CZ_CarKod] [char](31) NULL,
	[LOCNCODE] [char](11) NULL,
	[SKL_ID] [char](20) NULL,
	[QTY] [numeric](19, 5) NOT NULL,
	[QTYPACK] [numeric](19, 5) NULL,
	[MJ] [varchar](5) NOT NULL,
	[DMJ] [varchar](200) NULL,
	[TAXRATE] [numeric](4, 2) NULL,
	[PRICE0] [numeric](18, 2) NULL,
	[PRICE1] [numeric](18, 2) NULL,
	[PRICE2] [numeric](18, 2) NULL,
	[PRICE3] [numeric](18, 2) NULL,
	[PRICE4] [numeric](18, 2) NULL,
	[PRICE5] [numeric](18, 2) NULL,
	[CZ_SerNum_Track] [tinyint] NOT NULL,
	[CZ_SerNum_Delka] [smallint] NOT NULL,
	[CZ_Rez1_Track] [tinyint] NOT NULL,
	[CZ_Rez2_Track] [tinyint] NOT NULL,
	[CZ_Rez3_Track] [tinyint] NOT NULL,
	[CZ_Rez4_Track] [tinyint] NOT NULL,
	[REZ1] [varchar](10) NULL,
	[DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL,
	[ITEMCODE] [varchar](50) NULL,
	[ODB_ID] [varchar](12) NULL,
	[TIMEMODE] [int] NOT NULL,
	[TIMEPREP] [real] NOT NULL,
	[TIMEUNIT] [real] NOT NULL,
	[TIMEFROM] [datetime] NULL,
	[TIMETO] [datetime] NULL,
	[LSTMod] [datetime] NOT NULL,
	[loginid] [varchar](10) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CZMSTPWD]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CZMSTPWD](
	[LOGIN] [char](20) NOT NULL,
	[PASSWD] [char](20) NOT NULL,
	[ID] [int] NOT NULL,
	[ADM] [smallint] NULL,
	[FIRSTNAME] [char](15) NOT NULL,
	[SECONDNAME] [char](40) NOT NULL,
	[HASH] [nvarchar](128) NULL,
	[EAN] [char](31) NULL,
	[CODE] [nvarchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LOGIN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CZMSTPWD] ([LOGIN], [PASSWD], [ID], [ADM], [FIRSTNAME], [SECONDNAME], [HASH], [EAN], [CODE]) VALUES (N'1                   ', N'1                   ', 2, NULL, N'               ', N'FAD                                     ', NULL, N'1                              ', N'')
/****** Object:  Table [dbo].[CZMST090]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CZMST090](
	[odb_id] [nvarchar](12) NOT NULL,
	[odb_desc] [nvarchar](31) NULL,
	[odb_typ] [nvarchar](3) NULL,
	[odb_carcode] [nvarchar](21) NULL,
	[DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL,
	[odb_ico] [nvarchar](20) NULL,
	[mena_ID] [nvarchar](10) NULL,
	[odb_misto] [nvarchar](100) NULL,
	[odb_ulice] [nvarchar](100) NULL,
	[odb_cisloOr] [nvarchar](15) NULL,
	[odb_psc] [nvarchar](15) NULL,
	[odb_dic] [nvarchar](15) NULL,
	[odb_Odberatel] [bit] NULL,
	[odb_Dodavatel] [bit] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CZMST090] ON
INSERT [dbo].[CZMST090] ([odb_id], [odb_desc], [odb_typ], [odb_carcode], [DEX_ROW_ID], [odb_ico], [mena_ID], [odb_misto], [odb_ulice], [odb_cisloOr], [odb_psc], [odb_dic], [odb_Odberatel], [odb_Dodavatel]) VALUES (N'001', N'Potraviny ZNOJMO', NULL, N'001', 39, NULL, NULL, N'', N'', N'', N'', N'', 1, 0)
INSERT [dbo].[CZMST090] ([odb_id], [odb_desc], [odb_typ], [odb_carcode], [DEX_ROW_ID], [odb_ico], [mena_ID], [odb_misto], [odb_ulice], [odb_cisloOr], [odb_psc], [odb_dic], [odb_Odberatel], [odb_Dodavatel]) VALUES (N'005', N'Potraviny BLANSKO', NULL, N'005', 40, NULL, NULL, N'', N'', N'', N'', N'', 1, 0)
SET IDENTITY_INSERT [dbo].[CZMST090] OFF
/****** Object:  Table [dbo].[CZMST_Servis_ZdrojStav]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CZMST_Servis_ZdrojStav](
	[IDZdroj] [nvarchar](20) NOT NULL,
	[IDStav] [nvarchar](20) NOT NULL,
	[IDCinnost] [nvarchar](20) NULL,
	[Modified] [datetime] NOT NULL,
	[IDTerminal] [int] NULL,
	[IDUser] [int] NULL,
	[GUID] [uniqueidentifier] NULL,
	[CinnostValue] [nvarchar](50) NULL,
	[CinnostType] [nvarchar](2) NULL,
	[CountEntries] [int] NULL,
	[ODB_ID] [varchar](12) NULL,
	[OkruhID] [nvarchar](20) NULL,
	[CinnostOznaceni] [nvarchar](50) NULL,
	[GPS_X] [float] NULL,
	[GPS_Y] [float] NULL,
	[GPS_Z] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CZMST_Servis_ZdrojStav] ([IDZdroj], [IDStav], [IDCinnost], [Modified], [IDTerminal], [IDUser], [GUID], [CinnostValue], [CinnostType], [CountEntries], [ODB_ID], [OkruhID], [CinnostOznaceni], [GPS_X], [GPS_Y], [GPS_Z]) VALUES (N'001001001', N'10', N'100', CAST(0x0000A60C00BB2380 AS DateTime), 11, 2, N'9a3b8aee-c50c-4cca-976a-cab5697717f3', NULL, NULL, 71, N'001', N'001001', NULL, NULL, NULL, NULL)
INSERT [dbo].[CZMST_Servis_ZdrojStav] ([IDZdroj], [IDStav], [IDCinnost], [Modified], [IDTerminal], [IDUser], [GUID], [CinnostValue], [CinnostType], [CountEntries], [ODB_ID], [OkruhID], [CinnostOznaceni], [GPS_X], [GPS_Y], [GPS_Z]) VALUES (N'001001002', N'10', N'100', CAST(0x0000A60C00A19604 AS DateTime), 51, 1, N'40f08e3d-5d03-483c-829d-1e4284ddaa1d', NULL, NULL, 69, N'001', N'001001', NULL, NULL, NULL, NULL)
INSERT [dbo].[CZMST_Servis_ZdrojStav] ([IDZdroj], [IDStav], [IDCinnost], [Modified], [IDTerminal], [IDUser], [GUID], [CinnostValue], [CinnostType], [CountEntries], [ODB_ID], [OkruhID], [CinnostOznaceni], [GPS_X], [GPS_Y], [GPS_Z]) VALUES (N'001001003', N'10', N'100', CAST(0x0000A60F006D2AF1 AS DateTime), 52, 2, N'56ec5031-d176-4921-b3af-7cce7b9c29e6', NULL, NULL, 73, N'001', N'001001', NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[CZMST_Servis_ZdrojSeznam]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CZMST_Servis_ZdrojSeznam](
	[ID] [nvarchar](20) NOT NULL,
	[ZdrojID] [nvarchar](20) NOT NULL,
	[Poradi] [int] NULL,
	[IDStav] [nvarchar](20) NULL,
	[IDCinnost] [nvarchar](20) NULL,
 CONSTRAINT [PK_CZMST_Servis_ZdrojSeznam] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ZdrojID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CZMST_Servis_ZdrojSeznam] ([ID], [ZdrojID], [Poradi], [IDStav], [IDCinnost]) VALUES (N'001001', N'001001001', NULL, NULL, NULL)
INSERT [dbo].[CZMST_Servis_ZdrojSeznam] ([ID], [ZdrojID], [Poradi], [IDStav], [IDCinnost]) VALUES (N'001001', N'001001002', NULL, NULL, NULL)
INSERT [dbo].[CZMST_Servis_ZdrojSeznam] ([ID], [ZdrojID], [Poradi], [IDStav], [IDCinnost]) VALUES (N'001001', N'001001003', NULL, NULL, NULL)
/****** Object:  Table [dbo].[CZMST_Servis_ZdrojPohyb]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CZMST_Servis_ZdrojPohyb](
	[IDZdroj] [nvarchar](20) NOT NULL,
	[IDStav] [nvarchar](20) NOT NULL,
	[IDCinnost] [nvarchar](20) NULL,
	[Modified] [datetime] NOT NULL,
	[IDTerminal] [int] NOT NULL,
	[IDUser] [int] NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[CinnostValue] [nvarchar](50) NULL,
	[CinnostType] [nvarchar](2) NULL,
	[CountEntries] [int] NULL,
	[ODB_ID] [nchar](12) NULL,
	[OkruhID] [nchar](20) NULL,
	[dateeveS] [datetime] NULL,
	[CinnostOznaceni] [nvarchar](50) NULL,
	[GPS_X] [float] NULL,
	[GPS_Y] [float] NULL,
	[GPS_Z] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CZMST_Servis_ZdrojPohyb] ([IDZdroj], [IDStav], [IDCinnost], [Modified], [IDTerminal], [IDUser], [GUID], [CinnostValue], [CinnostType], [CountEntries], [ODB_ID], [OkruhID], [dateeveS], [CinnostOznaceni], [GPS_X], [GPS_Y], [GPS_Z]) VALUES (N'001001001', N'10', N'100', CAST(0x0000A5ED0103C817 AS DateTime), 51, 0, N'673ccfb8-291a-4bb2-8264-714f4d72bc44', N'B', N'D', 1, N'001         ', N'001001              ', CAST(0x0000A5ED00F36A53 AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[CZMST_Servis_ZdrojPohyb] ([IDZdroj], [IDStav], [IDCinnost], [Modified], [IDTerminal], [IDUser], [GUID], [CinnostValue], [CinnostType], [CountEntries], [ODB_ID], [OkruhID], [dateeveS], [CinnostOznaceni], [GPS_X], [GPS_Y], [GPS_Z]) VALUES (N'005002002', N'10', N'100', CAST(0x0000A5F0008A935B AS DateTime), 51, 1, N'c0df36ef-f96e-4856-b5fb-c4bcb6496f98', N'C', N'D', 15, N'005         ', N'005002              ', CAST(0x0000A5F0008AB3A2 AS DateTime), N'C - intenzivní požer', NULL, NULL, NULL)
INSERT [dbo].[CZMST_Servis_ZdrojPohyb] ([IDZdroj], [IDStav], [IDCinnost], [Modified], [IDTerminal], [IDUser], [GUID], [CinnostValue], [CinnostType], [CountEntries], [ODB_ID], [OkruhID], [dateeveS], [CinnostOznaceni], [GPS_X], [GPS_Y], [GPS_Z]) VALUES (N'005999', N'zhodnoceni', N'9999', CAST(0x0000A5F000A1946A AS DateTime), 51, 1, N'23a0c7ee-31f2-4d4f-b4af-03f5f3ac3445', NULL, NULL, 21, N'005         ', N'005001              ', CAST(0x0000A5F000A1B4E1 AS DateTime), NULL, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
/****** Object:  Table [dbo].[CZMST_Servis_Zdroj]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CZMST_Servis_Zdroj](
	[ID] [nvarchar](20) NOT NULL,
	[Oznaceni] [nvarchar](50) NOT NULL,
	[Barcode] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_CZMST_Servis_Zdroj] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CZMST_Servis_Zdroj] ([ID], [Oznaceni], [Barcode], [Type]) VALUES (N'001001001', N'S', N'001001001', NULL)
INSERT [dbo].[CZMST_Servis_Zdroj] ([ID], [Oznaceni], [Barcode], [Type]) VALUES (N'001001002', N'S', N'001001002', NULL)
INSERT [dbo].[CZMST_Servis_Zdroj] ([ID], [Oznaceni], [Barcode], [Type]) VALUES (N'001001003', N'S', N'001001003', NULL)
/****** Object:  Table [dbo].[CZMST_Servis_StavNext]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CZMST_Servis_StavNext](
	[ID] [nvarchar](20) NOT NULL,
	[IDNext] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_CZMST_Servis_StavNext_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDNext] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CZMST_Servis_StavNext] ([ID], [IDNext]) VALUES (N'10', N'10')
INSERT [dbo].[CZMST_Servis_StavNext] ([ID], [IDNext]) VALUES (N'11', N'11')
INSERT [dbo].[CZMST_Servis_StavNext] ([ID], [IDNext]) VALUES (N'99', N'99')
/****** Object:  Table [dbo].[CZMST_Servis_Stav]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CZMST_Servis_Stav](
	[ID] [nvarchar](20) NOT NULL,
	[Oznaceni] [nvarchar](50) NOT NULL,
	[IDCinnost] [nvarchar](20) NULL,
	[Barcode] [nvarchar](50) NULL,
 CONSTRAINT [PK_CZMST_Servis_Stav] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CZMST_Servis_Stav] ([ID], [Oznaceni], [IDCinnost], [Barcode]) VALUES (N'10', N'Stav derazitace', N'100', NULL)
INSERT [dbo].[CZMST_Servis_Stav] ([ID], [Oznaceni], [IDCinnost], [Barcode]) VALUES (N'11', N'Stav dezinsekce', N'101', NULL)
INSERT [dbo].[CZMST_Servis_Stav] ([ID], [Oznaceni], [IDCinnost], [Barcode]) VALUES (N'99', N'Testovací stav', N'3330', NULL)
/****** Object:  Table [dbo].[CZMST_Servis_Predloha]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CZMST_Servis_Predloha](
	[CountEntries] [int] NOT NULL,
	[DOCUMENT_NUMBER] [varchar](17) NULL,
	[Rozpracovano] [tinyint] NOT NULL,
	[OkruhID] [nvarchar](20) NOT NULL,
	[UserID] [int] NULL,
	[Barcode] [nvarchar](50) NULL,
	[DateCreated] [datetime] NULL,
	[ODB_ID] [varchar](12) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CZMST_Servis_Predloha] ([CountEntries], [DOCUMENT_NUMBER], [Rozpracovano], [OkruhID], [UserID], [Barcode], [DateCreated], [ODB_ID]) VALUES (1, N'001-001001', 151, N'001001', 0, NULL, NULL, NULL)
INSERT [dbo].[CZMST_Servis_Predloha] ([CountEntries], [DOCUMENT_NUMBER], [Rozpracovano], [OkruhID], [UserID], [Barcode], [DateCreated], [ODB_ID]) VALUES (2, N'001-001001', 151, N'001001', 0, NULL, NULL, NULL)
INSERT [dbo].[CZMST_Servis_Predloha] ([CountEntries], [DOCUMENT_NUMBER], [Rozpracovano], [OkruhID], [UserID], [Barcode], [DateCreated], [ODB_ID]) VALUES (3, N'005-005003', 151, N'005003', 1, NULL, NULL, NULL)
/****** Object:  Table [dbo].[CZMST_Servis_Okruh]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CZMST_Servis_Okruh](
	[ID] [nvarchar](20) NOT NULL,
	[Oznaceni] [nvarchar](50) NOT NULL,
	[ODB_ID] [varchar](12) NULL,
	[Barcode] [nvarchar](50) NULL,
	[ZdrojSeznamID] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_CZMST_Servis_Okruh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CZMST_Servis_Okruh] ([ID], [Oznaceni], [ODB_ID], [Barcode], [ZdrojSeznamID]) VALUES (N'001001', N'Oo - okruh oplocení', N'001', N'001', N'001001')
INSERT [dbo].[CZMST_Servis_Okruh] ([ID], [Oznaceni], [ODB_ID], [Barcode], [ZdrojSeznamID]) VALUES (N'001002', N'Vp - vnější půd. budov', N'001', N'002', N'001002')
INSERT [dbo].[CZMST_Servis_Okruh] ([ID], [Oznaceni], [ODB_ID], [Barcode], [ZdrojSeznamID]) VALUES (N'001003', N'Ž - živolovky', N'001', N'003', N'001003')
/****** Object:  Table [dbo].[CZMST_Servis_Dynamic_Table_Definition]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CZMST_Servis_Dynamic_Table_Definition](
	[FullName] [nvarchar](50) NOT NULL,
	[TypeName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_CZMST_Servis_Dynamic_Table_Definition] PRIMARY KEY CLUSTERED 
(
	[FullName] ASC,
	[TypeName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CZMST_Servis_Dynamic_Table_Definition] ([FullName], [TypeName]) VALUES (N'fask_dyn_deratizace', N'fask_dyn_deratizace')
INSERT [dbo].[CZMST_Servis_Dynamic_Table_Definition] ([FullName], [TypeName]) VALUES (N'fask_dyn_dezinsekce', N'fask_dyn_dezinsekce')
INSERT [dbo].[CZMST_Servis_Dynamic_Table_Definition] ([FullName], [TypeName]) VALUES (N'fask_obec_zhodnoceni', N'fask_obec_zhodnoceni')
/****** Object:  Table [dbo].[CZMST_Servis_CinnostNext]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CZMST_Servis_CinnostNext](
	[ID] [nvarchar](20) NOT NULL,
	[IDNext] [nvarchar](20) NULL,
	[IDValue] [nvarchar](20) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CZMST_Servis_CinnostNext] ([ID], [IDNext], [IDValue]) VALUES (N'3330', N'3331', NULL)
INSERT [dbo].[CZMST_Servis_CinnostNext] ([ID], [IDNext], [IDValue]) VALUES (N'3331', N'3332', NULL)
INSERT [dbo].[CZMST_Servis_CinnostNext] ([ID], [IDNext], [IDValue]) VALUES (N'3332', N'3333', NULL)
/****** Object:  Table [dbo].[CZMST_Servis_Cinnost]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CZMST_Servis_Cinnost](
	[ID] [nvarchar](20) NOT NULL,
	[Oznaceni] [nvarchar](50) NOT NULL,
	[Barcode] [nvarchar](50) NULL,
	[TYPE] [nvarchar](2) NOT NULL,
	[TYPEVALUE] [nvarchar](20) NULL,
	[Mandatory] [tinyint] NOT NULL,
	[RequiredLength] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CZMST_Servis_Cinnost] ([ID], [Oznaceni], [Barcode], [TYPE], [TYPEVALUE], [Mandatory], [RequiredLength]) VALUES (N'3330', N'Zadejte text 1', NULL, N'A', NULL, 1, NULL)
INSERT [dbo].[CZMST_Servis_Cinnost] ([ID], [Oznaceni], [Barcode], [TYPE], [TYPEVALUE], [Mandatory], [RequiredLength]) VALUES (N'3331', N'Zadejte číslo 1', NULL, N'N', NULL, 1, NULL)
INSERT [dbo].[CZMST_Servis_Cinnost] ([ID], [Oznaceni], [Barcode], [TYPE], [TYPEVALUE], [Mandatory], [RequiredLength]) VALUES (N'3332', N'Zadejte text 2', NULL, N'A', NULL, 1, NULL)
/****** Object:  Table [dbo].[CZ_UKOL_UZIV]    Script Date: 05/24/2016 07:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CZ_UKOL_UZIV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UkolID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[State] [nvarchar](1) NOT NULL,
	[DateChanged] [datetime] NULL,
	[UserIDChanged] [int] NULL,
	[Note] [nvarchar](200) NULL,
	[DateNotify] [datetime] NULL,
	[DateFinished] [datetime] NULL,
 CONSTRAINT [PK_CZ_UKOL_UZIV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF__CZ_UKOL_U__State__3D5E1FD2]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[CZ_UKOL_UZIV] ADD  DEFAULT (N'N') FOR [State]
GO
/****** Object:  Default [DF__CZMST_Ser__Manda__08EA5793]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[CZMST_Servis_Cinnost] ADD  DEFAULT ((1)) FOR [Mandatory]
GO
/****** Object:  Default [DF__CZMST_Ser__Rozpr__2A4B4B5E]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[CZMST_Servis_Predloha] ADD  DEFAULT ((0)) FOR [Rozpracovano]
GO
/****** Object:  Default [DF_CZMST_Servis_Predloha_DateCreated]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[CZMST_Servis_Predloha] ADD  CONSTRAINT [DF_CZMST_Servis_Predloha_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
/****** Object:  Default [DF_CZMST_Servis_ZdrojPohyb_dateeveS]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[CZMST_Servis_ZdrojPohyb] ADD  CONSTRAINT [DF_CZMST_Servis_ZdrojPohyb_dateeveS]  DEFAULT (getdate()) FOR [dateeveS]
GO
/****** Object:  Default [DF__CZMST090__odb_mi__1CF15040]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[CZMST090] ADD  DEFAULT ('') FOR [odb_misto]
GO
/****** Object:  Default [DF__CZMST090__odb_ul__1DE57479]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[CZMST090] ADD  DEFAULT ('') FOR [odb_ulice]
GO
/****** Object:  Default [DF__CZMST090__odb_ci__1ED998B2]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[CZMST090] ADD  DEFAULT ('') FOR [odb_cisloOr]
GO
/****** Object:  Default [DF__CZMST090__odb_ps__1FCDBCEB]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[CZMST090] ADD  DEFAULT ('') FOR [odb_psc]
GO
/****** Object:  Default [DF__CZMST090__odb_di__20C1E124]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[CZMST090] ADD  DEFAULT ('') FOR [odb_dic]
GO
/****** Object:  Default [DF__CZMST090__odb_Od__21B6055D]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[CZMST090] ADD  DEFAULT ((0)) FOR [odb_Odberatel]
GO
/****** Object:  Default [DF__CZMST090__odb_Do__22AA2996]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[CZMST090] ADD  DEFAULT ((0)) FOR [odb_Dodavatel]
GO
/****** Object:  Default [DF__CZMSTPWD__CODE__1B0907CE]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[CZMSTPWD] ADD  DEFAULT ('') FOR [CODE]
GO
/****** Object:  Default [DF__FASK_CONS__CZ_Re__03317E3D]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[FASK_CONS_095] ADD  DEFAULT ((0)) FOR [CZ_Rez1_Track]
GO
/****** Object:  Default [DF__FASK_CONS__CZ_Re__0425A276]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[FASK_CONS_095] ADD  DEFAULT ((0)) FOR [CZ_Rez2_Track]
GO
/****** Object:  Default [DF__FASK_CONS__CZ_Re__0519C6AF]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[FASK_CONS_095] ADD  DEFAULT ((0)) FOR [CZ_Rez3_Track]
GO
/****** Object:  Default [DF__FASK_CONS__CZ_Re__060DEAE8]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[FASK_CONS_095] ADD  DEFAULT ((0)) FOR [CZ_Rez4_Track]
GO
/****** Object:  Default [DF__FASK_CONS__TIMEM__07020F21]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[FASK_CONS_095] ADD  DEFAULT ((0)) FOR [TIMEMODE]
GO
/****** Object:  Default [DF__FASK_CONS_L__ADM__014935CB]    Script Date: 05/24/2016 07:59:36 ******/
ALTER TABLE [dbo].[FASK_CONS_LoginsAuth] ADD  DEFAULT ('0') FOR [ADM]
GO
