<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FASK.SledovaniVyroby.Module.MST_Prodej.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FASK.SledovaniVyroby.Module.MST_Prodej.Properties.Settings.TypDokladuConnectionString"
            connectionString="Data Source=|DataDirectory|\SQLDBs\TypDokladu.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="FASK.SledovaniVyroby.Module.MST_Prodej.Properties.Settings.TypDokladuConnectionString1"
            connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_06_alfa\SERVER\MST_Win_Kom_Server\SqlCEDBs\TypDokladu.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="FASK.SledovaniVyroby.Module.MST_Prodej.Properties.Settings.ProdejConnectionString"
            connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_06_alfa\SERVER\MST_Win_Kom_Server\SqlCEDBs\Prodej.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="FASK.SledovaniVyroby.Module.MST_Prodej.Properties.Settings.OdberateleConnectionString"
            connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_06_alfa\SERVER\MST_Win_Kom_Server\SqlCEDBs\Odberatele.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="FASK.SledovaniVyroby.Module.MST_Prodej.Properties.Settings.MenyConnectionString"
            connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_06_alfa\SERVER\MST_Win_Kom_Server\SqlCEDBs\Meny.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="FASK.SledovaniVyroby.Module.MST_Prodej.Properties.Settings.SkladyConnectionString"
            connectionString="Data Source=D:\_work_\_Vyvoj_Subversion_01\MST_06_alfa\SERVER\MST_Win_Kom_Server\SqlCEDBs\Sklady.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <applicationSettings>
        <FASK.SledovaniVyroby.Module.MST_Prodej.Properties.Settings>
            <setting name="MST_Prodej_ProdejService_ProdejService" serializeAs="String">
                <value>http://localhost/MST_Win_Kom_Server_6_alfa/Prodej.asmx</value>
            </setting>
            <setting name="MST_Prodej_InformationService_InformationsService"
                serializeAs="String">
                <value>http://localhost/MST_Win_Kom_Server_6_alfa/Informations.asmx</value>
            </setting>
            <setting name="MST_Prodej_ConfigurationService_Configuration"
                serializeAs="String">
                <value>http://localhost/MST_Win_Kom_Server_6_alfa/Configuration.asmx</value>
            </setting>
            <setting name="MST_Prodej_CiselnikService_CiselnikService" serializeAs="String">
                <value>http://localhost/MST_Win_Kom_Server_6_alfa/Ciselnik.asmx</value>
            </setting>
        </FASK.SledovaniVyroby.Module.MST_Prodej.Properties.Settings>
    </applicationSettings>
</configuration>