<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Zuby.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Zuby.Properties.Settings>
            <setting name="MenuStrip_SORTDATETIMEASC" serializeAs="String">
                <value>Seřadit od nejstarší po nejnovější</value>
            </setting>
            <setting name="MenuStrip_SORTDATETIMEDESC" serializeAs="String">
                <value>Seřadit od nejnovější po nejstarší</value>
            </setting>
            <setting name="MenuStrip_SORTBOOLASC" serializeAs="String">
                <value>Seřadit podle False/True</value>
            </setting>
            <setting name="MenuStrip_SORTBOOLDESC" serializeAs="String">
                <value>Seřadit podle True/False</value>
            </setting>
            <setting name="MenuStrip_SORTNUMASC" serializeAs="String">
                <value>Seřadit od nejmenší po největší</value>
            </setting>
            <setting name="MenuStrip_SORTNUMDESC" serializeAs="String">
                <value>Seřadit od největší po nejmenší</value>
            </setting>
            <setting name="MenuStrip_SORTTEXTASC" serializeAs="String">
                <value>Seřadit od А do Z</value>
            </setting>
            <setting name="MenuStrip_SORTTEXTDESC" serializeAs="String">
                <value>Seřadit od Z do A</value>
            </setting>
            <setting name="MenuStrip_ADDCUSTOMFILTER" serializeAs="String">
                <value>Přidejte vlastní filtr</value>
            </setting>
            <setting name="MenuStrip_CUSTOMFILTER" serializeAs="String">
                <value>Přidejte filtr</value>
            </setting>
            <setting name="MenuStrip_CLEARFILTER" serializeAs="String">
                <value>Smazat filtr</value>
            </setting>
            <setting name="MenuStrip_CLEARSORT" serializeAs="String">
                <value>Smazat řazení</value>
            </setting>
            <setting name="MenuStrip_BUTTONOK" serializeAs="String">
                <value>Filtr</value>
            </setting>
            <setting name="MenuStrip_BUTTONCANCEL" serializeAs="String">
                <value>zrušit</value>
            </setting>
            <setting name="MenuStrip_NODESELECTALL" serializeAs="String">
                <value>(Vybrat vše)</value>
            </setting>
            <setting name="MenuStrip_NODESELECTEMPTY" serializeAs="String">
                <value>(mezera)</value>
            </setting>
            <setting name="MenuStrip_FILTERCHECKLISTDISABLED" serializeAs="String">
                <value>Seznam filtrů je zakázán</value>
            </setting>
            <setting name="ToolBar_LABELSEARCH" serializeAs="String">
                <value>Vyhledávání:</value>
            </setting>
            <setting name="ToolBar_BUTTONFROMBEGINTOOLTIP" serializeAs="String">
                <value>Od začátku</value>
            </setting>
            <setting name="ToolBar_BUTTONCASESENSITIVETOOLTIP" serializeAs="String">
                <value>Rozlišovat velká/malá písmena</value>
            </setting>
            <setting name="ToolBar_BUTTONSEARCHTOOLTIP" serializeAs="String">
                <value>Najdi další</value>
            </setting>
            <setting name="ToolBar_BUTTONCLOSETOOLTIP" serializeAs="String">
                <value>Skrýt</value>
            </setting>
            <setting name="ToolBar_BUTTONWHOLEWORDTOOLTIP" serializeAs="String">
                <value>Vyhledat pouze celé slovo</value>
            </setting>
            <setting name="ToolBar_COMBOBOXCOLUMNSALL" serializeAs="String">
                <value>(Všechny sloupce)</value>
            </setting>
            <setting name="ToolBar_TEXTBOXSEARCHTOOLTIP" serializeAs="String">
                <value>Hodnota pro vyhledávání</value>
            </setting>
            <setting name="FormCustomFilter_EQUALS" serializeAs="String">
                <value>Rovná se</value>
            </setting>
            <setting name="FormCustomFilter_DOES_NOT_EQUAL" serializeAs="String">
                <value>Nerovná se</value>
            </setting>
            <setting name="FormCustomFilter_EARLIER_THAN" serializeAs="String">
                <value>Dříve než</value>
            </setting>
            <setting name="FormCustomFilter_LATER_THAN" serializeAs="String">
                <value>Později než</value>
            </setting>
            <setting name="FormCustomFilter_BETWEEN" serializeAs="String">
                <value>medzi</value>
            </setting>
            <setting name="FormCustomFilter_GREATER_THAN" serializeAs="String">
                <value>větší než</value>
            </setting>
            <setting name="FormCustomFilter_GREATER_THAN_OR_EQUAL_TO" serializeAs="String">
                <value>větší nebo roven</value>
            </setting>
            <setting name="FormCustomFilter_LESS_THAN" serializeAs="String">
                <value>méně než</value>
            </setting>
            <setting name="FormCustomFilter_LESS_THAN_OR_EQUAL_TO" serializeAs="String">
                <value>menší nebo rovné</value>
            </setting>
            <setting name="FormCustomFilter_BEGINS_WITH" serializeAs="String">
                <value>začíná s</value>
            </setting>
            <setting name="FormCustomFilter_DOES_NOT_BEGIN_WITH" serializeAs="String">
                <value>nezačíná s</value>
            </setting>
            <setting name="FormCustomFilter_ENDS_WITH" serializeAs="String">
                <value>končí s</value>
            </setting>
            <setting name="FormCustomFilter_DOES_NOT_END_WITH" serializeAs="String">
                <value>nekončí s</value>
            </setting>
            <setting name="FormCustomFilter_CONTAINS" serializeAs="String">
                <value>obsahuje</value>
            </setting>
            <setting name="FormCustomFilter_DOES_NOT_CONTAIN" serializeAs="String">
                <value>neobsahuje</value>
            </setting>
            <setting name="FormCustomFilter_INVALID_VALUE" serializeAs="String">
                <value>Neplatná hodnota</value>
            </setting>
            <setting name="FormCustomFilter_FILTER_STRING_DESCRIPTION" serializeAs="String">
                <value>Zobrazit řádky, kde je hodnota {0}\{1}\</value>
            </setting>
            <setting name="FormCustomFilter_FORM_TITLE" serializeAs="String">
                <value>Vlastní filtr</value>
            </setting>
            <setting name="FormCustomFilter_LABEL_COLUMNNAMETEXT" serializeAs="String">
                <value>Zobrazit řádky, kde je hodnota</value>
            </setting>
            <setting name="FormCustomFilter_LABEL_AND" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="FormCustomFilter_BUTTON_OK" serializeAs="String">
                <value>ok</value>
            </setting>
            <setting name="FormCustomFilter_BUTTON_CANCEL" serializeAs="String">
                <value>storno</value>
            </setting>
        </Zuby.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
