<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Fask.Vyroba_P.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Vyroba_P.Properties.Settings.ConnectionString" connectionString="Provider=SQLOLEDB.1;Data Source=.\sqlexpress;Password=sa;User ID=sa;Initial Catalog=AGRO_TISKY"
      providerName="System.Data.OleDb" />
    <add name="Vyroba_P.Properties.Settings.ConnectionString1" connectionString="Dsn=Rokospol;arrayfetchon=1;arraybuffersize=8;dbq=Rokospol;openmode=0;decimalsymbol=,;clientversion=9.50.077.002;codepageconvert=1250;autodoublequote=0"
      providerName="System.Data.Odbc" />
    <add name="VyrobaCEEntities" connectionString="metadata=res://*/Data.Model1.csdl|res://*/Data.Model1.ssdl|res://*/Data.Model1.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=D:\_work_\_Vyvoj_Subversion\Vyroba\Vyroba_Server\SqlCE\VyrobaCE.sdf&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <Fask.Vyroba_P.Properties.Settings>
      <setting name="Vyroba_P_WebServiceVyroba_Vyroba" serializeAs="String">
        <value>http://localhost/MST_Win_Kom_Server_7_Dasenka/Vyroba.asmx</value>
      </setting>
      <setting name="Vyroba_P_UkolovaniService_Ukolovani" serializeAs="String">
        <value>http://localhost/MST_Win_Kom_Server_7_Dasenka/Ukolovani.asmx</value>
      </setting>
      <setting name="Vyroba_P_WebServiceTisk_Tisk" serializeAs="String">
        <value>http://localhost/MST_Win_Kom_Server_7_Dasenka/Tisk.asmx</value>
      </setting>
    </Fask.Vyroba_P.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
