<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ScannerType" value="COM" />
    <add key="WebServiceTimeOut" value="35000" />
    <add key="WebServiceAddressVyroba" value="http://localhost/Vyroba/Vyroba.asmx" />
    <add key="TimerUploadInterval" value="30000" />
    <add key="CorrectionType" value="0" />
    <add key="TimerDownloadInterval" value="43200000" />
    <add key="Loging" value="True" />
    <add key="PasswordConfig" value="sa" />
    <add key="UEventSmenaEnabled" value="False" />
    <add key="TerminalID" value="51" />
    <add key="UEventSmenaLogin" value="1" />
    <add key="UEventSmenaLogout" value="2" />
    <add key="UEventPracovnikPrihlaseni" value="3" />
    <add key="UEventPracovnikOdhlaseni" value="4" />
    <add key="ApplicationPosition" value="0; 0" />
    <add key="LastDownload" value="6. 10. 2016 11:17:52" />
    <add key="MachineID" value="1" />
    <add key="UEventPracovnikLoginEnabled" value="True" />
    <add key="LastProductionUserID" value="" />
    <add key="DavkoveZpracovani" value="True" />
    <add key="DavkoveZpracovaniBlokace" value="False" />
    <add key="UdalostiPovolitZmenuCasuPrihlaseniPracovnika" value="True" />
    <add key="LoginUserTimeOut" value="09:00:00" />
    <add key="OdvadeniType" value="P" />
    <add key="OdvadeniPozadovatHesloUzivatele" value="False" />
    <add key="OdvadeniPozadovatZadaniStroje" value="False" />
    <add key="OdvadeniZobrazovatCasy" value="True" />
    <add key="StopPripravaStartVyrobaIhned" value="True" />
    <add key="ProductionOnlineTimeout" value="10000" />
    <add key="Production_UserMaxTimeSpanNoAction" value="10:00:00" />
    <add key="ConfigTiskSablony" value=".\Tisk\TiskSablony.xml" />
    <add key="FormPotvrzeniWidth" value="1366" />
    <add key="FormPotvrzeniHeight" value="768" />
    <add key="LastProductionDateTime" value="23.9.2015 10:24:42" />
    <add key="ModulPocetRadku" value="2" />
    <add key="ModulPocetSloupcu" value="3" />
    <add key="ModulPovolitOdvadeni" value="True" />
    <add key="ModulOdvadeniColumn" value="0" />
    <add key="ModulOdvadeniRow" value="0" />
    <add key="ModulOdvadeniRowSpan" value="1" />
    <add key="ModulOdvadeniColumnSpan" value="1" />
    <add key="ModulPovolitKorekce" value="True" />
    <add key="ModulKorekceColumn" value="0" />
    <add key="ModulKorekceRow" value="1" />
    <add key="ModulKorekceRowSpan" value="1" />
    <add key="ModulKorekceColumnSpan" value="1" />
    <add key="ModulPovolitUdalosti" value="False" />
    <add key="ModulUdalostiColumn" value="1" />
    <add key="ModulUdalostiRow" value="0" />
    <add key="ModulUdalostiRowSpan" value="2" />
    <add key="ModulUdalostiColumnSpan" value="1" />
    <add key="ModulPovolitPrehledOdvodu" value="True" />
    <add key="ModulPovolitNedokonceneZakazky" value="False" />
    <add key="VyberZakazkyPoPrihlaseni" value="False" />
    <add key="UdalostiZobrazitCasPrihlaseniPracovnika" value="True" />
    <add key="NecinnostTrvalaDeleNezDotaz" value="True" />
    <add key="OdvadeniPolozkaJizBylaOdvedena" value="True" />
    <add key="OdvadeniSledovatCastecneOdvody" value="False" />
    <add key="PredvyplnitZbyvajiciMnozstvi" value="True" />
    <add key="OdvadeniZadanVetsiPocetKOdvedeniDotaz" value="True" />
    <add key="ZahajeniZakazkyDotaz" value="True" />
    <add key="OvladaniNumerickouKlavesnici" value="False" />
    <add key="ZobrazovatChybySynchronizaceDatabaze" value="True" />
    <add key="UEventSmenaLogoutPasswordConfig" value="" />
    <add key="SouhrnPoStartzakazky" value="False" />
    <add key="PovolitUkonceniNaJinemStroji" value="False" />
    <add key="ModulPrehledOdvoduRow" value="0" />
    <add key="ModulPrehledOdvoduRowSpan" value="2" />
    <add key="ModulPrehledOdvoduColumn" value="1" />
    <add key="ModulPrehledOdvoduColumnSpan" value="2" />
    <add key="ModulPrehledOdvoduAutoUpdateInterval" value="60000" />
    <add key="ModulPrehledOdvoduFilterResetInterval" value="60000" />
    <add key="ModulPrehledPocetHodinHistorie" value="8" />
    <add key="ModulPrehledOdvoduPouzitDataZeServeru" value="false" />
    <add key="ModulPrehledOdvoduFontSize" value="7,25" />
    <add key="ModulPrehledOdvoduFontRowSize" value="7,25" />
    <add key="ModulPrehledOdvoduMaxDaysInHistory" value="7" />
    <add key="ModulNedokonceneZakazkyRow" value="1" />
    <add key="ModulNedokonceneZakazkyRowSpan" value="1" />
    <add key="ModulNedokonceneZakazkyColumn" value="1" />
    <add key="ModulNedokonceneZakazkyColumnSpan" value="1" />
    <add key="ModulNedokonceneZakazkyAutoUpdateInterval" value="60000" />
    <add key="ModulNedokonceneZakazkyFilterResetInterval" value="60000" />
    <add key="ModulNedokonceneZakazkyPouzitDataZeServeru" value="True" />
    <add key="ModulNedokonceneZakazkyFontSize" value="7,25" />
    <add key="ModulNedokonceneZakazkyFontRowSize" value="7,25" />
    <add key="OdhlasitUzivatelePriOdchoduZPracoviste" value="False" />
    <add key="OdhlasitUzivatelePriUkonceniPrestavky" value="False" />
    <add key="OdhlasitUzivatelePriZahajeniPrestavky" value="False" />
    <add key="PrestavkaID" value="-1" />
    <add key="OdvadeniUkonceniStartStopPovolitVlozeniStart" value="True" />
    <add key="PovolitUkonceniZJinehoStroje" value="False" />
    <add key="PovolitOdvadeniMnozstviNula" value="True" />
    <add key="ModulNedokonceneZakazkyPouzitFiltrNaStroj" value="False" />
    <add key="ModulNedokonceneZakazkyPouzitFiltrNaUzivatele" value="False" />
    <add key="CorrectsCheckEnable" value="True" />
    <add key="CorrectsCheckPercentEnable" value="True" />
    <add key="CorrectsCheckMinimumEnable" value="True" />
    <add key="CorrectsCheckPercentValue" value="10" />
    <add key="CorrectsCheckMinimumValue" value="00:10:00" />
  </appSettings>
</configuration>