<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>apostrofes expansion</Title>
			<Shortcut>aposexp</Shortcut>
			<Description>Code snippet for apostrofes</Description>
			<Author>FASK, spol. s r.o.</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Declarations>
				<Literal>
					<ID>expression</ID>
					<ToolTip>String value</ToolTip>
					<Default>string</Default>
				</Literal>
			</Declarations>
			<Code Language="csharp"><![CDATA["$expression$"$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>