<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Method</Title>
			<Shortcut>Method</Shortcut>
			<Description>Code snippet for create method</Description>
			<Author>FASK Tadeas Divacky</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Declarations>
				<Literal>
					<ID>name</ID>
					<ToolTip>Method name</ToolTip>
					<Default>XXX</Default>
				</Literal>
			</Declarations>
			<Code Language="csharp">
          <![CDATA[
        public void $name$()
        {

	}
	$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>