<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>settingsBool</Title>
			<Shortcut>settingsBool</Shortcut>
			<Description>Code snippet for Setting static property with type BOOL</Description>
			<Author>FASK Tadeas Divacky</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Declarations>
				<Literal>
					<ID>property</ID>
					<ToolTip>Property name</ToolTip>
					<Default>MyProperty</Default>
				</Literal>
			</Declarations>
			<Code Language="csharp"><![CDATA[
        public static bool $property$
        {
            get { return bool.Parse(GetValue("$property$", true.ToString())); }
            set { SetValue("$property$", value.ToString()); }
        }

	$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>