<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>settings</Title>
			<Shortcut>settings</Shortcut>
			<Description>Code snippet for Setting static property</Description>
			<Author>FASK, spol. s r.o.</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Declarations>
				<Literal>
					<ID>type</ID>
					<ToolTip>Property type</ToolTip>
					<Default>int</Default>
				</Literal>
				<Literal>
					<ID>property</ID>
					<ToolTip>Property name</ToolTip>
					<Default>MyProperty</Default>
				</Literal>
			</Declarations>
			<Code Language="csharp"><![CDATA[
        public static $type$ $property$
        {
            get { return $type$.Parse(GetValue("$property$", Properties.Resources.$property$)); }
            set { SetValue("$property$", value.ToString()); }
        }

	$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>