/****** Object:  StoredProcedure [dbo].[FASKEvents_Archivace_Vykladka]    Script Date: 28.03.2022 14:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Matous Rathouzsky
-- Create date: 11.2.2022
-- Description:	Vraci pocet archivovanych zaznamu
-- Info:		
-- =============================================
CREATE procedure [dbo].[FASKEvents_Archivace_Vykladka]
(
	-- Add the parameters for the procedure here
	--@cisloLinky int,
	@faskID uniqueidentifier

)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @pocet int
	
    declare @description_1 nvarchar(30)
    declare @description_2 nvarchar(30)
	declare @description_3 nvarchar(30)
	--declare @description_4 nvarchar(30)

	declare @stav int 
	declare @dateevepro nvarchar(20);
	declare @ido_pro nchar(10);
	--declare @description_4 nvarchar(30)
	    
	Set @description_1 = 'automaticke ulozeni paleta'
	Set @description_2 = 'posledni paleta 1'
	Set @description_3 = 'posledni paleta 3'
	set @dateevepro = CONVERT(nvarchar, getdate(), 120)
    set @ido_pro = 'R:' +
				SUBSTRING(@dateevepro, 6, 2) + 
				SUBSTRING(@dateevepro, 9, 2) +
				SUBSTRING(@dateevepro, 12, 2) + 
				--SUBSTRING(@dateevepro, 15, 2) + 
				SUBSTRING(@dateevepro, 18, 2)
	    
	Set @description_1 = 'presun na streckovacku'
	--Set @description_2 = 'posledni paleta 1'
	--Set @description_3 = 'posledni paleta 3'
	--Set @description_4 = 'automaticke ulozeni paleta'



	set @pocet = (
  SELECT COUNT(status)
  FROM [FASK_Events]
  where productionGuid is not null
  and faskGUID = @faskID
  and (status = 21 or status = 22 or status = 31 or status = 32 or status = 41 or status = 42)
  )

  	set @stav = (
  SELECT status
  FROM [FASK_Events]
  where productionGuid is not null
  and faskGUID = @faskID
  and (status = 21 or status = 22 or status = 31 or status = 32 or status = 41 or status = 42)
  )

  --zaznamy archivuji
UPDATE [FASK_Events]
   SET [status] = (@stav+900)
      ,[IDO] = @ido_pro
 where productionGuid is not null
   and faskGUID = @faskID
    and (status = 21 or status = 22 or status = 31 or status = 32 or status = 41 or status = 42)




	--najdu kolik je zaznamu a ulozim do promenne pocet 
	--if(@cisloLinky = 21)
--begin
--  --zaznamy archivuji
--	UPDATE [FASK_Events]
--   SET [status] = 921
--      ,[IDO] = 'R:'
--	 where productionGuid is not null
--	 and status = @cisloLinky
--	 and (description like @description_1)

--	 	UPDATE [FASK_Events]
--   SET [status] = 931
--      ,[IDO] = 'R:'
--	 where productionGuid is not null
--	 and status = 31

--	  	UPDATE [FASK_Events]
--   SET [status] = 941
--      ,[IDO] = 'R:'
--	 where productionGuid is not null
--	 and status = 41


--end

--else if(@cisloLinky = 22)
--begin
--set @pocet = (
--  SELECT COUNT(status)
--  FROM [FASK_Events]
--  where productionGuid is not null
--  and status = @cisloLinky
--  and (description like @description_1)
--  )

--  --zaznamy archivuji
--UPDATE [FASK_Events]
--   SET [status] = 922
--   ,[IDO] = 'R:'
-- where productionGuid is not null
--  and status = @cisloLinky
--  and (description like @description_1)

--  	 	UPDATE [FASK_Events]
--   SET [status] = 932
--   ,[IDO] = 'R:'
--	 where productionGuid is not null
--	 and status = 32

--	  	UPDATE [FASK_Events]
--   SET [status] = 942
--   ,[IDO] = 'R:'
--	 where productionGuid is not null
--	 and status = 42

--end


	-- Return the result of the function
	RETURN @pocet

END