<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZZS_Servis_096_AD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ZZS_Servis_096_AD.Properties.Settings.ConnectionString"
            connectionString="Data Source=BRN-UCTO1\SQLEXPRESS;Initial Catalog=ZZS-Data;Persist Security Info=True;User ID=sa;Password=pro159Fask"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <ZZS_Servis_096_AD.Properties.Settings>
            <setting name="DomenaAD" serializeAs="String">
                <value>zzsjmk</value>
            </setting>
            <setting name="Period" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeSyncMIN" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="TimeSyncHO" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>faskevidence</value>
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value>Ev1d@nPr4DFr18</value>
            </setting>
        </ZZS_Servis_096_AD.Properties.Settings>
    </applicationSettings>
</configuration>